---
title: 1 Column Containers
category: Layout Grid Containers
breadcrumbs:
  type: inline
  list:
  - name: Layout Grid Containers
    link: index.html
  - name: 1 Column Containers
---

<h1>1 Column Containers</h1>

<!-- Example: Accordion -->
{{#extend 'code-example'}}
  {{#content 'section-id'}}one-column-container{{/content}}

  {{#content 'section-title'}}Two-Thirds Centered{{/content}}

  {{#content 'HTML'}}

<div class="row">
    <div class="col-sm-8 col-sm-offset-2">
        <div class="layout-example">Container</div>
    </div>
</div>

  {{/content}}
{{/extend}}
