---
title: 2 Column Containers
category: Layout Grid Containers
breadcrumbs:
  type: inline
  list:
  - name: Layout Grid Containers
    link: index.html
  - name: 2 Column Containers
---

<h1>2 Column Containers</h1>

<!-- Example: One-Third / Two-Thirds -->
{{#extend 'code-example'}}
  {{#content 'section-id'}}two-column-containers-4-8{{/content}}

  {{#content 'section-title'}}One-Third / Two-Thirds{{/content}}

  {{#content 'HTML'}}

<div class="row">
    <div class="col-sm-4">
        <div class="layout-example">Container</div>
    </div>
    <div class="col-sm-8">
        <div class="layout-example">Container</div>
    </div>
</div>

  {{/content}}
{{/extend}}


<!-- Example: Two-Thirds / One-Third -->
{{#extend 'code-example'}}
  {{#content 'section-id'}}two-column-containers-8-4{{/content}}

  {{#content 'section-title'}}Two-Thirds / One-Third{{/content}}

  {{#content 'HTML'}}

<div class="row">
    <div class="col-sm-8">
        <div class="layout-example">Container</div>
    </div>
    <div class="col-sm-4">
        <div class="layout-example">Container</div>
    </div>
</div>

  {{/content}}
{{/extend}}


<!-- Example: Half / Half -->
{{#extend 'code-example'}}
  {{#content 'section-id'}}two-column-containers-6-6{{/content}}

  {{#content 'section-title'}}Half / Half{{/content}}

  {{#content 'HTML'}}

<div class="row">
    <div class="col-sm-6">
        <div class="layout-example">Container</div>
    </div>
    <div class="col-sm-6">
        <div class="layout-example">Container</div>
    </div>
</div>

  {{/content}}
{{/extend}}
