---
title: 3 Column Containers
category: Layout Grid Containers
breadcrumbs:
  type: inline
  list:
  - name: Layout Grid Containers
    link: index.html
  - name: 3 Column Containers
---

<h1>3 Column Container</h1>

<!-- Example: One-Third / One-Third / One-Third -->
{{#extend 'code-example'}}
  {{#content 'section-id'}}one-column-container{{/content}}

  {{#content 'section-title'}}One-Third / One-Third / One-Third{{/content}}

  {{#content 'HTML'}}

<div class="row">
    <div class="col-sm-4">
        <div class="layout-example">Container</div>
    </div>
    <div class="col-sm-4">
        <div class="layout-example">Container</div>
    </div>
    <div class="col-sm-4">
        <div class="layout-example">Container</div>
    </div>
</div>

  {{/content}}
{{/extend}}
