---
title: 4 Column Containers
category: Layout Grid Containers
breadcrumbs:
  type: inline
  list:
  - name: Layout Grid Containers
    link: index.html
  - name: 4 Column Containers
---

<h1>4 Column Container</h1>

<!-- Example: One-Fourth / One-Fourth / One-Fourth / One-Fourth -->
{{#extend 'code-example'}}
  {{#content 'section-id'}}four-column-container{{/content}}

  {{#content 'section-title'}}One-Fourth / One-Fourth / One-Fourth / One-Fourth{{/content}}

  {{#content 'HTML'}}

<div class="row">
    <div class="col-sm-6 col-md-3">
        <div class="layout-example">Container</div>
    </div>
    <div class="col-sm-6 col-md-3">
        <div class="layout-example">Container</div>
    </div>
    <div class="col-sm-6 col-md-3">
        <div class="layout-example">Container</div>
    </div>
    <div class="col-sm-6 col-md-3">
        <div class="layout-example">Container</div>
    </div>
</div>

  {{/content}}
{{/extend}}
