//== Breadcrumbs
//
//**

.c-breadcrumbs {
  margin-bottom: $base-spacing;

  li {
    position: relative;

    &:not(:last-of-type) {
      &::after {
        position: absolute;
        top: 0;
        right: -5px;
        text-align: center;
        color: inherit;
        content: '/';
      }
    }
  }
}

@media screen and (max-width: $screen-sm-min - 1px) {
  .c-breadcrumbs {
    width: 100%;

    li {
      display: inline-block;
      width: 100%;

      &:not(:last-of-type) { display: none; }
    }

    a {
      display: block;
      margin: 0;
      width: 100%;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }
}
