<div class="panel panel-default">
  <div class="panel-heading" role="tab" id="heading-{{#block 'id'}}{{/block}}">
    <h4 class="panel-title">
      <a role="button" data-toggle="collapse" data-parent="#{{#block 'parent_id'}}{{/block}}" href="#content-{{#block 'id'}}{{/block}}" aria-expanded="true" aria-controls="collapseOne" class="collapsed">
        {{#block 'title'}}{{/block}}
      </a>
    </h4>
  </div>
  <div id="content-{{#block 'id'}}{{/block}}" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
    <div class="panel-body">
      {{#block 'body'}}{{/block}}
    </div>
  </div>
</div>
