<div class="demo-section" id="{{#block "section-id"}}{{/block}}">
  <h2>{{#block "section-title"}}{{/block}}</h2>

  {{! Rendered Component }}
  <div class="rendered-component">
    {{#if_block "HTML"}}
      {{#block "HTML"}}{{/block}}
    {{/if_block}}
  </div>

  <div class="code-snippet">
    <p class="js-show-code-snippet"><span class="icon icon-arrowdown down-arrow"></span>Show Code</p>
    <p class="js-hide-code-snippet u-hidden"><span class="icon icon-arrowup up-arrow"></span>Hide Code</p>
  </div>

  <div class="js-code-snippet u-hidden">

    {{! HTML Code Sample }}
    {{#if_block "HTML"}}
    <div class="code-snippet html-code">
      <div class="zero-clipboard">
        <span class="btn-clipboard">Copy</span>
      </div>
      <div class="highlight">
        <pre class="pre-scrollable">
          <code class="language-html"></code>
        </pre>
      </div>
    </div>
    {{/if_block}}

  </div>
</div>
