<div class="o-alert-container">
  <div class="o-alert-container__title{{#if_block "theme"}} t-{{#block "theme"}}{{/block}}{{/if_block}}">
    {{#if_block "icon"}}<i class="fa fa-{{#block "icon"}}{{/block}}" aria-hidden="true"></i>{{/if_block}} {{#block "title"}}{{/block}}
  </div>
  <div class="o-alert-container__body">
    {{#block "body"}}{{/block}}
  </div>
</div>
