<section class="row">
  <div class="col-sm-4">
    {{#block 'column-1'}}{{/block}}
  </div>
  <div class="col-sm-4">
    {{#block 'column-2'}}{{/block}}
  </div>
  <div class="col-sm-4">
    {{#block 'column-3'}}{{/block}}
  </div>
</section>
