<section class="row">
  <div class="col-sm-6 col-md-3">
    {{#block 'column-1'}}{{/block}}
  </div>
  <div class="col-sm-6 col-md-3">
    {{#block 'column-2'}}{{/block}}
  </div>
  <div class="col-sm-6 col-md-3">
    {{#block 'column-3'}}{{/block}}
  </div>
  <div class="col-sm-6 col-md-3">
    {{#block 'column-4'}}{{/block}}
  </div>
</section>
