<li>
    <a href="#" class="media">
        <div class="media-body">
            {{#block "content"}}{{/block}}
        </div>
        <div class="media-right">
            <div class="u-icon">
                {{> icon-chevron }}
            </div>
        </div>
    </a>
</li>