<section class="o-static-stepper">

  <!-- Stepper Header -->
  <header class="o-static-stepper__header">
    <h1>{{#block 'title'}}{{/block}}</h1>
    <p>{{#block 'secondary-title'}}{{/block}}</p>
  </header>

  <!-- Current Step Content -->
  <div class="o-static-stepper__content">
    {{#block 'content'}}{{/block}}
  </div>

</section>
