<section class="o-task-layout">

  <!-- Stepper Header -->
  <header class="o-task-layout__header">
    {{#if_block 'step-count'}}<span>{{#block 'step-count'}}{{/block}}</span>{{/if_block}}
    <p class="lead">{{#block 'title'}}{{/block}}</p>
  </header>

  <div class="o-task-layout__content">

    {{! Wide content }}
    <div class="container-fluid container-800">
      {{#if_block 'wide-content'}}
      <div class="row">
        <div class="col-xs-12">
          {{#block 'wide-content'}}{{/block}}
        </div>
      </div>
      {{/if_block}}
    </div>

    {{! Narrow content }}
    <div class="container-fluid container-400">
      {{#if_block 'content'}}
      <div class="row">
        <div class="col-xs-12">
          {{#block 'content'}}{{/block}}
        </div>
      </div>
      {{/if_block}}

    </div>
  </div>

</section>
