<!-- Nav tabs -->
<ul class="nav nav-tabs {{#block 'type'}}{{/block}}" role="tablist">
  {{#block 'tabs'}}{{/block}}
</ul>

<!-- Tab panes -->
<div class="tab-content">
  {{#block 'tab-contents'}}{{/block}}
</div>