<li role="presentation" class="{{#block "class"}}{{/block}}">
    <a href="#{{#block 'id'}}{{/block}}" aria-controls="{{#block 'id'}}{{/block}}" role="tab" data-toggle="tab">{{#block 'label'}}{{/block}}</a>
</li>