<div class="c-address-card">
  {{#if directions}}
  <a href="#" class="btn btn-default btn-sm pull-right">Directions</a>
  {{/if}}

  <strong>{{title}}</strong>

  <p>{{address-line-1}}<br>
    {{#if address-line-2}}
    {{address-line-2}}<br>
    {{/if}}
    {{city}}, {{state}} {{zipcode}}</p>

  <p class="c-address-card__info">Hours: {{hours}}<br>
  Phone: {{phone}}<br>
  Distance: {{distance}}</p>

</div>
