<div class="c-category-grid__inner text-center">
    <div class="ratio-16-9-container" style="background-image: url({{media.src}});"></div>
    <h3>{{{title}}}</h3>
    <p class="c-category-grid__description">{{{description}}}</p>
    <a href="{{link.href}}" class="btn btn-default btn-default--gray">{{{link.text}}}</a>
</div>