<div class="c-category-grid__inner text-center">
    <div class="c-category-grid-icon">
        {{{icon}}}
        <h3>{{{title}}}</h3>
        <div class="c-category-grid-icon__copy">
            <p class="c-category-grid__description">{{{description}}}</p>
            <a href="{{link.href}}" class="btn btn-default btn-default--gray">{{{link.text}}}</a>
        </div>
    </div>
</div>