<div class="o-layout--full-page c-content-image-header" {{#if background-image}}style="background-image:url({{background-image}});"{{/if}}>
    <div class="container-fluid">
        <h1>{{{title}}}</h1>
    </div>
    {{#if search}}
    <div class="container-fluid container-400">
        <div class="row">
            <div class="col-xs-12">
                <form id="account-selector-search" role="search">
                    <label id="account-selector-search-label" for="account-selector-search" class="sr-only">Search</label>
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Search" name="account-selector-search" id="account-selector-search">
                        <div class="input-group-btn">
                            <button class="btn btn-default" type="submit" aria-labelledby="account-selector-search-label"><i class="glyphicon glyphicon-search"></i></button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    {{/if}}
</div>
