<div class="c-cta-grid">
  <div class="row">
    {{#each items}}
    <div class="col-xs-12 col-sm-6" data-height="equal">
      <a href="{{href}}" class="c-cta-grid__item">
        <!-- TODO: add optional SVG icon -->
        {{#if icon}}

        {{/if}}

        <div class="c-cta-grid__item-text">
          <h4>{{title}}{{#if file}}<small>({{file}})</small>{{/if}}</h4>
          {{#if description}}
          <p>{{description}}</p>
          {{/if}}
        </div>

        {{> icon-chevron }}
      </a>
    </div>
    {{/each}}
  </div>
</div>
