<!-- Figure with caption component -->
<figure class="c-figure">

  <!-- Content of figure -->
  {{{ figure_content }}}

  <!-- Caption of figure -->
  <figcaption class="c-figure__caption">
    {{{ caption }}}
  </figcaption>
</figure>
