<!-- Select -->
<div class="form-group">

  <!-- Label -->
  <label for="{{id}}">{{label}}</label>

  <!-- Optional Popover -->
  {{#if popover}}
  <a tabindex="0" class="badge" role="button" data-toggle="popover" data-trigger="focus" data-placement="top" data-viewport="main" data-content="{{popover}}">i</a>
  {{/if}}

  <!-- Select -->
  <select id="{{id}}" name="{{id}}"
          class="form-control"
          {{#if required}}required data-required-error="{{required.message}}"{{/if}}>
    {{#each options}}
      <option
        {{#if this.value}} value="{{this.value}}"{{/if}}
        {{#compare this.value ""}} value=""{{/compare}}>
        {{this.text}}
      </option>
    {{/each}}
  </select>

  <!-- Optional Helper Text -->
  <p class="help-block">{{#if helper-text}}{{helper-text}}{{/if}}</p>
  <div class="help-block with-errors"></div>
</div>
