<!-- Text Input -->
<div class="form-group has-feedback">

  <!-- Label -->
  <label for="{{id}}">{{label}}</label>

  <!-- Optional Popover -->
  {{#if popover}}
  <a tabindex="0" class="badge" role="button" data-toggle="popover" data-trigger="focus" data-placement="top" data-viewport="main" data-content="{{popover}}">i</a>
  {{/if}}

  {{#compare type "password"}}
  <div class="password-group">
  {{/compare}}

  <!-- Input -->
  <input type="{{type}}" class="form-control"
         id="{{id}}" name="{{id}}"
         placeholder="{{placeholder}}"
         {{#if required}}required data-required-error="{{required.message}}"{{/if}}
         {{#if minlength}}minlength="{{minlength.length}}" data-minlength-error="{{minlength.message}}"{{/if}}
         {{#if maxlength}}maxlength="{{maxlength.length}}" data-maxlength-error="{{maxlength.message}}"{{/if}}
         {{#if equals}}data-equals="{{equals.value}}"{{/if}}
         />

  {{#compare type "password"}}
  <span tabindex="0" class="btn btn-link" data-toggle="password" data-show="Show" data-hide="Hide">Show</span>
  </div>
  {{/compare}}

  <!-- Optional Helper Text -->
  <p class="help-block">{{#if helper-text}}{{helper-text}}{{/if}}</p>
  <div class="help-block with-errors"></div>
</div>
