<!-- Checkbox Group -->
<fieldset class="form-group">
  {{#if legend}}<legend class="label-like">{{legend}}</legend>{{/if}}

  {{#each checkboxes}}
  <div class="checkbox">
    <label>
      <input type="checkbox"
             id="{{../id}}_{{@index}}"
             name="{{../id}}_{{@index}}"
             value="{{this.value}}"
             {{#if required}}required data-required-error="{{required.message}}"{{/if}}>
      {{{label}}}
    </label>
    <div class="help-block with-errors"></div>
  </div>
  {{/each}}

</fieldset>
