<!-- Radio Group -->
<fieldset>
  <legend class="label-like">{{legend}}</legend>

  {{#each radios}}
  <div class="radio {{class}}">
    <label>
      <input type="radio" id="{{../id}}_{{@index}}" name="{{../id}}" value="{{this.value}}">
      {{label}}
    </label>
    <span>{{{helper}}}</span>
  </div>
  {{/each}}
</fieldset>
