<!-- Radio Pill Group -->
<fieldset>
  <legend class="label-like">{{legend}}</legend>

  <div class="c-radio-pill-group">

    {{#each radios}}
    <div class="radio">
      <input type="radio" id="{{../id}}_{{@index}}" name="{{../id}}" value="{{this.value}}" {{#compare @index 0}}checked {{/compare}}>
      <label for="{{../id}}_{{@index}}">{{label}}</label>
    </div>
    {{/each}}
  </div>
</fieldset>
