<!-- Input Panel -->
<fieldset>
  <legend class="label-like">{{legend}}</legend>

  <div class="c-input-panel">

    {{#each inputs}}
    <div class="{{../type}}" data-height="equal">
      <input type="{{../type}}" id="{{../id}}_{{@index}}" name="{{../id}}" value="{{this.value}}" {{#compare @index 0}}checked {{/compare}}>
      <label for="{{../id}}_{{@index}}"><span>{{label}}</span></label>
    </div>
    {{/each}}
  </div>
</fieldset>
