<label for="spinner">Your pledge per month</label>
<div class="input-spinner">
    <button type="button" class="btn" data-value="decrease" data-target="#spinner" data-toggle="spinner">
        {{> icon-minus }}
    </button>
    <input type="text" data-ride="spinner" id="spinner" class="form-control input-number text-center" value="1">
    <button type="button" class="btn" data-value="increase" data-target="#spinner" data-toggle="spinner">
        {{> icon-plus }}
    </button>
</div>