<div class="c-helper row">
  <div class="col-sm-8">
    <h2>{{{title}}}</h2>
    <p>{{{description}}}</p>
  </div>
  <div class="col-sm-4">
    <a href="{{link.href}}" class="btn btn-primary btn-block">{{link.text}}</a>
  </div>
</div>
