<div class="navbar-header">
    
    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#main-menu" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
    </button>
    
    <a href="#" class="navbar-toggle collapsed pull-right" data-toggle="collapse" data-target="#account-menu" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle account menu</span>
        {{> icon-account--default}}
    </a>

    <a href="#" class="navbar-brand text-center">
        <span class="sr-only">Ameren. Focused energy. For life.</span>
        <div class="logo-container">{{> logo-ameren}}</div>
    </a>
</div>