<ul class="nav nav--secondary navbar-nav navbar-right">
    <li>
        <a href="#">
        {{> icon-outage--1 }}
        Outages
        </a>
    </li>
    <li>
        <a href="#">
        {{> icon-support }}
        Support
        </a>
    </li>
    <li class="hidden-lg">
        <a href="#">
        {{> icon-account--default }}
        Account
        </a>
    </li>
    <li class="visible-lg-block">
        <a href="#" class="collapsed" data-toggle="collapse" data-target="#account-menu" aria-expanded="false" aria-controls="navbar">
        {{> icon-account--logged-in }}
        <span>Welcome,</span>
        <strong>Alexandria</strong>
        </a>
    </li>
</ul>