<div class="navbar-header">
    
    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#main-menu" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
    </button>
    
    <button type="button" class="navbar-toggle collapsed pull-right" data-toggle="collapse" data-target="#account-menu" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle account menu</span>
        {{> icon-account--default}}
    </button>

    <button type="button" class="navbar-brand collapsed" data-toggle="collapse" data-target="#state-selector" aria-expanded="false">
        <span class="sr-only">Ameren. Focused energy. For life.</span>
        <div class="logo-container">{{> logo-ameren}}</div>
        <div class="u-icon">{{> icon-chevron }}</div>
    </button>
</div>