<ul class="nav nav--primary navbar-nav" id="nav--primary" role="tablist">
    {{#each main}}
    <li>
        <a href="#" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#main-menu__sub-nav-{{@index}}" data-parent="#nav--primary" aria-expanded="false" aria-controls="navbar">
            {{name}}
        </a>
    </li>
    {{/each}}
</ul>