<div class="navbar-header--mobile hidden-lg">
    <a href="/">
        {{> icon-arrow}}
        Go to Homepage
    </a>
    <button type="button" class="navbar-toggle collapsed pull-right" data-toggle="collapse" data-target="#main-menu" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        {{> icon-close}}
    </button>
</div>