{{#each main}}
<div id="main-menu__sub-nav-{{@index}}" class="navbar-collapse collapse o-takeover nav--subnav" aria-expanded="false">
    
    <!-- Desktop Close Button -->
    <button type="button" class="o-takeover__close visible-lg-block collapsed" data-toggle="collapse" data-target="#main-menu__sub-nav-{{@index}}" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        {{> icon-close}}
    </button>

    <div class="sub-nav-wrapper">
        <div class="navbar-header--mobile hidden-lg">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#main-menu" aria-expanded="false" aria-controls="navbar">
                {{> icon-arrow}}
                Back
            </button>
            <button type="button" class="navbar-toggle collapsed pull-right" data-toggle="collapse" data-target="#main-menu__sub-nav-{{@index}}" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                {{> icon-plus}}
            </button>
        </div>
        <div class="sub-nav-inner-wrapper">
            <h2>{{name}}</h2>
            <ul>
                {{#each sub}}
                    <li><a href="{{link}}">{{name}}</a></li>
                {{/each}}
            </ul>
        </div>
    </div>
</div>
{{/each}}