<form class="navbar-form pull-right" role="search">
    <div class="input-group">
        <input type="text" class="form-control" placeholder="Search" name="navbar-search" id="navbar-search" aria-label="Search">
        <div class="input-group-btn">
        <button class="btn btn-default" type="submit">
            <span class="sr-only">Search</span>
            {{> icon-search }}
        </button>
        </div>
    </div>
</form>