<div id="account-menu" class="navbar-collapse collapse o-takeover" aria-expanded="false">

    <!-- Mobile Navigation Header -->
    <div class="navbar-header--mobile hidden-lg">
        <a href="/">
            {{> icon-account--logged-in }}
            <span>Welcome,</span>
            <strong>Alexandria</strong>
        </a>
        <button type="button" class="navbar-toggle collapsed pull-right" data-toggle="collapse" data-target="#account-menu" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            {{> icon-plus}}
        </button>
    </div>

    <!-- Desktop Close Button -->
    <button type="button" class="o-takeover__close visible-lg-block collapsed" data-toggle="collapse" data-target="#account-menu" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        {{> icon-close}}
    </button>

    <div class="container-overlay">
        <div class="row">
            
            <!-- Main Navigation -->
            <div class="col-xs-12 col-lg-6 pull-right divider" data-height="equal">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="#">
                            <div class="u-icon u-icon--badge--primary">{{> icon-dashboard }}</div>
                            My Dashboard
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <div class="u-icon u-icon--badge--primary">{{> icon-paybill--2 }}</div>
                            Pay My Bill
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <div class="u-icon u-icon--badge--primary">{{> icon-power }}</div>
                            Start, Stop Move
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <div class="u-icon u-icon--badge--secondary-a">{{> icon-close }}</div>
                            Log Out
                        </a>
                    </li>
                </ul>
            </div>

            <!-- Account Info -->
            <div class="col-xs-12 col-lg-6" data-height="equal">
                <div class="centered-content">
                    <div class="centered-content-inner">
                        <p class="text-light">Viewing Account</p>
                        <p class="text-bold">
                            1234 Street Name, Unit 6<br>
                            City, State 63108
                        </p>
                        <p class="text-light">54321-09876</p>
                        <a href="#" class="btn btn-default btn-block">{{> icon-switch }} Switch</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>