<ul class="nav nav--secondary navbar-nav navbar-right">
    <li>
        <a href="#">
        {{> icon-outage--1 }}
        Outages
        </a>
    </li>
    <li>
        <a href="#">
        {{> icon-support }}
        Support
        </a>
    </li>
    <li>
        <a href="#">
        {{> icon-account--default }}
        Account
        </a>
    </li>
</ul>