<div id="state-selector" class="navbar-collapse collapse o-takeover" aria-expanded="false">

    <!-- Desktop Close Button -->
    <button type="button" class="o-takeover__close collapsed" data-toggle="collapse" data-target="#state-selector" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        {{> icon-close}}
    </button>

    <div class="container-overlay">
        <div class="row">

            <div class="container">
                <a href="/" class="btn btn-default btn-block">Home</a>
                <p class="c-divider-text">or</p>
            </div>

            <p class="lead">Select your state to personalize your experience</p>

            <div class="container">
                <div class="col-xs-6">
                    <a href="#" class="state-container-illinois">
                        <div>{{> state--illinois}}</div>
                        <span>Illinois</span>
                    </a>
                </div>

                <div class="col-xs-6">
                    <a href="#" class="state-container-missouri state--active">
                        <div>{{> state--missouri}}</div>
                        <span>Missouri</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>