<div class="c-hero-banner">
    <!-- Background -->
    <div class="c-hero-banner__background" style="background-image:url({{background}})"></div>
    <div class="c-hero-banner__background--mobile" style="background-image:url({{background--mobile}})"></div>

    <!-- Content -->
    <div class="c-hero-banner__content text-center">
      {{{heading}}}
      <div class="c-hero-banner__links">
        <a href="{{button.href}}" class="btn btn-primary btn-block">{{{button.text}}}</a>
        {{#if link}}<a href="{{link.href}}">{{{link.text}}}</a>{{/if}}
      </div>
    </div>
</div>