<ul class="nav nav--primary navbar-nav" id="nav--primary" role="tablist">
    {{#each main}}
    <li>
        <a href="#" class="navbar-toggle" target="_blank">
            {{name}}
        </a>
    </li>
    {{/each}}
</ul>