<div class="c-intro-status text-center">
    <span class="u-icon color-{{icon-type}}">
        {{{icon}}}
    </span>
    <p class="lead">{{{lead}}}</p>

    {{#if update}}
    <p>{{{update}}}</p>
    {{/if}}

    {{#if address}}
    <span class="text-light text-small">{{{address-label}}}</span>
    <p class="large-text">{{{address}}}</p>
    {{/if}}
</div>