<ul class="c-lead-article-list list-unstyled">
    <li>
        <div class="media">
            <div class="media-left">
                <img src="http://via.placeholder.com/120x120" alt="Image placeholder">
            </div>
            <div class="media-body">
                <p class="lead">Super helpful safety article headline goes here thats really really long</p>
            </div>
        </div>
    </li>
    <li>
        <div class="media">
            <div class="media-left">
                <img src="http://via.placeholder.com/120x120" alt="Image placeholder">
            </div>
            <div class="media-body">
                <p class="lead">Super helpful safety article headline goes here thats really really long</p>
            </div>
        </div>
    </li>
    <li>
        <div class="media">
            <div class="media-left">
                <img src="http://via.placeholder.com/120x120" alt="Image placeholder">
            </div>
            <div class="media-body">
                <p class="lead">Super helpful safety article headline goes here thats really really long</p>
            </div>
        </div>
    </li>
    <li>
        <div class="media">
            <div class="media-left">
                <img src="http://via.placeholder.com/120x120" alt="Image placeholder">
            </div>
            <div class="media-body">
                <p class="lead">Super helpful safety article headline goes here thats really really long</p>
            </div>
        </div>
    </li>
    <li>
        <div class="media">
            <div class="media-left">
                <img src="http://via.placeholder.com/120x120" alt="Image placeholder">
            </div>
            <div class="media-body">
                <p class="lead">Super helpful safety article headline goes here thats really really long</p>
            </div>
        </div>
    </li>
</ul>

<div class="inline-content-container text-center">
    <button class="btn btn-alt-a">Load More</button>
</div>