<div class="c-header__logo missouri-active">
  <a class="c-header__logo--missouri" href="home.html">
    <img src="assets/images/ameren-missouri-logo.png" alt="Ameren Missouri" srcset="assets/images/ameren-missouri-logo@2x.png 2x" />
  </a>
  <a class="c-header__logo--illinois" href="home.html#">
    <img src="assets/images/ameren-illinois-logo.png" alt="Ameren Illinois" srcset="assets/images/ameren-illinois-logo@2x.png 2x" />
  </a>
  <a class="state-selector" href="#"><i class="fa fa-chevron-down" title="Choose State"></i></a>
</div>
