<div class="media-carousel__inner">
    <div class="ratio-16-9-container" style="background-image: url({{media.src}});"></div>
    <h3><a href="#">{{title}}{{> icon-chevron }}</a></h3>
    <p class="large-text text-light">{{description}} <a href="{{link.href}}">{{link.text}}</a></p>
</div>