<div class="c-outage-alert-settings text-center">
    <h2 class="lead color-grayscale-a">Text Outage Alerts</h2>
    <div class="c-inline-content-container">
        <a href="#" class="btn btn-default btn-sm">Add Phone Number</a>
    </div>
    
    <ul class="list-dotted-border text-left">
        <li>
            <!-- Checkbox toggle component -->
            <div class="checkbox-toggle">
                <input type="checkbox" id="unique-id-test-1" name="unique-name-test-1">
                <label for="unique-id-test-1" class="media">
                    <div class="media-body">
                        <span>555-555-1234</span> <em class="text-x-small text-light">- primary</em>
                    </div>
                    <div class="media-right">
                        <div class="checkbox-toggle__switch" data-off="Off" data-on="On"></div>
                    </div>
                </label>
            </div>  <!-- end checkbox toggle -->
        </li>
    </ul>

    <em class="text-small text-condensed">Standard SMS rates may apply</em>
</div>

<br>

<div class="c-outage-alert-settings text-center">
    <h2 class="lead color-grayscale-a">Email Outage Alerts</h2>
    
    <ul class="list-dotted-border text-left">
        <li>
            <!-- Checkbox toggle component -->
            <div class="checkbox-toggle">
                <input type="checkbox" id="unique-id-test-2" name="unique-name-test-2">
                <label for="unique-id-test-2" class="media">
                    <div class="media-body">
                        <span>email1@email.com</span> <em class="text-x-small text-light">- primary</em>
                    </div>
                    <div class="media-right">
                        <div class="checkbox-toggle__switch" data-off="Off" data-on="On"></div>
                    </div>
                </label>
            </div>  <!-- end checkbox toggle -->
        </li>
    </ul>

</div>