<div class="c-promo-carousel">
    {{#each this}}
    <div class="c-promo {{class}}" {{#if background}}style="background-image:url({{background}});"{{/if}}>
        <div class="c-promo__table-wrapper">
            <div class="c-promo__table-cell-wrapper">
                <div class="c-promo__inner">
                    {{#if icon}}
                        {{{icon}}}
                    {{/if}}
                    <div>
                        <h3>{{{heading}}}</h3>
                        <p>{{{description}}}</p>
                        <a href="{{link.href}}">{{{link.text}}}</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {{/each}}
</div>