<!-- Rebates component -->
<div class="c-rebates">
  <span>{{category}}</span>
  <h2>{{title}}</h2>
  <p>{{text}}</p>
  <p class="lead">{{call-out-text}}</p>
  <a class="btn btn-primary" href="{{cta.url}}">{{cta.text}}</a>
</div>
