<div class="container container-400">
    <div class="col-xs-6">
        <a href="#" class="state-container-illinois">
            <div>{{> state--illinois}}</div>
            <span>Illinois</span>
        </a>
    </div>

    <div class="col-xs-6">
        <a href="#" class="state-container-missouri state--active">
            <div>{{> state--missouri}}</div>
            <span>Missouri</span>
        </a>
    </div>
</div>