<div class="media">
    <div class="media-body">
        <p class="large-text"><a href="#">#AmerenOutages</a></p>
    </div>
    <div class="media-right">
        <img src="https://dev.perficientdigital.com/ameren-mobile-first/assets/images/followbutton.png" width="80" alt="Follow on Twitter">
    </div>
</div>
<ul class="c-twitter-feed list-unstyled">
    <li>
        <div class="media">
            <div class="media-left">
                <img src="http://via.placeholder.com/60x60" alt="Image placeholder">
            </div>
            <div class="media-body">
                <p><small><strong>NWS St. Louis</strong> <a href="#">@NWSStlouis</a> &middot; 26s</small></p>
                <p>Even though it is still quite cold this evening, temperatures are running much warmer than yesterday. <a href="#">#stlwx</a> <a href="#">#mowx</a> <a href="#">#ilwx</a> <a href="#">#midmowx</a></p>
            </div>
        </div>
    </li>
    <li>
        <div class="media">
            <div class="media-left">
                <img src="http://via.placeholder.com/60x60" alt="Image placeholder">
            </div>
            <div class="media-body">
                <p><small><strong>heatupstlouis.org</strong> <a href="#">@heatupstl</a> &middot; 13h</small></p>
                <p><a href="#">#WednesdayMotivation</a>: Another day of bone chilling, dangerously cold weather! Layer-up, and avoid unsafe methods of heating! <a href="#">#GetHelp</a> <a href="#">#GiveHelp</a> at <a href="#">Heatupstlouis.org</a>. Also have a Heart and Help us Heat A Home!</p>
            </div>
        </div>
    </li>
    <li>
        <div class="media">
            <div class="media-left">
                <img src="http://via.placeholder.com/60x60" alt="Image placeholder">
            </div>
            <div class="media-body">
                <p><small><strong>Ameren Illinois</strong> <a href="#">@AmerenIllinois</a> &middot; Jan 12</small></p>
                <p>Winter weather is expected to affect our service territory for today and tomorrow. Our crews are prepared, but make sure you’re safe and ready with these tips: <a href="#">www.ameren.com/community-members/safety/winter-storm-safety</a></p>
            </div>
        </div>
    </li>
    <li>
        <div class="media">
            <div class="media-left">
                <img src="http://via.placeholder.com/60x60" alt="Image placeholder">
            </div>
            <div class="media-body">
                <p><small><strong>NWS St. Louis</strong> <a href="#">@NWSStlouis</a> &middot; 26s</small></p>
                <p>Even though it is still quite cold this evening, temperatures are running much warmer than yesterday. <a href="#">#stlwx</a> <a href="#">#mowx</a> <a href="#">#ilwx</a> <a href="#">#midmowx</a></p>
            </div>
        </div>
    </li>
</ul>

<div class="inline-content-container text-center">
    <button class="btn btn-alt-a">Load More</button>
</div>