.alert {
    padding: 1rem 1rem 1rem 1.5rem;
    p { 
        margin-bottom: 0;
        max-width: none;
        font-size: 1.4rem;
        line-height: 1.8rem;
        font-weight: 300;
        
        strong { text-transform: capitalize; }
    }
    svg { 
        stroke-width: 2px; 
        vertical-align: middle;
    }
}

//## ALERT TYPES
//
//## Actionable
.alert--call-to-action {
    .color-danger { color: $primary-swatch-c; }

    p:not(.text-small) { font-size: 1.6rem; }

    p:not(:last-child) { margin-bottom: 1rem; }

    .btn {
        font-size: 1.4rem;

        svg { font-size: 2.4rem; }
    }
}


//** ALERT COLORS
//
//## Green
.alert-success {
    svg { stroke: $state-success-icon; }
    p { color: $state-success-text }
}
//## Blue
.alert-info {
    svg { stroke: $state-info-icon; }
    p { color: $state-info-text }
}
//## Yellow
.alert-warning {
    svg { stroke: $state-warning-icon; }
    p { color: $state-warning-text }
}
//## Red
.alert-danger {
    svg { stroke: $state-danger-icon; }
    p { color: $state-danger-text }
}