.btn {
  transition: background-color $base-duration $base-timing;
  @include button-size(0.9rem, 2rem, 1.4rem, 2rem, 2rem);
  font-weight: 400;
  min-width: 10rem;
  white-space: normal;

  &:focus {
    outline: none;
  }
}

//** Default
//
//##
.btn-default {
  border-color: $primary-swatch-b;

  &:hover:not(:disabled),
  &:focus {
    border-color: $primary-swatch-b;
    background-color: $grayscale-swatch-d;
  }

  &:hover:disabled {
    border-color: $primary-swatch-b;
  }
}
//## Default on Dark Background
.bg-primary-a,
.bg-primary-b,
.bg-primary-a-trans,
.bg-primary-b-trans,
.o-takeover {
  .btn-default {
    background-color: rgba($black, 0.3);
    border-color: transparent;
    color: $white;

    &:hover:not(:disabled),
    &:focus {
      color: $white;
      background-color: rgba($black, 0.2);
      border-color: transparent;
    }
    &:hover:disabled {
      background-color: rgba($black, 0.3);
      border-color: transparent;
    }
  }
}

//** Primary
//
//##
.btn-primary {
  &:hover:not(:disabled),
  &:focus {
    background-color: $green-300;
    border-color: $green-300;
  }
}
//## Primary on Dark Background
.bg-primary-a,
.bg-primary-b,
.bg-primary-a-trans,
.bg-primary-b-trans,
.o-takeover {
  .btn-primary {
    background-color: transparent;
    border-color: $white;
    color: $white;

    &:hover:not(:disabled),
    &:focus {
      color: $white;
      background-color: rgba($white, 0.2);
      border-color: $white;
    }
    &:hover:disabled {
      background-color: transparent;
      border-color: $white;
    }
  }
}


//** Secondary
//
//## Alt A
.btn-alt-a {
  background-color: $grayscale-swatch-d;
  color: $primary-swatch-b;

  &:hover:not(:disabled),
  &:focus {
    background-color: $grayscale-swatch-c;
    color: $primary-swatch-b;
  }
}
//## Alt B
.btn-alt-b {
  background-color: $red-500;
  color: $white;

  &:hover:not(:disabled),
  &:focus {
    color: $white;
    background-color: $red-300;
  }

  &:hover:disabled {
    color: $white;
  }
}


//** Button Sizes
//
//##
.btn-lg {
  // line-height: ensure even-numbered height of button next to large input
  @include button-size(1.1rem, 3rem, 1.8rem, 2.6rem, 2.5rem);
  min-width: 14rem;
}

.btn-sm {
  // line-height: ensure proper height of button next to small input
  @include button-size(0.2rem, 1.5rem, 1.2rem, 1.8em, 0.6rem);
  min-width: 6rem;
}

.btn + .btn { margin-left: 1.1rem; }
.btn-sm + .btn-sm { margin-left: .6rem; }
.btn-lg + .btn-lg { margin-left: 1.6rem; }

.btn-block + .btn-block {
  margin-top: 2rem;
  margin-left: 0;
}

.btn:disabled {
  cursor: default;
}

.btn-link {
  color: $action-color;

  &:hover,
  &:focus {
    color: $action-color;
  }
}

// badge for account user's who are logged in
.no-user svg.account {
    title {
        content: "Account";
    }

    g {
        .check, .icon-badge {
            display: none;
        }
    }
}


//## SVG icons in buttons
.btn, a {
  svg {
    position: relative;
    top: -0.05em;
    vertical-align: middle;
    stroke: currentColor;
    stroke-width: 2px;
    font-size: 1em;
  }
}