//== Display Utilities
//
//** Helper classes that show, hide, or change the display
//   of an element, object, or component.

.u-hidden {
  // sass-lint:disable-block no-important
  display: none !important;
}

.u-visually-hidden {
  position: absolute;
  border: 0;
  padding: 0;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
}

.figure-left {
  float: left;
  margin-right: 3rem;
  margin-bottom: 3rem;
}

.figure-right {
  float: right;
  margin-left: 3rem;
  margin-bottom: 3rem;
}

.figure-center {
  display: block;
  margin: 3rem auto;
}

//** SVG UTILITIES
//
//## Classes to flip, rotate, and invert SVG icons
.u-icon {
  display: inline-block;
  position: relative;
  line-height: 0;
  vertical-align: middle;

  // Flip horizontally
  &--left {
    transform: scaleX(-1);
  }

  // Turn sideways
  &--down {
    transform: rotate(90deg);
  }

  // Turn sideways (the other way)
  &--up {
    transform: rotate(270deg);
  }

  // Increase Stroke to 2px
  &--stroke-2 {
    svg {
      stroke-width: 2px;
    }
  }

  // Increase size to 60px
  &--large {
    svg {
      font-size: 6rem;
    }
  }

  // Put inside a "badge"
  &--badge--primary,
  &--badge--primary-a,
  &--badge--secondary-a {
    border: 1px solid transparent;
    border-radius: 50%;
    padding: 0.3rem;

    svg {
      top: 0;
      stroke: $white;
      stroke-width: 2px;
    }
  }
   &--badge--plain {
        border: none;
        background-color: transparent;

        svg {
            top: 0;
            stroke: $white;
            stroke-width: 2px;
        }
    }
    
  &--badge--primary { background-color: rgba($black, 0.3); }
  &--badge--primary-a { background-color: $green-300 }
  &--badge--secondary-a { background-color: $primary-swatch-c; }
}