fieldset {
    margin: 0 0 $base-spacing;
    border: 0;
    background-color: transparent;
    padding: 0;
    // label {
    //     margin-bottom: 0;
    // }
}

legend {
    margin-bottom: $small-spacing;
    border-bottom: 0;
    padding: 0;
    color: $primary-swatch-b;
    font-size: 2rem;
    font-weight: 300;
}

label,
.label-like {
    display: block;
    margin-bottom: $small-spacing;
    font-weight: bold;
    font-size: 1.5rem;
    color: $base-font-color;
}

legend ~ label {
    font-weight: 400;
}

input,
select,
textarea {
    display: block;
    font-family: $base-font-family;
    font-size: 1.6rem;
}

// select {
//     -webkit-appearance: none;
//     -moz-appearance: none;
//     text-indent: 1px;
//     text-overflow: '';
// }

.form-control {
    font-size: 1.6rem;
}

.ng-invalid .btn.btn-primary {
    opacity: 0.4;
}

input.btn.btn-primary {
    transition: opacity $base-duration*2 $base-timing;
}

textarea {
    resize: vertical;
    min-height: 12rem;
}

[type="search"] {
    appearance: none;
}

[type="checkbox"],
[type="radio"] {
    display: inline;
    margin-right: $small-spacing / 2;
}

[type="file"] {
    margin-bottom: $small-spacing;
    width: 100%;
}

select {
    height: 4rem;
}

.radio,
.checkbox {
    label {
        font-weight: 300;
    }
}

fieldset.form-group + fieldset.form-group {
    margin-top: -15px;
}

label {
    margin-bottom: $small-spacing / 2;
}

.radio--outlined {
    margin-bottom: $small-spacing;
    border: 1px solid $grayscale-swatch-b;
    border-radius: $border-radius-base;
    padding: 1rem;

    label + span {
        display: inline-block;
        margin-left: 2rem;
    }

    + .radio--outlined {
        margin-top: 0;
    }
}

// No arrows on number fields
input.no-arrow::-webkit-outer-spin-button, input.no-arrow::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input.no-arrow {
    -moz-appearance: textfield;
}

input.no-x::-webkit-clear-button {
    display: none;
}

input.no-x {
    -moz-appearance: textfield;
}

// Password Group
.password-group {
    position: relative;

    [data-toggle="password"] {
        display: none;
        position: absolute;
        top: 0;
        right: 1rem;
        padding: 1.2rem 0;
        text-transform: uppercase;
        color: $base-font-color;
        font-size: 1.4rem;
    }

    .form-control:focus ~ [data-toggle="password"] {
        display: block;
    }
}

.has-error,
.has-success {
    .password-group {
        .form-control:focus {
            padding-right: 94.5px;
        }

        [data-toggle="password"] {
            right: 4.2rem;
        }
    }
}

// Feedback states
.has-error {
    @include form-control-validation($red-500, $red-500, $state-danger-bg);
}


// Help text
//
// Apply to any element you wish to create light text for placement immediately
// below a form control. Use for general help, formatting, or instructional text.
.help-block {
    font: 1.4rem/1.15 "Roboto Condensed", Roboto, sans-serif;
}

.help-block-top {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 1.4rem;
}

.blueCheck {
    cursor: pointer;
    position: relative;
    float: left;
    margin: 4px 6px 0 0;
    padding: 2px;

    + label {
        font-weight: 300;
        display: inline;
    }

    .check {
        pointer-events: none;
        width: 15px;
        height: 15px;
        position: absolute;
        top: 0;
        left: 0;
        background-color: $grayscale-swatch-c;
        border: solid 1px $grayscale-swatch-b;
        border-radius: 4px;

        &::after {
            content: '';
            width: 9px;
            height: 5px;
            position: absolute;
            top: 3px;
            left: 2px;
            border: 2px solid $black;
            border-top: none;
            border-right: none;
            background: transparent;
            opacity: 0;
            -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
        }
    }

    input[type=checkbox] {
        width: 15px;
        height: 15px;
        position: relative;
        top: -5px;
        left: -1px;
        opacity: 0;

        &:checked + span.check {
            background: $primary-swatch-b;

            &::after {
                opacity: 1;
                border-color: $white;
            }
        }
    }
}


// Checkbox Toggle
.checkbox-toggle {
    [type="checkbox"] {
        display: none;

        + .media {
            margin: 0;

            .media-right { vertical-align: top; }

            .checkbox-toggle__switch {
                position: relative;
                background-color: $gray-05;
                border-radius: 0.8rem;
                padding: 0.2rem;
                height: 2.4rem;
                white-space: nowrap;
                cursor: pointer;

                &::before,
                &::after {  
                    position: relative;
                    z-index: 2;
                    display: inline-block;
                    border-radius: 0.6rem;
                    padding: 0.3rem 0.8rem;
                    height: 2rem;
                    font-family: "Roboto Condensed", Roboto, sans-serif;
                    font-size: 1rem;
                    font-weight: 400;
                    line-height: 1.5rem;
                    text-transform: uppercase;
                    vertical-align: top;
                }

                &::before { 
                    background-color: $white;
                    content: attr(data-off); 
                }
                &::after { content: attr(data-on); }
            }
        }

        &:checked {
            + .media .checkbox-toggle__switch {
                &::before { background-color: transparent; }
                &::after { 
                    background-color: $primary-swatch-a;
                    color: $white;
                }
            }
        }
    }
}



//** c-forms file
//
//## Removed from its own file, TODO rework this unused stuff
.c-form {
    border: $base-border;
    border-radius: 0.4rem;
    background: $grayscale-swatch-d;
    padding: 1.6rem;
}

.c-form__select-wrapper {
    position: relative;

    &::before,
    &::after {
        position: absolute;
        right: 1rem;
        border-right: 0.5rem solid transparent;
        border-left: 0.5rem solid transparent;
        content: "";
        pointer-events: none;
    }

    &::before {
        top: 1.2rem;
        border-bottom: 0.6rem solid $blue-300;
    }

    &::after {
        bottom: 1.2rem;
        border-top: 0.6rem solid $blue-300;
    }
}

.c-form__checkbox {
    margin-bottom: $base-spacing;
}

.c-form__footer {
    padding-top: 1rem;
    overflow: auto;
}

input.form-control {
    padding: $padding-base-vertical 15px;
    height: 40px;
    box-shadow: none;
    box-sizing: border-box;
    background: $white;
}

.has-success {
    .form-control {
        border-color: $gray-20;
    }

    .input-group-addon { 
        background-color: transparent; 
        border-color: $gray-20;
    }
}

.form-group {
    position: relative;
    margin-bottom: 10px;

    .badge {
        &[data-toggle="popover"] {
            position: absolute;
            top: 0;
            right: 0;
            background-color: $accent-swatch-a;

            + .popover {
                width: 100%;
            }
        }
    }
}

.access-blocked {
    color: $primary-swatch-c;
    font-size: 1.8rem;
    font-weight: 300;

    svg {
        font-size: 3.2rem;
        stroke: $primary-swatch-c;
    }
}

// .required {
//   label {
//     position: relative;
//
//     &::before {
//       color: $primary-swatch-c;
//       content: "* ";
//     }
//   }
// }

.c-login-help {
    margin: 2rem 0;

    p {
        text-align: center;

        &:first-child {
            margin-bottom: 2rem;
            border-bottom: 1px solid $grayscale-swatch-c;

            a {
                display: inline-block;
                margin-bottom: 1.5rem;
                padding: 0 2rem;

                &:first-child {
                    border-right: 1px solid $grayscale-swatch-c;
                }
            }
        }

        &:last-child {
            font-size: 1.6rem;
        }
    }
}

.has-feedback {
    label ~ .form-control-feedback {
        top: 3.0rem;

        @media screen and (min-width: $screen-sm-min) {
            top: 3.0rem;
        }
    }
}

.input-group {
    .form-control-feedback {
        right: 6rem;
    }
}

.form-group {
    .form-control-feedback {
        top: 3.0rem;
    }
}

/* These two styles must be disabled or removed from bootstrap css - .has-feedback .form-control-feedback section 
  :not(.input-group):not(.password-group) > .form-control-feedback {
    // top: 2.5rem;
    right: 0;
  } */

.input-group-btn {
    .btn {
        border-left: 0;
        border-top-right-radius: $input-border-radius;
        border-bottom-right-radius: $input-border-radius;
        padding: 0 2rem;
        height: 4rem;
        line-height: 4rem;
        border-color: $input-border;
        min-width: 0;

        &:hover {
            border-color: $input-border;
        }
    }
}

.has-error {
    .input-group-btn {
        .btn {
            border-color: $brand-danger;
        }
    }
}

// Removes checkbox from valid form controls
.form-control-feedback.glyphicon-ok::before {
    content: '';
}

// DATE PICKER
.input-group.date,
.input-group.time {
    .form-control { border-right: 0; }

    .input-group-addon {
        padding: 0 0.75rem;
        cursor: pointer;

        svg { 
            stroke: $primary-swatch-b; 
            stroke-width: 1.5px;
            font-size: 3.2rem;
        }
    }

    .bootstrap-datetimepicker-widget ~ .input-group-addon,
    .input-group-addon:hover {
        background-color: $primary-swatch-b;

        svg { stroke: $white; }
    }
}

.bootstrap-datetimepicker-widget {
    
}

.input-group.time .bootstrap-datetimepicker-widget {
    width: auto;

    table td,
    table td span {
        width: 3.5rem;
    }

    .btn { min-width: 3.5rem; }
    .btn-primary { 
        background-color: $grayscale-swatch-d;
        border-color: transparent !important;
        min-width: 6rem; 
        color: $primary-swatch-b;

        &:hover:not(:disabled),
        &:focus {
            background-color: $grayscale-swatch-c;
            color: $primary-swatch-b;
        }
    }
}


// Icon Addon
.input-group.search {
    .form-control { border-right: 0; }

    .input-group-addon {
        padding: 0 1.35rem;
        cursor: pointer;

        svg { 
            stroke: $primary-swatch-a; 
            stroke-width: 2px;
            font-size: 2.4rem;
        }
    }
    
    .input-group-addon:hover {
        background-color: $primary-swatch-a;

        svg { stroke: $white; }
    }
}

// Currency Spinnger
.input-spinner {
    font-size: 0;

    .btn {
        display: inline-block;
        border-radius: 2rem;
        border: 1px solid transparent;
        background-color: $gray-10;
        color: $primary-swatch-b;
        padding: 0;
        width: 4rem;
        min-width: 0;
        height: 4rem;
        text-align: center;

        &:hover:not(:disabled) {
            background-color: $primary-swatch-b;
            color: $white;
        }

        svg { font-size: 1.6rem; }
    }

    .form-control {
        display: inline-block;
        margin: 0 1rem;
        width: 10rem;
        border-radius: 1rem; 
        vertical-align: middle;
    }
}


// Checkbox / Radio Button Panel
.c-input-panel {
    font-size: 0;
    margin: 0 -5px;
    
    .radio,
    .checkbox {
        display: inline-block;
        margin: 0 0 1rem;
        padding: 0 5px;
        width: 50%;
        vertical-align: top;
    }

    label {
        position: relative;
        border: 1px solid $gray-20;
        border-radius: 1rem;
        padding: 0.8rem 0;
        height: 100%;
        min-height: 60px;
        font-size: 1.4rem;
        font-weight: 400;
        text-align: center;

        &:hover {
            border-color: $blue-300 !important;
            color: $blue-500;
        }

        span {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translateX(-50%) translateY(-50%);
        }
    }

    input { display: none; }
    input:checked ~ label {
        border-color: $blue-500;
        color: $blue-500;
        background-color: $blue-050;
        font-weight: bold;
    }
}

// From Jon Tavakoli
input::-ms-clear, 
input::-ms-reveal {
    display: none;
}

@media screen and (min-width: $screen-sm-min) {
    .c-form {
        padding: 3.2rem;
    }

    .c-form__checkbox {
        margin-bottom: $small-spacing;
    }
}


// Removes form-control-feedback for good
.form-control-feedback { display: none !important; }