html {
    position: relative;
    height: 100%;
    font-size: 10px;
    font-weight: 400;
    overflow-x: hidden;

    &.menu-open {
        overflow: hidden;
    }
}

body {
    position: relative;
    margin: 0;
    min-height: 100%;
    overflow-x: hidden;
}

//** Max-Width Containers
//
//## 400px
.container-400 {
    max-width: 400px;
}
//## 800px
.container-800 {
    max-width: 800px;
}
//## 1800px
.container-1800 {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    width: 100vw;
    max-width: 1800px;
}

.loading {
    text-align: center;
    width: 100%;
    overflow: hidden;
    height: 100%;
    position: absolute;
    background: rgba(255,255,255,0.8);
    z-index: 1000;
    top: 0;
}

.loading img {
    width: 500px;
    position: fixed;
    top: 50%;
    left: 50%;
    margin-top: -50px;
    margin-left: -50px;
}

//** Styleguide Examples
//
//## Layout Examples
.layout-example {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 3rem;
    background: $gray-20;
    height: 200px;
    color: $gray-05;
    font-size: 1.8rem;
}
