//** LISTS
//
//## Common List Styles
ol,
ul {
  padding-left: 3.5rem;
  list-style: none;

  li {
    position: relative;

    &::before {
      position: absolute;
      top: 0;
      text-align: right;
      font-size: 1.6rem;
      line-height: 1.2;
      font-weight: 700;
      color: $primary-swatch-a;
    }
  }
}

//## Unordered Lists
ul {
  li::before {
    right: calc(100% + 1.5rem);
    content: '\2022';
  }
}

//## Ordered Lists
ol {
  counter-reset: ordered-list;

  li {
    counter-increment: ordered-list;

    &::before {
      right: calc(100% + 1rem);
      content: counter(ordered-list) ".";
    }
  }
}


//## Definition List
dl {
  margin: 0;
}

dt {
  margin: 0;
  font-weight: 600;
}

dd {
  margin: 0;
}


//## List in a Nav
nav {
  ul,
  ol {
    margin: 0;
    padding: 0;
    list-style-type: none;
  }
}


//## Nested Lists
ol,
ul {
  ol,
  ul {
    margin: 10px 0;
  }
}


//## All List Items
li {
  margin-bottom: 7px;
  font-size: 1.6rem;
  font-weight: 300;
  line-height: 1.2;
}


//## Unstyled List
.list-unstyled {
  @include unstyle-list();
}


//## Inline List
.list-inline {
  @include unstyle-list();
}


//## Striped List
.list-striped {
  @include unstyle-list();

  li {
    margin: 0;
    padding: 1rem 3rem;

    &:nth-child(odd) {
      background-color: rgba($grayscale-swatch-d, 0.8);
    }
  }
}

.panel-body > .list-striped {
  margin: -1.5rem;
}


//## Dotted Border List
.list-dotted-border {
  @include dotted-border(bottom);
  @include unstyle-list();
  margin: 0 0 2rem;
  padding: 0;
  list-style: none;

  > li {
      @include dotted-border(top);
      margin: 0;
      padding: 1.6rem 0;

      *:last-child { margin-bottom: 0; }
  }
}


//## Featured List
.list-check {
  @include unstyle-list();

  > li {
    font-weight: 400;

    > span {
      position: relative;
  
      &::before {
        position: absolute;
        top: 0.3rem;
        left: -2.5rem;
        display: inline-block;
        background: url(../images/icn_check.png) left top no-repeat;
        width: 1.6rem;
        height: 1.6rem;
        content: "";
      }
    }
  }
}