main {
    margin-right: auto;
    margin-left: auto;
    padding: 0 0 3.2rem;
    width: 100%;
    max-width: $container-large-desktop;
}

//** Mobile Only
//
//## 1199px and down styles
@media screen and (max-width: $screen-md-max) {
    main {
        &.menu-open {
            &::before {
                position: absolute;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
                z-index: 999;
                background: rgba($black, 0.5);
                content: '';
            }
        }
    }
}