//== Consumable Media
//
//## images, figures, video, audio, picture, etc
figure {
  display: table;
  margin: 0 0 3rem;
}

figcaption {
  display: table-caption;
  caption-side: bottom;
  margin-top: 2rem;
  color: $grayscale-swatch-b;
  font-size: 1.4rem;
  font-style: italic;
}

img,
picture {
  margin: 0;
  max-width: 100%;
}



//== 16:9 Ratio Lock
//
//## Used on media carousels, this ensures that no matter what image is used,
//   it will always be 16:9
.ratio-16-9-container {
  margin-bottom: 2rem;
  background-repeat: none;
  background-position: center;
  background-size: cover;
  padding-bottom: 56.25%;
  height: 0;
}



//== Media Object
//
//## Thing on left with content on right, or thing on right with content on left
.media { 
  display: block;
}
.media-right,
.media > .pull-right {
  padding-left: 1.5rem;
}

.media-left,
.media > .pull-left {
  padding-right: 1.5rem;
}

.media-left,
.media-right,
.media-body {
  vertical-align: middle;
}

.media img {
  max-width: initial;
}


