table {
  margin: $small-spacing 0 $base-spacing;
  width: 100%;
  // table-layout: fixed;
  border-collapse: collapse;
}

tbody tr {
  @include dotted-border(top);
}

th {
  padding: 1rem;
  text-align: left;
  font-weight: 700;
  font-size: 1.4rem;
}

td {
  padding: 1rem;
  font-weight: 300;
  font-size: 1.4rem;
}

tr,
td,
th {
  vertical-align: top;
}
