$this-gray: #c6c6c6;

.col-border-right {
  border-right: 1px solid $grayscale-swatch-c;
}

.color-primary-a {
  color: $primary-swatch-a;
  stroke: $primary-swatch-a;

  svg {
    stroke: $primary-swatch-a;
  }
}

.color-primary-b {
  color: $primary-swatch-b;
  stroke: $primary-swatch-b;

  svg {
    stroke: $primary-swatch-b;
  }
}

.color-grayscale-a {
  color: $grayscale-swatch-a;
  stroke: $grayscale-swatch-a;

  svg {
    stroke: $grayscale-swatch-a;
  }
}

.color-danger {
  color: $primary-swatch-c;
  stroke: $primary-swatch-c;

  svg {
    stroke: $primary-swatch-c;
  }
}

.color-white {
  color: $white;
  stroke: $white;

  svg {
    stroke: $white;
  }
}

.bg-primary-a {
  background: $primary-swatch-a;
}

.bg-primary-b {
  background: $primary-swatch-b;
}

.bg-primary-a-trans {
  background: rgba($primary-swatch-a, 0.9);
}

.bg-primary-b-trans {
  background: rgba($primary-swatch-b, 0.9);
}

@media screen and (max-width: $screen-sm-min - 1px) {
  .btn-block-xs {
    display: block;
    margin-top: 20px;
    width: 100%;
    text-align: center;
  }
}

.background-gray {
  background-color: $grayscale-swatch-d;
}

@media screen and (max-width: $screen-sm-min - 1px) {
  body {
    &.background-gray {
      background-color: transparent;
    }
  }
}

.no-margin {
  margin: 0;
}

.no-bottom-margin {
  margin-bottom: 0;
}

.margin-center {
  margin-right: auto;
  margin-left: auto;
}

.dotted-bottom-border {
  background-image: repeating-linear-gradient(
    to right,
    $this-gray 0, $this-gray 1px,
    transparent 1px, transparent 4px
  );
  background-repeat: repeat-x;
  background-position: left bottom;
  background-size: 4px 1px;
}
