body {
  line-height: $base-line-height;
  color: $base-font-color;
  font-family: $base-font-family;
  font-size: $base-font-size;
}

h1, .h1-like,
h2, .h2-like,
h3, .h3-like,
h4, .h4-like,
h5, .h5-like,
h6, .h6-like {
  margin: $base-spacing 0 $small-spacing;
  font-family: $heading-font-family;
}

h1, .h1-like {
  color: $primary-swatch-a;
  font-size: 3rem;
  line-height: 1;
  font-weight: 300;
}

h2, .h2-like {
  color: $grayscale-swatch-a;
  font-size: 2.4rem;
  line-height: 1.166666667;
  font-weight: 300;
}

h3, .h3-like {
  color: $grayscale-swatch-a;
  font-size: 2rem;
  line-height: 1.5;
  font-weight: 300;
}

h4, .h4-like {
  color: $base-font-color;
  font-size: 1.8rem;
  line-height: 1.333333333;
  font-weight: 400;
}

h5, .h5-like {
  color: $grayscale-swatch-a;
  font-size: 1.6rem;
  line-height: 1.5;
  font-weight: bold;
}

h6, .h6-like {
  color: $base-font-color;
  font-size: 1.4rem;
  line-height: 1.285714286;
  font-weight: 300;
}

@media screen and (min-width: $screen-sm-min) {
  h1, .h1-like {
    font-size: 4.8rem;
  }
  h2, .h2-like {
    font-size: 3.6rem;
  }
  h3, .h3-like {
    font-size: 2.8rem;
    line-height: 1.285714286;
  }
  h4, .h4-like {
    font-size: 2rem;
    line-height: 1.2;
  }
  h5, .h5-like {
    font-size: 1.8rem;
    line-height: 1.333333333;
  }
}

p {
  margin: 0 0 $small-spacing;
  max-width: 37.5em;
  color: $grayscale-swatch-b;
  font-size: 1.6rem;
}

small {
  display: inline-block;
  max-width: 33.333em;
  font-size: 1.2rem;
}

a {
  transition: color $base-duration $base-timing;
  text-decoration: none;
  color: $action-color;

  &:active,
  &:focus,
  &:hover {
    text-decoration: underline; 
    color: $action-color;
  }
}

hr {
  margin: $base-spacing 0;
  border-top: 1px solid $grayscale-swatch-c;
  border-right: 0;
  border-left: 0;
}

code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1.6rem;
}

.lead {
  max-width: 35em;
  font-size: 2.4rem;
}

.large-text {
  max-width: 41.111111111em;
  font-size: 1.8rem;
}
.larger-text {
  max-width: 31.666666667em;
  font-size: 2rem;
}

.text-light {
  font-weight: 300;
}

.text-regular {
  font-weight: 400;
}

.text-bold {
  font-weight: 700;
}

.text-small {
  font-size: 1.4rem;
}

.text-x-small {
  font-size: 1.2rem;
}

.text-condensed {
  font-family: "Roboto Condensed", Roboto, sans-serif;
}