﻿body .container-fluid .inputField .field-validation-error,
body .container-fluid .inputField .field-validation-valid {
    width: 18em;
}

body .container-fluid .inputField select.input-validation-error,
body .container-fluid .inputField input.input-validation-error {
    border-color: #520606;
}

body .container-fluid .displayField {
    width: 100%;
}

body .container-fluid .displayField .fieldLabel {
    width: 20%;
}

body .container-fluid .displayField .fieldValue {
    width: 60%;
}

body .container-fluid .displayField div {
    display: inline-block;
    line-height: 23px;
}

body .container-fluid .field-validation-valid,
body .container-fluid .field-validation-error {
    color: #520606;
    display: block;
    font-size: 1.6rem;
}

body .container-fluid .field-validation-valid .visible,
body .container-fluid .field-validation-error .visible {
    padding-top: .3em;
}

body .container-fluid .validation-statement .field-validation-valid {
    text-align: left;
    margin-left: 24px;
}

body .container-fluid .validation-statement .field-validation-valid input {
    margin-top: 5px;
}
