//== Header (for Styleguide)
//
//**

$navbar-width: 240px;

.c-header--styleguide {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1001;
  box-shadow: 0 2px 5px rgba($black, 0.26);
  background-color: $primary-swatch-a;
  padding: 1.6rem 0;

  li,
  a {
    color: $white;
  }

  a:active,
  a:focus,
  a:hover {
    opacity: 0.8;
  }

  .c-breadcrumbs {
    margin-bottom: 0;
  }
}

.c-header__content {
  transition: all 0.195s cubic-bezier(0.4, 0, 1, 1);
  margin: 0 5.6rem;
}

.c-header__push {
  height: 6rem;
}

@media screen and (min-width: $screen-lg-min + $navbar-width * 2 + 32px) {
  .c-header__content {
    transition: all 0.225s cubic-bezier(0, 0, 0.2, 1);
    margin: 0 16px + $navbar-width;
  }
}
