//== Navbar (for Styleguide)
//
//**

$navbar-width: 240px;

// Navbar
.c-navbar--styleguide {
  position: fixed;
  top: 0;
  bottom: 0;
  left: -$navbar-width;
  transition: left 0.195s cubic-bezier(0.4, 0, 1, 1);
  z-index: 1002;
  box-shadow: 0 0.2rem 0.5rem rgba($black, 0.26);
  background-color: $white;
  width: $navbar-width;
  overflow-y: scroll;

  a {
    display: block;
    padding: 0.8rem 1.6rem;
  }

  li {
    li > a { padding-left: 3.2rem; }
  }

  > ul > li:first-of-type {
    border-bottom: 0.1rem solid $grayscale-swatch-c;
    line-height: $base-font-size * $base-line-height + 1.6rem;
  }

  > ul > li:nth-of-type(2) {
    padding-top: 1.6rem;
  }
}

// Navbar Toggle
.c-navbar__toggle--styleguide {
  position: fixed;
  left: -100%;
  width: 0.1rem;
  height: 0.1rem;
  overflow: hidden;
}

// Navbar Toggle Label
.c-navbar__toggle-label--styleguide {
  position: fixed;
  top: 0;
  left: 0;
  transition: left 0.195s cubic-bezier(0.4, 0, 1, 1);
  z-index: 1002;
  cursor: pointer;
  padding: 1.6rem;
  width: 5.6rem;
  height: 5.6rem;
  color: $white;

  span {
    position: absolute;
    left: 1.6rem;
    background-color: $white;
    width: 2.4rem;
    height: 0.2rem;
    content: "";
  }

  span:nth-child(1) { top: 2rem; }
  span:nth-child(2) { top: 2.6rem; }
  span:nth-child(3) { top: 3.2rem; }
}

.c-navbar__toggle:checked ~ .c-navbar {
  left: 0;
  transition: left 0.225s cubic-bezier(0, 0, 0.2, 1);
}

.c-navbar__toggle:checked ~ .c-navbar__toggle-label--styleguide {
  right: 0;
  bottom: 0;
  transition: left 0.225s cubic-bezier(0, 0, 0.2, 1);
  // z-index: 9;
  background-color: rgba($black, 0.333);
  cursor: default;
  width: auto;
  height: auto;
}

@media screen and (min-width: $screen-lg-min + $navbar-width * 2 + 32px) {
  .c-navbar--styleguide {
    left: 0;
  }
}
