/*
 * Code snippets
 *
 */

.demo-section {
  margin-bottom: 5rem;
}

.pre-scrollable {
  margin: 1rem 0 $base-spacing;
  cursor: pointer;
  height: 25rem;
  text-transform: none;
  letter-spacing: 0.1rem;
  font-size: 1.2rem;
  font-weight: bold;
}

.html-code::before {
  font-weight: bold;
  content: "HTML";
}

.css-code::before {
  font-weight: bold;
  content: "CSS";
}

.js-code::before {
  font-weight: bold;
  content: "JAVASCRIPT";
}

.js-code-snippet {
  margin: 0;
  box-shadow: inset 0 0 0.7rem rgba($black, 0.3);
  background: $grayscale-swatch-c;
  padding: 2rem 1rem 1rem;

  .code-snippet {
    margin: 0;
  }
}

.code-snippet {
  margin: 1.6rem 0 $base-spacing;
  cursor: pointer;
  text-transform: uppercase;
}
