@media screen and (min-width: $screen-lg-min) {
    .c-header--styleguide ~ main .o-layout--full-page {
        transform: translateX(-50vw) translateX(585px);
        width: calc(100vw - 30px);
    }
}