---
layout: styleguide-layout.hbs
title: Component Library Home
breadcrumbs:
  type: inline
  list:
  - name: Styleguide
    link: index.html
---

<h1>Welcome to the Component Library and Style Guide!</h1>
<p>This guide / library is a centralized repository of all the components we have created for Ameren's Mobile First project, and its main purpose is to be a touchpoint / reference between the front-end developers and Sitecore developers.  All of the components therein can be viewed individually, and it includes code snippets of each component and all of their permutations.</p>

<h2>Guidelines</h2>

<ol>
  <li><a href="Guidelines/new-developer-onboarding.html">New Developer Onboarding</a></li>
  <li><a href="Guidelines/gitflow.html">Gitflow - Repository Checkout and Workflow</a></li>
  <li><a href="Guidelines">Standards and Guidelines for Front-End Development</a></li>
</ol>

<h2>Component Pages</h2>

<style>
  hr { margin: 5rem 0; }
  .layout-three-column {
    padding-left: 0;
    font-size: 0;
  }
  .layout-three-column li {
    display: inline-block;
    margin-left: 3.5rem;
    width: calc(100% - 3.5rem);
  }
  @media screen and (min-width: 560px) {
    .layout-three-column li { width: calc(50% - 3.5rem); }
  }
  @media screen and (min-width: 768px) {
    .layout-three-column li { width: calc(33.33% - 3.5rem); }
  }
  /*@media screen and (min-width: 992px) {
    .layout-three-column li { width: calc(25% - 3.5rem); }
  }*/
</style>

<div>
  <div style="margin-top:5rem;"><h3>Templates</h3>
    <ul class="layout-three-column">
      <li><a href="{{relative page.dest 'dist/home.html'}}">Home Page</a></li>
      <li><a href="{{relative page.dest 'dist/registration.html'}}">Registration</a></li>
      <li><a href="{{relative page.dest 'dist/account-selector.html'}}">Account Selector</a></li>
      <li><a href="{{relative page.dest 'dist/outage-center.html'}}">Outage Center</a></li>
      <li><a href="{{relative page.dest 'dist/pay-bill.html'}}">Pay Bill</a></li>
      <li><a href="{{relative page.dest 'dist/landing-page-example.html'}}">Landing Page Example</a></li>
      <li><a href="{{relative page.dest 'dist/account-dashboard.html'}}">Account Dashboard</a></li>
    </ul>
  </div>
  {{#each categories}}
    <hr>
    <div><h3>{{title}}</h3>
      <ul class="layout-three-column">
        {{#each ../pages }}{{#is data.category ../title }}
          <li>
            <a href="{{relative ../../../page.dest ../this.dest}}">{{data.title}}</a>
          </li>
        {{/is}}{{/each}}
      </ul>
    </div>
  {{/each}}
</div>
