<ul class="{{#compare type "inline"}}list-inline{{/compare}}{{#compare type "striped"}}list-unstyled list-striped{{/compare}}{{#compare type "unstyled"}} list-unstyled{{/compare}}">
{{#each list}}
  <li>
  {{#if link}}
    <a href="{{link}}">
      {{#if ../icon}}
        <i class="fa fa-{{icon}}"></i>
      {{/if}}
      {{{ name }}}
    </a>
    {{#if secondary-info}}<span>{{{secondary-info}}}</span>{{/if}}
  {{else}}
    {{{ name }}}
  {{/if}}
  </li>
{{/each}}
</ul>
