//== Sub Navigation
//
//**
.sub-nav-wrapper {
    h2,
    a {
        color: white;
    }

    ul {
        @include unstyle-list();
    }
}


//** Mobile Only
//
//## 1199px and down styles
@media screen and (max-width: $screen-md-max) {
    .sub-nav-wrapper {
        h2 {
            display: none;
        }
    }
    .nav--subnav {

        .navbar-header--mobile {
            .navbar-toggle:not(.pull-right) {
                display: inline-block;
                border: 0;
                color: $white;
                font-size: 1.3rem;
                font-weight: 300;
                
                &:hover {
                    text-decoration: underline;
                }

                svg {
                    margin-right: 1rem;
                    font-size: 1.5rem;
                    transform: scaleX(-1);
                    vertical-align: sub;
                }
            }
        }

        ul {
            margin: 0 -15px;
        }

        li > a {
            margin: 0;
            display: block;
            border-bottom: 1px solid $mobile-border-color;
            padding: 1.9rem 1.5rem;
            height: auto;
            line-height: 2.4rem;
            font-size: 1.8rem;
            font-family: 'Roboto';
            font-weight: 300;

            &:hover {
                background-color: rgba($white, 0.05);
                color: $white;
            }
        }
    }
}

//** Small Desktop
//
//## 1200px and up styles
@media (min-width: $screen-lg-min) {
    .sub-nav-wrapper {
        margin: 0 auto;
        width: 100%;
        max-width: 1170px;
        height: 100%;
        overflow-y: auto;
        -ms-overflow-style: -ms-autohiding-scrollbar;

        .sub-nav-inner-wrapper {
            display: table;
            table-layout: fixed;
            width: 100%;
            position: relative;
            top: 50%;
            transform: translateY(-50%);
        }

        h2 {
            display: table-cell;
            vertical-align: middle;
            padding-right: 8rem;
            width: 30%;
            text-align: right;
            font-size: 2.7rem;
            font-weight: 300;
            letter-spacing: 5.5px;
            text-transform: uppercase;
        }

        ul {
            display: table-cell;
            vertical-align: middle;
            padding-left: 8rem;
            width: 70%;
            column-count: 2;
            column-gap: 8rem;
        }

        li { 
            text-transform: none;
        }

        a {
            display: block;
            padding: 1.7rem 0;
            font-size: 3rem;
            font-weight: 300;
        }
    }

    .sub-nav-wrapper {
        ul {
            position: relative;
            
            &::after {
                position: absolute;
                top: 0;
                bottom: 0;
                left: 0;
                background-color: rgba($black, 0.2);
                width: 1px;
                height: 100%;
                content: '';
            }
        }
    }
}