//== State Selector
//
//**

#state-selector {
    .lead {
        margin: 0 auto 3rem;
        color: $white;
        font-size: 2.4rem;
        font-weight: 300;
        text-align: center;
    }

    .c-divider-text {
        color: $white;

        &::before,
        &::after {
            background-color: rgba($black, 0.3);
        }
    }

    .state-container-illinois,
    .state-container-missouri {
        svg {
            fill: $blue-700;
        }

        &.state--active,
        &:hover {
            svg { fill: $green-300; }
        }

        span { color: $white; }
    }
}

.state-container-illinois,
    .state-container-missouri {
        display: block;
        padding-top: 1.8rem;
        text-align: center;

        > div {
            height: 11.8rem;
        }

        svg {
            stroke: none;
            fill: $gray-20;
            transition: fill 144ms ease-in;
        }

        span {
            display: block;
            margin-top: 1rem;
            padding: 1.8rem 0;
            font-size: 1.9rem;
            color: $gray-60;
        }

        &.state--active,
        &:hover {
            text-decoration: none;
            svg { fill: $green-300; }
        }

        &.state--active {
            span { border-bottom: 2px solid $green-300; }
        }
    }

    .state-container-illinois {
        svg {
            width: 6.6rem;
            height: 11.8rem;
        }
    }

    .state-container-missouri {

        > div  {
            padding-top: 1.4rem;
        }

        svg {
            width: 10.3rem;
            height: 9.4rem;
        }
    }

//** Mobile Only
//
//## 1199px and down styles
@media screen and (max-width: $screen-md-max) {
    #state-selector {
        .container-overlay { margin-top: 5rem; }
        .container {
            width: 100%;
            max-width: 320px;
        }
    }
}

//** Small Desktop
//
//## 1200px and up styles
@media (min-width: $screen-lg-min) {
    #state-selector {
        .container {
            width: 320px;
        }
    }
}