//== Header
//
//**

$border-color: #e0e0e0;
$mobile-border-color: rgba($black, 0.1);
$header-color: #636363;

//## Outer-most Container Element
.header-navbar {
    margin-bottom: 0;
    box-shadow: 0 0 4px rgba($black, 0.2);
    background-color: $white;
    border: 0;
}

//## Logo
.navbar-default {
    .navbar-brand {
        outline: none;

        p.state {
            font-size: 1.2rem;
            margin-top: -1.2rem;
            font-family: arial;
            font-weight: bold;
            font-style: italic;
            text-align: left;
            padding-left: 29px;
            color: #797979;
            text-transform: uppercase;
        }
    }
}

.navbar-brand {
    display: block;
    box-sizing: content-box;
    background: none;
    border: 0;
    padding: 1.34rem 2rem 1.84rem;
    height: 3.82rem;

    .logo-container {
        display: inline-block;

        svg {
            width: 10rem;
            height: 3.82rem;
        }
    }

    .u-icon {
        transition: transform 144ms ease-in-out;
        transform: rotateZ(90deg);
    }

    &:not(.collapsed) {
        .u-icon {
            transform: rotateZ(270deg);
        }
    }
}

//## Every list item in the header
.navbar li {
    margin-bottom: 0;
}

.nav {
    @include unstyle-list();
}


//** Mobile Only
//
//## 1199px and down styles
@media screen and (max-width: $screen-md-max) {

    //## Logo
    .navbar-brand {
        float: none;
        margin: 0 auto;
    }

    .navbar-collapse {
        display: block !important;
        position: absolute;
        top: 0;
        bottom: 0;
        background: $primary-swatch-b;
        transform-origin: left center;

        &.collapsing {
            transition: transform 250ms ease-out;
        }

        &[aria-expanded="true"] {
            transition: transform 250ms ease-in;
        }

        &#main-menu,
        &.nav--subnav {
            top: 0;
            transform: translateX(-307px);
            border-top: 0;
            width: calc(100% - 68px);
            max-width: 307px;
            height: 100vh !important;

            &.in,
            &[aria-expanded="true"] {
                transform: translateX(0);
            }
        }

        &#account-menu {
            top: 0;
            right: 0;
            left: auto;
            transform: translateX(100%);
            margin-right: -15px !important;
            margin-left: -15px !important;
            width: calc(100% - 68px);
            max-width: 307px;
            height: 100vh !important;

            &.in,
            &[aria-expanded="true"] {
                transform: translateX(-15px);
            }
        }

        &#state-selector {
            height: calc(100vh - 7rem) !important;
        }
    }

    .header-navbar {
        .navbar-toggle {
            float: left;
            margin: 1.5rem 0;
            border: 0;
            border-color: rgba(141, 141, 141, 0.2);
            border-style: solid;
            border-radius: 0;
            padding: 0 2rem;
            height: 4rem;

            &:nth-child(1) {
                border-right-width: 1px;
                padding: 0 2.3rem;
            }

            &:nth-child(2) {
                border-left-width: 1px;
            }

            .icon-bar {
                background-color: $header-color;
            }

            svg {
                stroke: $header-color;
                font-size: 2.8rem;
                vertical-align: middle;
                stroke-width: 1.5px;
            }
        }

        .navbar-nav {
            margin-top: 0;
            margin-bottom: 0;

            > li {
                > a {
                    color: $white;

                    &:hover {
                        background-color: rgba($white, 0.05);
                        color: $white;
                    }
                }
            }
        }

        .navbar-form {
            display: inline-block;
            position: absolute;
            top: 15.3rem;
            right: 1.5rem;
            left: 1.5rem;
            margin-top: 0;
            margin-bottom: 0;
            background: rgba(0,0,0,0.05);
            border: 0;
            box-shadow: none;

            .form-control {
                background-color: rgba(0,0,0,0.1);
                border-color: transparent;
                color: white;
                font-weight: 300;

                &::-moz-placeholder {
                    color: $white;
                    opacity: 1;
                    font-weight: 300;
                }

                &:-ms-input-placeholder {
                    color: $white;
                    font-weight: 300;
                }

                &::-webkit-input-placeholder {
                    color: $white;
                    font-weight: 300;
                }
            }

            .btn {
                margin: 0;
                background-color: rgba(0,0,0,0.1);
                border-color: transparent;
                padding: 0 1rem;
                box-shadow: none;

                svg {
                    margin: 0;
                    color: $white;
                    stroke-width: 2px;
                }
            }
        }
        // Mobile-Only Menu Header
        .navbar-header--mobile {
            // height: 7rem;
            margin: 0 -1.5rem;
            border-bottom: 1px solid $mobile-border-color;
            overflow: auto;

            svg {
                stroke: $white;
            }

            a {
                display: inline-block;
                margin: 2.5rem 2rem;
                color: $white;
                font-size: 1.3rem;
                font-weight: 300;

                svg {
                    margin-right: 1rem;
                    font-size: 1.5rem;
                    transform: scaleX(-1);
                    vertical-align: sub;
                }
            }

            .navbar-toggle {
                border-color: $mobile-border-color;

                &:hover,
                &:focus,
                &:active {
                    background: transparent;
                }

                svg {
                    font-size: 2.4rem;
                }
            }
        }
        // Mobile Primary Nav
        .nav--primary {
            position: absolute;
            top: 21.3rem;
            border-bottom: 1px solid $mobile-border-color;
            width: 100%;

            > li > a.navbar-toggle {
                float: none;
                margin: 0;
                border-top: 1px solid $mobile-border-color;
                padding: 1.9rem 1.5rem;
                height: auto;
                line-height: 2.4rem;
                font-size: 1.8rem;
                font-family: 'Roboto';
                font-weight: 300;
                text-transform: uppercase;
            }
        }
        // Mobile Secondary Nav
        .nav--secondary {
            position: absolute;
            top: 7rem;
            border-bottom: 1px solid $mobile-border-color;
            width: 100%;
            text-align: center;

            li {
                float: right;
                border-left: 1px solid $mobile-border-color;
                width: 33.333%;

                &:last-child {
                    border: 0;
                }
            }

            a {
                padding-top: 0.5rem;
                height: 8.2rem;
                font-size: 1.2rem;
                font-weight: 300;
                text-transform: uppercase;
            }

            svg {
                display: block;
                margin: 0 auto;
                stroke: $white;
                stroke-width: 1px;
                font-size: 4.8rem;
            }
        }
    }
}

@media screen and (min-width: $screen-sm-min) {
    .header-navbar {
        .navbar-form {
            .input-group {
                width: 100%;
            }
        }
    }
}

//** Small Desktop
//
//## 1200px and up styles
@media (min-width: $screen-lg-min) {
    .navbar-brand {
        margin: 2rem 0;
        padding: 0 2.5rem 1.18rem 2rem;
        width: auto;
    }

    .navbar-form {
        margin: 2.5rem 1rem;

        .input-group {
            > .form-control {
                width: 22rem;
                font-size: 1.4rem;
            }
        }

        .btn {
            padding: 0 1rem;
        }

        svg {
            margin: 0;
            stroke: $primary-swatch-a;
            font-size: 1.8rem;
            stroke-width: 2px;
        }
    }

    .no-user .navbar-nav {
        &.nav--secondary {
            > .visible-lg-block {
                > a:not(.btn) {
                    margin-top: .5rem;
                    padding-right: 3rem;
                }
            }
        }
    }

    .navbar-nav {
        margin: 2.1rem 0 1.5rem;
        border-left: 1px solid $gray-10;
        padding: 0 1rem;

        > li > a:not(.btn) {
            display: block;
            height: 5.4rem;

            &:after {
                position: absolute;
                top: 100%;
                right: 0;
                left: 0;
                background-color: $primary-swatch-b;
                opacity: 0;
                border-radius: 2px;
                transition: opacity 100ms ease-in;
                content: '';
            }

            &:hover {
                position: relative;
                color: $primary-swatch-b !important;

                svg {
                    stroke: $primary-swatch-b;
                }
            }

            &.active {
                &:after {
                    opacity: 1;
                }
            }
        }

        &.nav--primary {
            > li > a.navbar-toggle {
                margin: 0;
                border: 0;
                font-size: 1.4rem;
                color: $gray-60;
                letter-spacing: 0.04em;
            }
        }

        &.nav--secondary {

            > li {

                &:last-child {
                    border-left: 1px solid $gray-10;
                }

                > a:not(.btn) {
                    padding: 0 1.5rem;
                    height: 5.4rem;
                    font-size: 1rem;
                    line-height: 1;
                    letter-spacing: 0.04em;
                    color: $gray-60;
                }

                &.welcome {
				a{ padding:10px 35px 0 15px; }
                svg.account {
                    position: absolute;
                    right: 0;
					margin-top:15px;
                }

                svg.account + span {
                    display: block;
                    padding-top:10px;
                }
            }
            }

            svg {
                display: block;
                margin: 0 auto 0.5rem;
                stroke: $gray-60;
                stroke-width: 1.5px;
                font-size: 3.2rem;
            }

            
        }
    }

    .navbar-nav li {
        text-transform: uppercase;
    }

    .navbar-nav:nth-child(2) > li {
        font-size: 10px;
    }
}


//** Large Desktop
//
//## 1440px and up styles
@media (min-width: 1440px) {
    .navbar-brand {
        margin: 1.6rem 0 1.3rem;
        padding: 0 2.5rem 1.8rem 2rem;
        height: 4.3rem;

        .logo-container {
            svg {
                width: 11.2rem;
                height: 4.3rem;
            }
        }
    }

    .navbar-form {
        .input-group {
            > .form-control {
                width: 28rem;
            }
        }
    }

    .navbar-nav {
        margin: 1.6rem 0 1.3rem;
        padding: 0 1.5rem;

        &.nav--primary {
            > li > a {
                height: 6.1rem;
                line-height: 3.2rem;
                font-size: 1.6rem;
            }
        }

        &.nav--secondary {

            > li > a:not(.btn) {
                height: 5.4rem;
                font-size: 1.2rem;
            }

            > .visible-lg-block {
                > a:not(.btn) {
                    margin-top: -0.5rem;
                }

                span {
                    font-size: 1.1rem;
                }

                strong {
                    font-size: 1.4rem;
                }
            }

            svg {
                margin-top: 0.5rem
            }

            .btn {
                margin-top: 1.9rem;
            }
        }
    }
}
