//== Account Menu
//
//**

$border-color: #e0e0e0;
$mobile-border-color: rgba($black, 0.1);
$header-color: #636363;

//** Mobile Only
//
//## 1199px and down styles
@media screen and (max-width: $screen-md-max) {

  .header-navbar {
    .centered-content {
      text-align: center;
  
      p {
        color: $white;
      }

      .btn {
        margin-top: 3rem;
      }
    }
  }

  // Mobile-Only Account Header
  #account-menu {
    .navbar-header--mobile {
      background: rgba(0,0,0,0.05);
  
      a {
        margin: 1.9rem 2rem;
        font-size: 1.5rem;
        max-width: calc(100% - 105px);
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;

        span,
        strong {
          font-weight: 300;
        }

        svg {
          font-size: 3rem;
          transform: scaleX(1);
          stroke-width: 1px;
          vertical-align: bottom;

          .icon-badge {
            fill: $green-300 !important;
          }
        }
      }
    }

    .navbar-nav {
      margin-bottom: 2.5rem;

      .u-icon {
        margin-right: 2rem;
      }
    }

    li > a {
      border-bottom: 1px solid $mobile-border-color;
      padding-top: 1.9rem;
      padding-bottom: 1.9rem;
      line-height: 2.4rem;
      font-size: 1.6rem;
      font-family: 'Roboto';
      font-weight: 300;
    }

    .container-overlay {
      > .row {
        > [class*="col-"] {
          height: auto !important;

          &:nth-child(2) {
            padding: 0 5rem;
          }
        }
      }
    }
  }
}

//** Small Desktop
//
//## 1200px and up styles
@media (min-width: $screen-lg-min) {
  #account-menu {
    p {
      font-size: 1.6rem;
      color: $white;
      white-space: nowrap;
    }

    .btn {
      font-size: 1.6rem;
    }

    .navbar-nav {
      padding: 0;
      border-left: 0;

      &:hover {
        > li a:not(.btn) {
          opacity: 0.5;
        }
      }

      > li {
        float: none;

        >a:not(.btn) {
          transition: opacity 200ms ease-in;

          &:hover {
            transition: none;
            color: $white !important;
            opacity: 1 !important;
  
            svg {
              stroke: $white !important;
            }
          }
        }
      }

      .u-icon {
        margin-right: 2rem;
      }
    }

    li > a {
      padding: 1.5rem 0;
      line-height: 2.4rem;
      font-size: 2.4rem;
      font-family: 'Roboto';
      font-weight: 300;
      color: $white;
      text-transform: none;
      white-space: nowrap;
    }
  }

  .container-overlay {
    > .row {
      > [class*="col-"] {
        padding: 0 5rem;
      }
    }

    .divider {
      border-left: 1px solid rgba($black, 0.3);
    }

    .centered-content {
      display: table;
      width: 100%;
      height: 100%;
      text-align: center;

      .centered-content-inner {
        display: table-cell;
        width: 100%;
        vertical-align: middle;
      }
    }
  }
}