﻿//== IE 9 CSS FILE
//
//** All IE 9 specific code goes in this file.
//   We want to keep the rest of the codebase free
//   from as many hacks as possible.
//


//== SETTINGS
//
//** Where we add our variables and typography, etc.
@import "_common/_settings/font-stacks";
@import "_common/_settings/variables";
@import "_common/_settings/motion";


//== CTA GRID
//
//** Replaces linear-gradient "dots" with dotted borders
.c-cta-grid {
  .col-sm-6 {
    &:first-child {
      .c-cta-grid__item::before {
        border-top: 2px dotted $grayscale-swatch-b;
      }
    }
  }
}

.c-cta-grid__item {
  border-bottom: 2px dotted $grayscale-swatch-b;
}

@media screen and (min-width: $screen-sm-min) {
  .c-cta-grid {
    .col-sm-6:nth-child(2) {
      .c-cta-grid__item::before {
        border-top: 2px dotted $grayscale-swatch-b;
      }
    }
  }
}