//== MAIN CSS FILE
//
//** 1. Write CSS in specificity order.
//   2. Make sure new rulesets are additive,
//      rather than overriding previous rulesets.
//   3. Order stylesheets following the inverted triangle,
//      starting with general rules, and working toward more specialized rules.
//


//== SETTINGS
//
//** Where we add our variables and typography, etc.
@import "_common/_settings/font-declarations";
@import "_common/_settings/font-stacks";
@import "_common/_settings/mixins";
@import "_common/_settings/variables";


//== TOOLS
//
//** Where we add our mixins, functions, and libraries.
@import "../../../../Foundation/Themes/code/stylesheets/bootstrap/variables";
@import "../../../../Foundation/Themes/code/stylesheets/bootstrap/mixins";

.ameren-aclara-container {

    //== COMMON GLOBAL STYLES
    //
    //** Where you can put resets, normalisers, and global rules.
    @import "_common/_global/box-sizing";
    @import "_common/_global/layout";
    @import "_common/_global/buttons";
    @import "_common/_global/dropdowns";
    @import "_common/_global/lists";
    @import "_common/_global/main-element";
    @import "_common/_global/typography";
    @import '_common/_global/display';
    @import '_common/_global/theme';


    //== COMMON COMPONENT STYLES
    //
    //** Where we put our objects. Any feature that can house another feature.
    @import '_common/_components/o-layout--full-page';
    @import '_common/_components/o-takeover';
    @import '_common/_components/c-svgs';





    //== FEATURE STYLES
    //
    //** Where we put our objects. Any feature that can house another feature.
    @import '../../../../Feature/Accordion/code/stylesheets/bs-accordion';
    @import '../../../../Feature/Footer/code/stylesheets/c-footer';
    @import '../../../../Feature/Header/code/stylesheets/c-header';
    @import '../../../../Feature/Header/code/stylesheets/c-header--account-menu';
    @import '../../../../Feature/Header/code/stylesheets/c-header--state-selector';
    @import '../../../../Feature/Header/code/stylesheets/c-header__sub-nav';

}


// Aclara additions
.ameren-aclara-container .footer { position: relative; }
.ameren-aclara-container .navbar-collapse { padding-left: 0; }
@media screen and (max-width: 1199px) {
    .ameren-aclara-container .header-navbar .navbar-toggle { line-height: 4rem; }
}