---
title: CTA Grid
category: MVP
breadcrumbs:
  type: inline
  list:
  - name: MVP
    link: index.html
  - name: CTA Grid
---

<h1>CTA Grid</h1>

<!-- Example: Success -->
{{#extend 'code-example'}}
  {{#content 'section-id'}}selector--categories{{/content}}

  {{#content 'section-title'}}Selector - Categories (CTA Grid){{/content}}

  {{#content 'HTML'}}
  {{> c-cta-grid components__cta-grid}}
  {{/content}}
{{/extend}}