---
title: Figure with Caption
category: MVP
breadcrumbs:
  type: inline
  list:
  - name: MVP
    link: index.html
  - name: Figure with Caption
---

<h1>Figure with Caption</h1>

<!-- Example: Success -->
{{#extend 'code-example'}}
  {{#content 'section-id'}}figure-with-caption{{/content}}

  {{#content 'section-title'}}Figure with Caption in a Sidebar{{/content}}

  {{#content 'HTML'}}

    <div class="row">
      <div class="col-sm-3 col-sm-offset-7">

{{> c-figure components__figure}}
      </div>
    </div>

  {{/content}}
{{/extend}}
