---
title: Zone Map
category: MVP
breadcrumbs:
  type: inline
  list:
  - name: MVP
    link: index.html
  - name: Zone Map
---

<h1>Zone Map</h1>

<p>This zone map is shown inside of the one-column centered layout due to it being used for the MVP pages.  The actual component has comments on where it starts and ends, so be careful to not confuse the layout code with the component code.</p>

<!-- Example: Global Header -->
{{#extend 'code-example'}}
  {{#content 'section-id'}}zone-map{{/content}}

  {{#content 'section-title'}}Zone Map{{/content}}

  {{#content 'HTML'}}
<div class="row">
  <div class="col-md-8 col-md-offset-2">

{{> c-zone-map}}
  </div>
</div>
  {{/content}}
{{/extend}}
