---
title: Account Dashboard
layout: default-gray.hbs
---

<!-- Account Dashboard Header -->
{{> c-content-image-header account-dashboard.header }}

<!-- Manage Account Bar -->
<div class="o-layout--full-page c-manage-account-bar">
    <div class="text-center">
        <ul class="list-inline c-inline-group-actions">
            <li>
                <span class="color-white">1234 Street Name Unit 206</span>
            </li>
            <li>
                <a href="#" class="text-regular">Manage{{> icon-chevron}}</a>
            </li>
        </ul>
    </div>
</div>

<!-- Content -->
<div class="container">
    <div class="row">
        <div class="col-md-4">
            <div class="dashboard-container">

                <!-- Account Info -->
                <div class="c-account-dashboard__header-intro">
                    <h2 class="text-center">Hello Jane,<br>Your current bill of <span class="color-primary-b text-bold">$225.75</span> is due in 12 days on <span class="color-primary-b text-bold">August 25th</span>.</h2>
                </div>

                <!-- Quick Links -->
                {{> c-quick-links account-dashboard.quick-links }}

            </div>
        </div>
        <div class="col-md-8">
            <div class="dashboard-container">
                
                <!-- Energy Usage Graph -->
                <div style="margin:3rem 3rem 6rem;height:375px;">
                    <h3>Energy Usage</h3>
                    <p>Graph goes here.</p>
                </div>

                <!-- Promo -->
                <div style="margin:3rem 3rem 6rem;">
                    <h3>Promo</h3>
                    {{> c-promo account-dashboard.promo}}
                </div>

                <!-- Account Support -->
                <div style="margin:3rem;">
                    <h3>Account Support</h3>
                    <div class="row">
                        <div class="col-sm-6">
                            {{#extend 'o-selector'}}
                                {{#content 'items'}}
                                    {{#extend 'o-selector__item'}}
                                        {{#content 'content'}}
                                            <p class="c-selector__title text-small text-bold">Explanation of Programs</P>
                                        {{/content}}
                                    {{/extend}}
                                    {{#extend 'o-selector__item'}}
                                        {{#content 'content'}}
                                            <p class="c-selector__title text-small text-bold">Payment Tips</P>
                                        {{/content}}
                                    {{/extend}}
                                    {{#extend 'o-selector__item'}}
                                        {{#content 'content'}}
                                            <p class="c-selector__title text-small text-bold">Billing Statements</P>
                                        {{/content}}
                                    {{/extend}}
                                {{/content}}
                            {{/extend}}
                        </div>
                        <div class="col-sm-6">
                            {{#extend 'o-selector'}}
                                {{#content 'items'}}
                                    {{#extend 'o-selector__item'}}
                                        {{#content 'content'}}
                                            <p class="c-selector__title text-small text-bold">Frequently Asked Questions</P>
                                        {{/content}}
                                    {{/extend}}
                                    {{#extend 'o-selector__item'}}
                                        {{#content 'content'}}
                                            <p class="c-selector__title text-small text-bold">Lower Your Bill</P>
                                        {{/content}}
                                    {{/extend}}
                                {{/content}}
                            {{/extend}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>