---
title: Home Page
js:
 - src: assets/scripts/c-hero.js
 - src: assets/scripts/c-slider.js
---

<h1 class="sr-only">Ameren. Focused energy <em>for life</em>.</h1>
{{> c-hero-login-promo--new home__hero--new}}
{{> c-quick-links quick-links.horizontal-blue}}
{{> c-slider--three-col home__slider}}
