---
title: Site Index
---

<div class="container-fluid">
  <div class="row">
    <div class="col-xs-12">
      <h1>Site index page.</h1>

      <h2>Styleguide / Documentation</h2>
      <ul>
        <li><a href="{{relative page.dest 'dist/styleguide/'}}">Component Library / Styleguide</a></li>
      </ul>
    </div>
  </div>
</div>
