---
title: Landing Page Example
js:
  - src: assets/scripts/content-carousels.js
---


{{> c-header-intro }}

{{#extend 'o-tabbed-nav'}}
    {{#content 'type'}}nav-tabs--justified{{/content}}
    {{#content 'tabs'}}

        {{! Include first tab }}
        {{#extend 'o-tabbed-nav__tab'}}
            {{#content 'class'}}active{{/content}}
            {{#content 'id'}}overview{{/content}}
            {{#content 'label'}}Overview{{/content}}
        {{/extend}}

        {{! Include second tab }}
        {{#extend 'o-tabbed-nav__tab'}}
            {{#content 'class'}}{{/content}}
            {{#content 'id'}}rebate-center{{/content}}
            {{#content 'label'}}Rebate Center{{/content}}
        {{/extend}}

        {{! Include second tab }}
        {{#extend 'o-tabbed-nav__tab'}}
            {{#content 'class'}}{{/content}}
            {{#content 'id'}}marketplace{{/content}}
            {{#content 'label'}}Marketplace{{/content}}
        {{/extend}}

        {{! Include fourth tab }}
        {{#extend 'o-tabbed-nav__tab'}}
            {{#content 'class'}}{{/content}}
            {{#content 'id'}}home-services{{/content}}
            {{#content 'label'}}Home Services{{/content}}
        {{/extend}}

    {{/content}}

    {{#content 'tab-contents'}}
        
        {{! Include first tab content }}
        {{#extend 'o-tabbed-nav__content'}}
            {{#content 'class'}}active{{/content}}
            {{#content 'id'}}overview{{/content}}
            {{#content 'content'}}
                {{> c-hero-dual-promo full-width-hero.residential }}
                {{> c-category-grid category-grid.media }}
                {{> c-callout-carousel-1-column }}
                {{> c-product-carousel }}
                {{> c-content-carousel media-carousel.two-column }}
            {{/content}}
        {{/extend}}

        {{! Include second tab content }}
        {{#extend 'o-tabbed-nav__content'}}
            {{#content 'class'}}{{/content}}
            {{#content 'id'}}rebate-center{{/content}}
            {{#content 'content'}}{{/content}}
        {{/extend}}

        {{! Include third tab content }}
        {{#extend 'o-tabbed-nav__content'}}
            {{#content 'class'}}{{/content}}
            {{#content 'id'}}marketplace{{/content}}
            {{#content 'content'}}{{/content}}
        {{/extend}}

        {{! Include fourth tab content }}
        {{#extend 'o-tabbed-nav__content'}}
            {{#content 'class'}}{{/content}}
            {{#content 'id'}}home-services{{/content}}
            {{#content 'content'}}{{/content}}
        {{/extend}}
    {{/content}}
{{/extend}}