---
title: Outage Center
---

<!-- Header -->
{{> c-content-image-header content-image-header.outage-center }}

{{> c-quick-links outage-center.quick-links}}
<br><br>

<div class="container">

    <!-- Action Panel -->

    <!-- Two Column -->
    <div class="row">

        <!-- Lead Article List -->
        <div class="col-xs-12 col-sm-6">
            <h2>Helpful Storm Safety &amp; Outage Articles</h2>
            {{> c-lead-article-list }}
        </div>
        
        <!-- Twitter Feed -->
        <div class="col-xs-12 col-sm-6">
            <h2>Latest Outage Updates</h2>
            {{> c-twitter-feed }}
        </div>
    </div>

</div>