---
layout: task-flow.hbs
title: Pay Bill
---

<section class="o-task-layout">

  <!-- Stepper Header -->
  <header class="o-task-layout__header container-fluid">
    <span>Pay Bill</span>
    <p class="lead">Please review and authorize your payment.</p>
    <p class="text-light text-small no-margin">Payment's For</p>
    <p class="large-text">Grandma's House</p>
  </header>

  <div class="o-task-layout__content">

    {{! Wide content }}
    <div class="container-fluid container-800">
      
    </div>

    {{! Narrow content }}
    <div class="container-fluid container-400">

    </div>
  </div>

</section>

