---
layout: task-flow.hbs
title: Registration - Step 3
---

{{#extend "o-task-layout"}}
  {{#content "step-count"}}Step 3 of 4{{/content}}
  {{#content "title"}}Let's create a security question in case you need to recover your online access.{{/content}}
  {{#content "content"}}

  {{#with form--security-question}}
  <form action="#" method="post" data-toggle="validator">
    <fieldset>

      {{> c-form__select security-question}}
      {{> c-form__input answer}}
      <input type="submit" value="{{submit.value}}" class="btn btn-primary {{submit.classes}}">
      <p class="c-divider-text"><span>or</span></p>
      <button type="button" class="btn btn-default {{add-later.classes}}">{{add-later.value}}</button>

    </fieldset>

    <br><p><a href="registration-4.html">Bypass validation</a> (not part of step content).</p>

  </form>
  {{/with}}

  {{/content}}
{{/extend}}
