---
layout: task-flow.hbs
title: Registration - Step 1
---

{{#extend "o-task-layout"}}
  {{#content "step-count"}}Step 1 of 4{{/content}}
  {{#content "title"}}What type of customer are you?{{/content}}
  {{#content "content"}}
  <a href="registration-2.html" class="btn btn-primary btn-block">Residential</a>
  <a href="registration-2.html" class="btn btn-primary btn-block">Business</a>
  <a href="registration-2.html" class="btn btn-primary btn-block">Property Manager</a>
  <a href="registration-2.html" class="btn btn-primary btn-block">Customer Business Partner</a>

  <p class="c-divider-text"><span>or</span></p>

  <a href="registration-helper.html" class="btn btn-default btn-block">Help Me Choose...</a>

  {{/content}}
{{/extend}}
