---
layout: task-flow.hbs
title: Registration - Step 2
---

{{#extend "o-task-layout"}}
  
  {{#content "title"}}Not sure? We can help you figure it out. Select an account type based on the definitions below.{{/content}}
  {{#content "wide-content"}}

  {{> c-helper registration.helper-residential}}
  {{> c-helper registration.helper-business}}
  {{> c-helper registration.helper-property-manager}}
  {{> c-helper registration.helper-customer-business-partner}}


  <p class="c-divider-text"><span>Still not sure?</span></p>
  {{/content}}

  {{#content "content"}}
  <p>Call custmer service at <a href="tel:800-123-4567">800.123.4567</a> for help.</p>
  <br>
  <a href="#" class="btn btn-default btn-block">Email Customer Service</a>
  {{/content}}
{{/extend}}
