---
layout: task-flow.hbs
title: Registration - Step 4
---

{{#extend "o-task-layout"}}
  {{#content "step-count"}}Step 4 of 4{{/content}}
  {{#content "title"}}Please follow the instructions in the email sent to <strong>xxx@xxx.com</strong> to complete your online access.{{/content}}
  {{#content "content"}}

  <p class="c-divider-text"><span>Didn't get the email?</span></p>
  <a href="#" class="btn btn-default btn-block">Please Resend Email Verification</a>
  <a href="#" class="btn btn-default btn-block">Change Email Address</a>

  {{/content}}
{{/extend}}
