---
layout: task-flow.hbs
title: Registration - Step 2
---

{{#extend "o-task-layout"}}
  {{#content "step-count"}}Step 2 of 4{{/content}}
  {{#content "title"}}We need some basic information to set up your online access.{{/content}}
  {{#content "content"}}

  {{#with form--set-up-online-access}}
  <form action="#" method="post" data-toggle="validator">
    <fieldset>

      {{> c-form__input name}}
      {{> c-form__input email}}
      {{> c-form__checkbox-group use-email}}
      {{> c-form__input password}}

    </fieldset>

    <!-- Footer -->
    <div class="c-form__footer">
      {{> c-form__checkbox-group receive-info}}
      {{> c-form__checkbox-group agree-to-terms}}
      <input type="submit" value="{{submit.value}}" class="btn btn-primary {{submit.classes}}">

      <br><p><a href="registration-3.html">Bypass validation</a> (not part of step content).</p>
    </div>

  </form>
  {{/with}}

  {{/content}}
{{/extend}}
