---
title: Callout Carousel
category: Content Components
breadcrumbs:
  type: inline
  list:
  - name: Content Components
    link: index.html
  - name: Callout Carousel
js:
  - src: ../../assets/scripts/content-carousels.js
---

<h1>Callout Carousel</h1>

<!-- Example: Callout Carousel 1 -->
{{#extend 'code-example'}}
  {{#content 'section-id'}}callout-carousel-1{{/content}}
  {{#content 'section-title'}}1 Column{{/content}}
  {{#content 'HTML'}} 

{{> c-callout-carousel-1-column }}

  {{/content}}
{{/extend}}


<!-- Example: Callout Carousel 2 -->
{{#extend 'code-example'}}
  {{#content 'section-id'}}callout-carousel-2{{/content}}
  {{#content 'section-title'}}2 Column{{/content}}
  {{#content 'HTML'}} 

{{> c-callout-carousel-2-column }}

  {{/content}}
{{/extend}}
