---
title: Category Grid
category: Content Components
breadcrumbs:
  type: inline
  list:
  - name: Content Components
    link: index.html
  - name: Category Grid
---

<h1>Category Grid</h1>

<style>.rendered-component{margin: 0 -15px;}</style>

<!-- Example: Category Grid -->
{{#extend 'code-example'}}
  {{#content 'section-id'}}icon-with-hover{{/content}}

  {{#content 'section-title'}}Icon with Hover{{/content}}

  {{#content 'HTML'}} 

{{> c-category-grid category-grid.icon }}

  {{/content}}
{{/extend}}

<!-- Example: Category Grid -->
{{#extend 'code-example'}}
  {{#content 'section-id'}}with-media{{/content}}

  {{#content 'section-title'}}With Media{{/content}}

  {{#content 'HTML'}} 

{{> c-category-grid category-grid.media }}

  {{/content}}
{{/extend}}


<!-- Example: Category Grid -->
{{#extend 'code-example'}}
  {{#content 'section-id'}}text-only{{/content}}

  {{#content 'section-title'}}Text Only{{/content}}

  {{#content 'HTML'}} 

{{> c-category-grid category-grid.text }}

  {{/content}}
{{/extend}}
