---
title: Content Carousel
category: Content Components
breadcrumbs:
  type: inline
  list:
  - name: Content Components
    link: index.html
  - name: Content Carousel
js:
  - src: ../../assets/scripts/content-carousels.js
---

<h1>Content Carousel</h1>

<!-- Example: 2 Column Media Grid -->
{{#extend 'code-example'}}
  {{#content 'section-id'}}two-column-content-carousel{{/content}}

  {{#content 'section-title'}}2 Columns{{/content}}

  {{#content 'HTML'}} 

{{> c-content-carousel media-carousel.two-column }}

  {{/content}}
{{/extend}}

<!-- Example: 2 Column Media Grid -->
{{#extend 'code-example'}}
  {{#content 'section-id'}}three-column-content-carousel{{/content}}

  {{#content 'section-title'}}3 Columns{{/content}}

  {{#content 'HTML'}} 

{{> c-content-carousel media-carousel.three-column }}

  {{/content}}
{{/extend}}
