---
title: Header Intro
category: Content Components
breadcrumbs:
  type: inline
  list:
  - name: Content Components
    link: index.html
  - name: Header Intro
---

<h1>Header Intro</h1>

<!-- Example: Layout -->
{{#extend 'code-example'}}
  {{#content 'section-id'}}header-intro{{/content}}
  {{#content 'section-title'}}Header Intro{{/content}}
  {{#content 'HTML'}} 

{{> c-header-intro }} 

  {{/content}}
{{/extend}}