---
title: Hero Dual Promo
category: Content Components
breadcrumbs:
  type: inline
  list:
  - name: Content Components
    link: index.html
  - name: Hero Dual Promo
---

<h1>Hero Dual Promo</h1>

<!-- Example: Layout -->
{{#extend 'code-example'}}
  {{#content 'section-id'}}layout{{/content}}
  {{#content 'section-title'}}Residential (with Icon Promo){{/content}}
  {{#content 'HTML'}} 

{{> c-hero-dual-promo full-width-hero.residential }} 

  {{/content}}
{{/extend}}

<!-- Example: Layout -->
{{#extend 'code-example'}}
  {{#content 'section-id'}}layout{{/content}}
  {{#content 'section-title'}}Business (with Background Image Promo){{/content}}
  {{#content 'HTML'}} 

{{> c-hero-dual-promo full-width-hero.business }} 

  {{/content}}
{{/extend}}
