---
title: Product Carousel
category: Content Components
breadcrumbs:
  type: inline
  list:
  - name: Content Components
    link: index.html
  - name: Product Carousel
js:
  - src: ../../assets/scripts/content-carousels.js
---

<h1>Product Carousel</h1>

<!-- Example: Product Carousel -->
{{#extend 'code-example'}}
  {{#content 'section-id'}}product-carousel{{/content}}

  {{#content 'section-title'}}Product Carousel{{/content}}

  {{#content 'HTML'}} 

{{> c-product-carousel }}

  {{/content}}
{{/extend}}
