.dashboard-container {
    margin-bottom: 3rem;
    background-color: $white;    

    .c-quick-links li:last-child, 
    .c-quick-links li:nth-last-child(2) {
        border-bottom: 0;
    }
}

.c-account-dashboard__header-intro {
    padding: 3rem 0 4rem;

    h2 {
        font-size: 2.4rem;
        line-height: 1.2;
        color: $base-font-color;
    }
}


@media screen and (max-width: $screen-xs-max) {
    .dashboard-container {
        .c-quick-links { margin: 0 -1.5rem; }
    }
}

@media screen and (max-width: $screen-sm-max) {
    .dashboard-container {
        .c-quick-links {
            background: #1564AC;
            background: #1564AC linear-gradient(to bottom, rgba($blue-300, 0.4) 0%, transparent 100%);

            a {
                color: $white;

                &:hover { background: rgba($blue-300, 0.5); }
                svg { stroke: $white; }
            }
        }
    }
}

@media screen and (min-width: $screen-sm-min) {
    .dashboard-container { 
        border-radius: 1rem;
        overflow: hidden;
    }
}

@media screen and (min-width: $screen-md-min) {
    .c-account-dashboard__header-intro {
        padding: 6rem 2rem;
    
        h2 {
            font-size: 3rem;
        }
    }

    .dashboard-container {
        .c-quick-links {
            a {
                &:hover {
                    background: #1564AC;
                    background: #1564AC linear-gradient(to bottom, rgba($blue-300, 0.4) 0%, transparent 100%);
                    color: $white;

                    svg { stroke: $white; }
                }
            }
        }
    }
}