//** BILLING AND PAYMENTS
//
//## Overview
.c-billing-and-payments-overview {
    margin-bottom: 2rem;
    background-color: $gray-05;
    border-radius: 1rem;
    padding: 2rem;
    text-align: center;
}

.currency-amount {
    color: $grayscale-swatch-a;
    font-size: 7rem;
    font-weight: 700;
    line-height: 1;

    sup {
        top: 0;
        vertical-align: super;
        font-size: 0.4em;
    }
}