.c-back-to-previous-page {
  margin-bottom: $base-spacing;

  svg {
    margin-right: 1.7rem;
    border-right: 1px solid $grayscale-swatch-c;
    padding: 0.2rem 1rem 0.2rem 0;
    stroke: $grayscale-swatch-b;
  }

  a {
    vertical-align: top;
    font-size: 1.8rem;
  }
}
