﻿.c-account-selector {
    header {
        padding-bottom: 1rem;

        h1 {
            margin-bottom: 0;
        }

        a {
            margin-top: 1.5rem;
        }
    }
}

.c-accounts-list {
    margin-top: 0;
    display: table;
    table-layout: auto;
    width: calc(100% + 30px);


    > a {
        display: table-row;
        width: 100%;
        text-decoration: none;

        &:hover {
            background: darken($white, 5%);
        }

        &.c-account--danger{
            .c-accounts-list__amount { color: $red-500; }
        }

        &.c-account--success {
            .c-accounts-list__amount { color: $green-500; }
        }

        > div {
            display: table-cell;
            padding: 1.5rem 0;
            vertical-align: middle;

            &:first-child {
                padding-left: 1.5rem;
            }

            &:nth-child(2) {
                text-align: right;
            }

            &:last-child {
                padding-right: 1.5rem;
                padding-left: 1.5rem;
                width: 52px;

                svg { 
                    stroke: $gray-40;
                    stroke-width: 1px;
                }
            }
        }
    }

    p {
        margin-bottom: 0;
    }

    .c-accounts-list__address {
        margin-right: 2rem;
        margin-bottom: 1rem;
        color: $black;
        line-height: 2.1rem;
    }

    .c-accounts-list__number {
        font-weight: 100;
    }

    .c-accounts-list__amount {
        font-size: 2.4rem;
    }
}

@media screen and (max-width: $screen-xs-max) {
    .c-accounts-list {
        > a {
            &.c-account--danger{
                background: $state-danger-bg;

                &:hover {
                    background: darken($state-danger-bg, 10%);
                }
            }
    
            &.c-account--success {
                background: $state-success-bg;

                &:hover {
                    background: darken($state-success-bg, 10%);
                }
            }
        }
    }
}

@media screen and (min-width: $screen-sm-min) {
    .c-accounts-list {
        svg {
            vertical-align: middle;
        }

        .c-accounts-list__address {
            float: left;
            margin-right: 0;
            margin-bottom: 0;
            width: 66%;
        }

        .c-accounts-list__text {
            padding-right: 15px;
        }

        .c-accounts-list__number,
        .c-accounts-list__amount,
        .c-accounts-list__text {
            float: right;
            line-height: 4.2rem;
        }

        .balanceDue {
            display: flex;
            flex-direction: row-reverse;
            justify-content: space-between;

            .c-accounts-list__text {
                margin-left: 2rem;
            }
        }
    }
}
