//== Hero
//
//**

.c-hero-login-promo {
  position: relative;
  background-color: $grayscale-swatch-a;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

@media screen and (max-width: $screen-sm-min - 1px) {
  .c-hero-login-promo:not(.c-hero--residential):not(.c-hero--rebates) {
    background-image: none !important;
  }

  .c-hero-login-promo > img {
    min-width: 0 !important;
    min-height: 0 !important;
  }

  .c-hero-login-promo .c-hero__copy {
    padding: 4rem;
    min-height: 0;
  }
}

.c-hero-login-promo__content {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: flex-end;
  margin: 0 auto;
  max-width: $container-large-desktop;
}

.c-hero-login-promo__copy {
  position: relative;
  padding: 2rem 4rem;
  min-height: 35rem;


  &::after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    background-color: rgba($black, 0.5);
    content: '';
  }

  > * {
    position: relative;
    z-index: 3;
  }

  h2 {
    margin-top: 0;
    color: $white;
    font-size: 4rem;
    font-weight: 100;
  }

  p {
    color: $white;
  }
}

.c-hero-login-promo__login-form {
  form {
    margin: 0;
    background-color: $white;
    padding: 2rem;

    [type="submit"] {
      margin: 1.6rem 0;
      width: 100%;
    }

    fieldset {
      display: none;
    }
  }
}

.c-hero--residential {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 3rem 2rem;

  .innernav {
    display: none;
  }

  .c-hero__content {

    > img {
      display: none;
      margin: 0 -6px -6px 0;
    }
  }
}

@media screen and (min-width: $screen-sm-min) {

  .c-hero-login-promo__content {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    flex-direction: row;
    justify-content: space-between;
  }

  .c-hero-login-promo__copy {
    display: block;
    background-image: none !important;
    padding: 8rem 1.5rem 6rem;

    &::after {
      content: none;
    }

    h2,
    p,
    a {
      display: block;
      width: 22rem;
    }

    p {
      font-size: 1.8rem;
    }

    a {
      text-align: center;
    }
  }

  .c-hero-login-promo__login-form {
    margin: 6rem 1.5rem 12rem 0;
    border-radius: 1.2rem;
    background-color: rgba($black, 0.3);
    padding: 2rem;
    width: 33.5rem;

    form {
      margin: 0;
      border-radius: 1.2rem;

      fieldset {
        display: block;
        margin: 0;
      }
    }
  }

  .c-hero--residential {
    position: relative;
    padding: 0 0 6rem;

    .innernav {
      display: flex;
      padding: 0 1.5rem;
    }

    .c-account-navigation {
      &,
      nav,
      ul,
      li,
      a {
        display: flex;
      }

      a {
        align-items: center;
      }
    }

    .c-hero__content {
      display: flex;
      margin: 10rem 1.5rem 0;
      border: 0.6rem solid $grayscale-swatch-c;

      > .container-fluid {
        margin: 0;
        padding: 0 0 2rem 5rem;
        width: 50%;
      }

      > img {
        display: block;
        align-self: flex-end;
        max-width: 50%;
      }
    }
  }
}

@media screen and (min-width: $screen-lg-min) {
  .c-hero--residential {

    .c-hero-login-promo__content {
      margin-right: auto;
      margin-left: auto;
    }
  }
}
