//== Hero Login Promo (New)
//
//** Creating a separate component rather than updating the old version
//   so that the old one can remain until we are ready to switch to the new.

.c-hero-login-promo--new {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

//## Content
.c-hero-login-promo__content--new {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    padding: 6.5rem 2rem;
    
    h1 {
        font-size: 2.4rem;
        line-height: 1.5;
        color: $white;
    }

    .btn-default {
        border-color: transparent;
        background: $primary-swatch-b;
        min-width: 15rem;
        color: $white;

        &:hover,
        &:focus {
            border-color: transparent;
            background-color: $blue-300;
            color: $white;
        }
    }

    .btn-link { color: $white; }
}

//## Login form / account widget
.c-hero-login-promo__widget--new {
    h2 {
        margin-top: 0;
        font-size: 2.4rem;
        color: $primary-swatch-b;
    }

    strong,
    em { display: block; }

    .btn-block+.btn-block { margin: 1rem 0 0; }

    .c-selector {
        margin-top: 3rem;

        .media-left {
            padding-right: 1rem;

            svg { 
                font-size: 2.4rem; 
                stroke-width: 2px;
            }
        }
    }

    .c-hero-login-promo__log-out {
        margin-bottom: 1rem;

        svg { stroke-width: 3px; }
    }
}
.c-hero-login-promo__widget-inner--new {
    background-color: rgba($white, 0.9);
    border-radius: 1.2rem;
    padding: 2rem 2rem 1rem;
}


//## Mobile Only (-767px)
@media screen and (max-width: $screen-xs-max) {
    .c-hero-login-promo--new {
        background-image: none !important;

        h1 {
            width: 55%;
            min-width: 21rem;
        }
    }

    .c-hero-login-promo__widget--new {
        padding: 2rem 2rem 1rem;

        strong { display: none; }

        .btn-block+.btn-block { margin: 1rem 0 0; }

        .c-selector {
            margin-right: -2rem;
            margin-left: -2rem;
        }
    }
}


//## Tablet (+768px) {
@media screen and (min-width: $screen-sm-min) {
    .c-hero-login-promo--new {
        // height: calc(100vh - 70px - 68px);
        min-height: 50rem;
        display: table;
    }

    .c-hero-login-promo__content--new {
        display: table-cell;
        padding: 6.5rem 4rem;
        vertical-align: middle;
        background-image: none !important;

        > div { max-width: 40rem; } 

        h1 {
            font-size: 3rem;
            line-height: 1.5;
            font-weight: 300;
        }
    }

    .c-hero-login-promo__widget--new {
        display: table-cell;
        width: 38rem;
        vertical-align: middle;
    }
    .c-hero-login-promo__widget-inner--new { margin: 6.5rem 4rem; }
}


// Small Desktop (+992px)
@media screen and (min-width: $screen-md-min) {
    .c-hero-login-promo--new {
        height: calc(100vh - 70px - 90px);
        min-height: 64rem;
    }

    .c-hero-login-promo__content--new {
        display: table-cell;
        padding: 6.5rem 6rem;

        > div { max-width: 48rem; } 

        h1 {
            font-size: 4.8rem;
            line-height: 1.2;
        }
    }

    .c-hero-login-promo__widget--new { width: 46rem; }
    .c-hero-login-promo__widget-inner--new { margin: 6.5rem 8rem; }
}

// Large Desktop (+1200px)
@media screen and (min-width: $screen-lg-min) {

    .c-hero-login-promo--new {
        height: calc(100vh - 90px - 90px);
    }

    .c-hero-login-promo__content--new {
        > div { max-width: 54rem; } 

        h1 {
            margin-bottom: 2rem;
            font-size: 6rem;
            line-height: 1.1;
        }
    }
}

// Extra Large Desktop (+1600px)
@media screen and (min-width: 1600px) {

    .c-hero-login-promo--new {
        min-height: 72rem;

        > div { max-width: 72rem; } 

        h1 {
            font-size: 7.2rem;
            line-height: 1.1;
        }
    }

    .c-hero-login-promo__content--new {
        > div { max-width: 60rem; } 
    }
}