$other-gray: #afafaf;

.c-action-module {
  margin: 0 auto $base-spacing;
  width: 100%;
  max-width: $container-large-desktop;
  overflow: hidden;

  .c-action-module-item {
    padding-top: 4rem;
    padding-bottom: 2rem;
    color: $primary-swatch-b;
    font-size: 1.5rem;

    &:nth-child(even) {
      border-left: 1px solid $grayscale-swatch-c;
    }

    &:nth-child(n + 3) {
      border-top: 1px solid $grayscale-swatch-c;
    }
  }

  .media-left {
    width: 4.2rem;

    a {
      display: block;
    }
  }

  .media-body {
    width: auto;
  }

  svg {
    margin-top: 0.5rem;
    font-size: 3.2rem;
    stroke-width: 1px;

    * {
      stroke: $primary-swatch-b;
    }
  }
}

@media screen and (max-width: $screen-md-min - 1px) {
  .c-action-module {
    .media-left,
    .media-body {
      display: block;
      padding-right: 0;
      width: auto;
      text-align: center;
    }
  }
}

@media only screen and (min-width: $screen-md-min) {
  .c-action-module {
    margin: 0 auto;
    padding: 1rem;
    // counter-reset: action-module;

    .c-action-module-item {
      margin: auto;
      border-left: 1px solid $grayscale-swatch-c;
      padding-top: 4rem;
      padding-bottom: 4rem;
      text-align: left;
      color: $grayscale-swatch-b;
      font-size: 1.4rem;

      &:nth-child(3n - 2) {
        border-left: 0;
      }

      &:nth-child(3) {
        border-top: 0;
      }

      // .media-body {
      //   &::before {
      //     color: $other-gray;
      //     font-weight: 500;
      //     content: counter(action-module, decimal-leading-zero);
      //     counter-increment: action-module;
      //   }
      // }

      a {
        text-align: left;
        color: $black;
        font-size: 1.5rem;
        font-weight: bold;
      }

      p {
        text-align: left !important;
        color: $black;
        font-size: 1.4rem;
      }
    }
  }
}
