.c-action-panel {
  margin: 0 -15px $base-spacing;
  border-bottom: 1px solid $grayscale-swatch-c;
  width: calc(100% + 30px);
  max-width: $container-large-desktop;
  overflow: hidden;

  .c-action-panel-item {
    border-top: 1px solid $grayscale-swatch-c;
    color: $primary-swatch-b;
    font-size: 1.5rem;

    &:nth-child(even) {
      border-left: 1px solid $grayscale-swatch-c;
    }
  }

    a {
        display: block;
        padding-top: 2rem;
        padding-bottom: 2rem;
    }
    svg,
    span {
        display: block;
        margin: 0 auto;
        padding-right: 0;
        width: auto;
        text-align: center;
        color: $primary-swatch-b;
    }

    svg {
        margin-top: 0.5rem;
        font-size: 6rem;
        stroke-width: 1px;

        * {
            stroke: $primary-swatch-b;
        }
    }
}

@media only screen and (min-width: $screen-md-min) {
  .c-action-panel {
    margin: 0 auto 5rem;
    border-right: 1px solid $grayscale-swatch-c;
    width: auto;

    .c-action-panel-item {
      margin: auto;
      border-left: 1px solid $grayscale-swatch-c;
      text-align: left;
    }
  }
}
