.bill-summary {
    color: #08060d;
    font-size: 18px;
    padding: 20px;
    border-radius: 10px;

    .padding-top-bottom {
        padding: 40px 10px;
        background-color: white;
        border-radius: 10px 10px 0 0;
    }

    .padding-bottom {
        padding: 0 0 40px 0;
        border-radius: 0 0 10px 10px;
    }

    .green-text {
        color: #24933c;
        font-size: 18px;
        font-weight: bold;
    }

    div {
        background-color: $white;
    }
}

@media screen and (min-width: $screen-sm-min) {
    .bill-summary {
        background-color: rgba($black, 0.4);
        display: inline-block;
        margin-top: 40px;
    }
}
