.c-category-grid {
    font-size: 0;
    text-align: center;

    h2 { margin-bottom: 3rem; }

    > [class^="col"] {
        float: none;
        display: inline-block;
        margin-bottom: 6rem;
        vertical-align: top;

        &:nth-last-of-type(3n + 1):first-of-type { margin-left: 1px; }
    }

    a:not(.btn) { white-space: nowrap; }
}

.c-category-grid__inner {
    h3, img { margin: 0 0 1rem; }

    .c-category-grid__description {
        margin-bottom: 3rem;
        font-size: 1.4rem;
    }

    .btn-default--gray,
    .btn-default--gray:hover { border-color: $gray-10; }
}

.c-category-grid-icon {
    > svg {
        margin-bottom: 2rem;
        font-size: 8rem;
        stroke: $primary-swatch-a;
    }
}

@media screen and (min-width: $screen-sm-min) {
    .c-category-grid {
        margin-bottom: 4rem;

        h2 { margin-bottom: 2rem; }

        > [class^="col"] {
            margin-top: 4rem;
            margin-bottom: 2rem;
        }
    }

    .c-category-grid__inner {
        height: calc(100% + 4rem);

        h3, img { margin: 0 0 2rem; }

        .c-category-grid__description {
            font-size: 1.6rem;
        }
    }

    $timing: 250ms;

    //** Category Grid Icon with Hover Variant
    //
    //##
    .c-category-grid-icon {
        margin-top: -4rem;
        padding: 6rem 2rem;
        overflow: hidden;
        transition: background $timing ease-in-out;
        height: 100%;

        > svg { transition: stroke $timing ease-in-out; }

        .c-category-grid-icon__copy { position: relative; }

        .c-category-grid__description { 
            margin-bottom: 0; 
            transition: opacity $timing ease-in-out;
        }

        .btn {
            position: absolute;
            top: 2rem;
            left: 50%;
            transform: translateX(-50%);
            z-index: 10;
            opacity: 0;
            pointer-events: none;
            transition: opacity $timing ease-in-out;

            background: rgba($black, 0.3);
            border-color: transparent;
            color: $white;

            &:hover {
                background: rgba($black, 0.2);
                border-color: transparent;
            }
        }

        &:hover {
            background: $primary-swatch-a;

            svg { stroke: $white; }
            
            h3 { color: $white; }

            .c-category-grid__description {
                opacity: 0;
                pointer-events: none;
            }

            .btn {
                opacity: 1;
                pointer-events: all;
            }
        }
    }
}