$this-gray: #c6c6c6;

.c-dot-leaders {
  @include unstyle-list();
  display: table;
  margin: $base-spacing 0;
  padding: 0;
  width: 100%;
  table-layout: auto;
  border-collapse: collapse;

  li > * {
    display: table-cell;
    padding: 0;
    vertical-align: text-bottom;
    font-size: 1.4rem;

    &:first-child {
      width: 100%;
      overflow: hidden;
      white-space: nowrap;

      &::after {
        display: inline-block;
        margin-left: 0.3rem;
        background-image: repeating-linear-gradient(
          to right,
          $this-gray 0, $this-gray 1px,
          transparent 1px, transparent 4px
        );
        background-repeat: repeat-x;
        background-position: left bottom;
        background-size: 4px 1px;
        padding: 1em 0 0;
        width: 100%;
        vertical-align: text-bottom;
        content: '';
      }
    }

    &:last-child {
      padding-left: 0.3rem;
      text-align: right;
    }
  }
}
