.c-divider-text {
  width: 90%;
  margin: $base-spacing auto;
  overflow: hidden;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 300;

  &::before,
  &::after {
    background: $grayscale-swatch-c;
    content: "";
    display: inline-block;
    height: 1px;
    position: relative;
    vertical-align: middle;
    width: 50%;
  }

  &::before {
    right: 1rem;
    margin-left: -50%;
  }

  &::after {
    left: 1rem;
    margin-right: -50%;
  }
}

.c-divider--quarter {
  margin: 2rem auto;
  width: 25%;
}