.c-envelope-card {
  position: relative;
  margin-bottom: $base-spacing;
  max-width: 450px;

  p {
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
  }
}
