//** Content Carousel (Media Carousel)
//
//## 
.media-carousel {
    margin: 4rem 0 11.6rem;

    h2 { text-align: center; }

    .slick-dots { padding: 4rem 0 6rem; }
    .slick-arrow { visibility: hidden; }
    .slick-next { right: 0; }
    .slick-prev { left: 0; }

    .media-carousel__media {
        display: block;
        width: 100%;
    }

    h3 {
        svg {
            stroke: $gray-40;
        }
    }
}

//** Tablet / Small Desktop
//
//## 768 and up styles
@media screen and (min-width: $screen-sm-min) {
    .media-carousel {
        margin: 6rem 0 13.6rem;
        padding: 0 5.5rem;

        .slick-arrow { 
            visibility: visible; 
            
            svg { 
                font-size: 4rem; 
                stroke: rgba($black, 0.2);
            }

            &:hover {
                svg { stroke: $primary-swatch-b; }
            }
        }
        .slick-dots { padding: 6rem 0; }
    }
}


//** Large Desktop
//
//## 1200 and up styles
@media screen and (min-width: $screen-lg-min) {
    .media-carousel {
        padding: 0 6.5rem;

        .slick-arrow { 
            svg { font-size: 6rem; }
        }
    }
}
