.c-figure {
  margin-bottom: $base-spacing;
  border: 2px solid $grayscale-swatch-c;
  padding: 2rem;

  p {
    font-size: 1.6rem;
  }

  img {
    display: block;
    margin: 1rem auto;
  }
}

.c-figure__caption {
  margin: 0;
  background-color: $grayscale-swatch-c;
  padding: 2rem;
  color: $grayscale-swatch-b;
  font-size: 1.4rem;
  font-style: normal;
}
