//** Content Hero
//
//## Hero 
.c-hero-banner {
    position: relative;
    height: 100%;
}

.c-hero-banner__background {
    display: none;
    margin: 0 -1.5rem;
    background-size: cover;
    background-position: right center;
    height: 25rem;
}

.c-hero-banner__background--mobile {
    margin: 0 -1.5rem;
    background-size: cover;
    background-position: right center;
    padding-bottom: 66.667%;
    height: 0;
}

.c-hero-banner__content {
    padding: 3rem 1.5rem;

    h2 { 
        margin: 0 0 2rem; 
        font-size: 2.4rem;
        line-height: 1.2;
    }
}

.c-hero-banner__links {
    margin: 0 auto;
    max-width: 21.5rem;

    .btn { margin-bottom: 1.5rem; }
}


//## Mobile Only
//
//## -767px
@media screen and (max-width: $screen-xs-max) {
    .c-hero-banner__content {
        h2 { color: $primary-swatch-b; }
    }
}


//** Tablet and up
//
//## +768px
@media screen and (min-width: $screen-sm-min) {
    .c-hero-banner__content {
        padding: 11rem 2rem 7rem;
        max-width: 50rem;
        box-sizing: content-box;

        h2 { 
            margin: 0 0 3rem; 
            font-size: 3.6rem;
        }
    }

    .c-hero-banner__background {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: -1;
        display: block;
        height: auto;
    }

    .c-hero-banner__background--mobile {
        display: none;
    }
}


//** Small desktop and up
//
//## +992px
@media screen and (min-width: $screen-md-min) {
    .c-hero-banner__content {
        padding: 9.5rem 3rem 5rem;
        max-width: 38rem;

        h2 { font-size: 2.8rem; }
    }

}


//** Medium desktop and up
//
//## +1200px
@media screen and (min-width: $screen-lg-min) {
    .c-hero-banner__content {
        padding: 12rem 3rem 8.5rem;
        max-width: 48rem;

        h2 { font-size: 3.6rem; }
    }
}


//** Large desktop and up
//
//## +1440px
@media screen and (min-width: 1440px) {
    .c-hero-banner__content {
        padding: 12rem 6rem 7.5rem;
        max-width: 55rem;

        h2 { font-size: 4.8rem; }
    }
}