//** Full Width Hero
//

//## Promo (Right Side)
.c-hero-dual-promo {
    margin-bottom: 3rem;

    .c-promo-carousel { margin: 0 -1.5rem; }

    .c-promo {
        margin: 0 -1.5rem;
        background-size: cover;
        background-position: center center;
        height: 100%;
    }

    .c-promo__inner { max-width: 44rem; }

    .c-promo-carousel .c-promo { margin: 0; }

    .c-promo-carousel,
    .slick-list,
    .slick-track {
        height: 100%;
    }
}


//## Mobile Only
//
//## -767px
@media screen and (max-width: $screen-xs-max) {
    
}


//** Tablet and up
//
//## +768px
@media screen and (min-width: $screen-sm-min) {
    

    .c-hero-dual-promo {
        margin-bottom: 5rem;
        
        .c-promo__inner {
            max-width: none;
            text-align: left; 

            > svg { 
                float: left; 
                margin: 0 6rem 0 3rem;
            }
        }
    }
}


//** Small desktop and up
//
//## +992px
@media screen and (min-width: $screen-md-min) {
    .c-hero-dual-promo {
        .c-promo__inner {
            max-width: none;
            text-align: center; 

            > svg { 
                float: none; 
                margin: 0;
                font-size: 10rem;
            }
        }
    }
}


//** Medium desktop and up
//
//## +1200px
@media screen and (min-width: $screen-lg-min) {
    .c-hero-dual-promo {
        .c-promo__inner {
            > svg { font-size: 14rem; }
        }
    }
}


//** Large desktop and up
//
//## +1440px
@media screen and (min-width: 1440px) {
    .c-hero-dual-promo {
        .c-promo__inner {
            > svg { font-size: 18rem; }
        }
    }
}