.c-helper {
    margin-bottom: $base-spacing * 3;
    text-align: left;

    h2 {
    margin-top: 0;
    color: $primary-swatch-b;
    font-weight: 300;
    }

    h3, p {
        text-align: center;
    }

    &.row::after {
        border-bottom: 1px dotted rgba($grayscale-swatch-b, 0.55);
        width: 95%;
        margin: 2rem auto;
    }
}

@media screen and (min-width: $screen-sm-min) {
    .c-helper {
        div {
            h3, p {
                text-align: left;
            }
        }
    }
}
  
// @media screen and (min-width: $screen-sm-min) {
//     .c-helper {
//         display: table;

//         > div {
//         display: table-cell;
//         float: none;
//         vertical-align: middle;
//         }
//     }
// }