.c-inline-group-actions {
    font-size: 0;
    margin-right: -1rem;
    margin-left: -1rem;

    li {
        position: relative;
        margin: 0;
        padding: 0 1rem;

        &:not(:first-child)::before {
            position: absolute;
            top: 50%;
            left: 0;
            transform: translateY(-50%);
            background: rgba(0,0,0, 0.2);
            width: 0.1rem;
            height: 1.6rem;
            content: '';
        }
    }
}