//** Lead Article List
//
//## Used on Outages. List of article teasers
//   with image and large text copy.
.c-lead-article-list {
    margin-top: 3rem;
    
    li {
        margin-bottom: 2rem;
    }

    img {
        max-width: 10rem;
    }

    .lead {
        font-size: 1.8rem;
    }
}

//** Small Desktop
//
//## 992 and up styles
@media (min-width: $screen-md-min) {
    .c-lead-article-list {
        img {
            max-width: 12rem;
        }

        .lead {
            font-size: 2.4rem;
        }
    }
}