//== Usage
//
//**

.texture {
    background-image: $textured-background!important;
}

.displayOTH, .hideCAN, .hideUSA {
    display: block;
}


.hideOTH, .displayCAN, .displayUSA {
    display: none;
}


.my-account {
    position: relative;

    .my-account-content {
        max-width: $screen-lg;
        width: 100%;
        margin: auto;
    }

    .bkg {
        position: absolute;
        padding: 0;
        width: 100%;
        z-index: -1;
        top: 0;
        right: 0;
        left: 0;

        &.c-slider {

            margin: auto;
        }

        .c-slider__item {
            height: 430px;

            &.a {
                background-color: $primary-swatch-b;
            }

            &.b {
                background-color: $primary-swatch-a;
            }

            &.c {
                background-color: $primary-swatch-a;
            }

            &.d {
                background: none;
                background-color: $grayscale-swatch-b;
            }
        }
    }
}
