.c-promo-carousel { margin-bottom: 3rem; }
.c-promo {
    padding: 3rem;
    background: linear-gradient(to bottom, $blue-500 0%, $blue-700 100%);

    h3, p, a {
        color: $white;
    }

    h3 { 
        margin-top: 1rem;
        font-size: 2.4rem; 
    }

    p { 
        margin-right: auto;
        margin-bottom: 2rem; 
        margin-left: auto;
        font-size: 1.4rem;
    }
}

.c-promo__table-wrapper {
    display: table;
    width: 100%;
    height: 100%;
}

.c-promo__table-cell-wrapper {
    display: table-cell;
    vertical-align: middle;
}

.c-promo__inner {
    margin: 0 auto;
    text-align: center;

    > svg {
        font-size: 10rem;
        stroke: $white;
        opacity: 0.4;
    }
}

@media screen and (min-width: $screen-sm-min) {
    .c-promo-carousel { margin-bottom: 6rem; }
    .c-promo {
        h3 { font-size: 3.2rem; }
        p { font-size: 1.6rem; } 
        a { font-size: 1.8rem; }
    }

    .c-promo__inner { 
        > svg {
            font-size: 14rem;
        }
    }

    .c-promo--horizontal {
        .c-promo__inner { 
            > svg {
                float: left;
                margin-left: 2rem;

                ~ div {
                    margin-right: 3rem;
                    margin-left: 21rem;
                    text-align: left;

                    p {
                        margin-right: 0;
                        margin-left: 0;
                        max-width: none;
                    }
                }
            }
        }
    }
}


@media screen and (max-width: $screen-xs-max) {
    .slick-dotted {
        .c-promo { padding-bottom: 5rem; }
        .slick-dots {
            bottom: 0;

            button { border-color: $white; }
            .slick-active button { background-color: $white; }
        }
    }
}