//** Panels
//
//## 
.c-panel {
    border: 1px solid $gray-20;
    border-radius: 1rem;
    padding: 2rem 1.5rem;

    legend {
        display: inline-block;
        margin-bottom: -1rem;
        padding: 0 1rem;
        width: auto;
        font-size: 1.2rem;
        font-weight: bold;
        color: $primary-swatch-b;
    }

    .c-panel__temp-legend {
        color: $yellow-700;

        .u-icon {
            svg { 
                font-size: 1.5rem; 
                stroke-width: 0.3rem;
            }
        }

        span {
            margin: 0 1rem 0 0.5rem;
            color: $base-font-color;
            font-family: 'Roboto Condensed', 'Roboto', sans-serif;
            font-size: 1.1rem;
            font-weight: 400;
        }
    }

    > *:last-child {
        margin-bottom: 0;
    }
}


//** Tablet and up
//
//## +768px
@media screen and (min-width: $screen-sm-min) {
    .c-panel {
        
    }
}