//== Quick Links
//
//** The Quick Links component is used in the hero,
//   but can be used elsewhere if needed.

.c-quick-links {
    background: #1564AC;
    background: #1564AC linear-gradient(to bottom, rgba($blue-300, 0.4) 0%, transparent 100%);

    ul {
        margin-left: 0;
        font-size: 0;
        border-radius: 10px;
    }

    li {
        display: inline-block;
        margin-bottom: 0;
        padding: 0;
        width: 50%;
        text-align: center;
        border-left: 0.1rem solid $gray-20;
        border-bottom: 0.1rem solid $gray-20;

        &:last-child,
        &:nth-last-child(2) {
            border-bottom: 0;
        }

        &:last-child {
            border-right: 0.1rem solid $gray-20;
        }
    }

    a {
        display: block;
        padding: 2.3rem 2rem 3rem;
        line-height: 1.3;
        color: $white;
        font-size: 1.4rem;
        font-weight: 400;

        &:hover {
            background: rgba($blue-300, 0.5);
            text-decoration: none;
        }

        svg {
            display: block;
            margin: 0 auto 0.5rem;
            stroke: $white;
            font-size: 4.8rem;
            stroke-width: 1px;
        }
    }
}

@media screen and (min-width: $screen-md-min) {
    .c-quick-links:not(.c-quick-links--vertical) {
        ul {
            display: table;
            table-layout: fixed;
            margin-right: auto;
            margin-left: auto;
            width: 100%;
            max-width: $screen-lg-min - 30px;
        }

        li {
            display: table-cell;
            width: auto;
            border-bottom: 0;
        }

        a {
            padding: 2rem 0;
            font-size: 1.6rem;

            svg {
                display: inline-block;
                margin: 0 1rem 0 -0.5rem;
            }
        }
    }
}

@media screen and (min-width: $screen-md-min) {
    .c-quick-links:not(.c-quick-links--vertical) {
        a {
            font-size: 2.2rem;
        }
    }
}
//** Inverted (White) Version
//
//##
.c-quick-links.c-quick-links--inverted {
    background: $white;
    width: auto !important;
    transform: none !important;

    ul {
        border: 0.1rem solid $gray-20;
    }

    li {
        &:last-child {
            border-right: 0;
            border-bottom: 0;
        }

        &:nth-last-child(2) {
            border-bottom: 0;
        }

        &:first-child {
            border-left: 0;
        }
    }


    a {
        color: $primary-swatch-b;
        font-size: 1.4rem;

        &:hover {
            background: none;
            text-decoration: underline;
        }

        svg {
            display: block;
            margin: 0 auto 0.5rem;
            stroke: $primary-swatch-b;
        }
    }

    @media screen and (max-width: $screen-md-min - 1) {
        li {
            &:nth-last-child(2) {
                border-left: 0;
            }
        }
    }
}
//** Vertical (White) Version
//
//##
.c-quick-links.c-quick-links--vertical {
    width: auto !important;
    transform: none !important;

    ul {
        border: 0.1rem solid $gray-20;
        border-radius: 10px;
    }

    li {
        &:nth-child(odd) {
            border-left: 0;
        }

        &:last-child,
        &:nth-last-child(2) {
            border-bottom: 0;
        }
    }
}

._p-Outage-Center {
    .c-quick-links {
        margin-top: 2rem;
    }
}