﻿.input-password {
    position: relative;

    a {
        font-weight: bold;
        font-size: 1.4rem;
        position: absolute;
        right: 1rem;
        top: 1rem;
        color: $black;
        text-decoration: none;
        cursor: pointer;
    }
}

.bullet-help-group {
    display: list-item;
}

.form-success-check {
    .glyphicon-ok {
        color: $primary-swatch-a;
    }
}

.bullet-help-list {
    margin-left: 20px;
}
