.c-radio-pill-group {
  display: table;
  margin-bottom: $base-spacing;
  border: 1px solid $primary-swatch-b;
  border-radius: $border-radius-base * 2;
  width: 100%;
  overflow: hidden;

  .radio {
    display: table-cell;
    margin: 0;
    border-right: 1px solid $primary-swatch-b;

    &:last-child {
      border: 0;
    }
  }

  label {
    margin: 0;
    padding: 0.5rem 1rem;
    vertical-align: middle;
    text-align: center;
    color: $primary-swatch-b;
    font-weight: 300;
  }

  //sass-lint:disable no-important
  [type="radio"] {
    position: absolute !important;
    border: 0 !important;
    padding: 0 !important;
    width: 1px !important;
    height: 1px !important;
    overflow: hidden;
    clip: rect(1px, 1px, 1px, 1px);

    &:focus + label {
      outline: 1px solid $primary-swatch-b;
    }

    &:checked + label {
      background-color: $primary-swatch-b;
      color: $white;
      font-weight: 500;
    }
  }
}
