.c-review-details {
    margin-bottom: 2rem;
    
    h2 { margin-bottom: 2rem; }
    
    > p {
        margin-bottom: 3rem;
    }

    ul {
        margin: 0 0 2rem;
    
        .media-right {
            vertical-align: top;
        }
    }
}