svg {
  width: 1em;
  height: 1em;
  font-size: 24px;
  box-sizing: content-box;
  fill: none;
  stroke: $black;
  stroke-width: 1px;
  stroke-miterlimit: 10;
  stroke-linecap: round;
  stroke-linejoin: round;
  shape-rendering: geometricprecision;
}

.logo-container > svg {
  width: auto;
  max-width: 100%;
  height: auto;
  max-height: 100%;
  font-size: 24px;
  fill: none;
  stroke: none;
  stroke-width: 0;
}

.logo-cls-1 {
  //fill: #4c9d49;
  fill: $primary-swatch-a;
}

.logo-cls-1,
.logo-cls-2,
.logo-cls-3 {
  fill-rule: evenodd;
}

.logo-cls-2 {
  //fill: #ef4d37;
  fill: $primary-swatch-c;
}

.logo-cls-3 {
  fill: $black;
}

.logo-cls-4 {
  //fill: #58585a;
  fill: $grayscale-swatch-a;
}

.logo-cls-white {
  fill: $white;
}


.green-check svg {
  stroke: #fff !important;
  background-color: #2bb348 !important;
  border-radius: 50%;
  stroke-width: 2px;
}