//== SELECTOR
//
//## Generic styles for all Selector components
.c-selector {
    > li {
        padding: 0;

        > .media {
            padding: 1.6rem 0;

            color: $base-font-color; 

            .media-right svg {
                font-size: 1.6rem;
                stroke-width: 3px;
                stroke: $grayscale-swatch-b;
            }

            &:hover,
            &:focus {
                text-decoration: none;

                .c-selector__title {
                    color: $primary-swatch-b;
                }
                
                .media-right svg {
                    stroke: $primary-swatch-b;
                }
            }
        }
    }
}

//## Manage Programs Selector
.c-selector--programs {
    .c-selector__title {
        margin: 0;
    }

    .c-selector--programs__eligibility {
        font-family: 'Roboto Condensed', 'Roboto', Helvetica, Arial, sans-serif;
        font-size: 1.1rem;
        text-align: center;

        &:not(.green_icon)::before {
            display: inline-block;
            margin-right: 0.4rem;
            border: 2px solid $gray-10;
            border-radius: 50%;
            width: 1.333rem;
            height: 1.333rem;
            vertical-align: top;
            content: '';
        }
    }

    > li {
        > a.media {
            svg {
                top: 0;
                stroke-width: 1px;
            }

            .media-right > .u-icon svg {
                font-size: 2.4rem;
                stroke-width: 2px;
            }
        }
    }
}

.green_icon.green_icon.green_icon svg {
    margin-right: 0.2rem;
    font-size: 1.333rem;
    vertical-align: super;
    stroke: $white !important;
    background-color: $green-300 !important;
    border-radius: 50%;
    stroke-width: 2px;
}