//== Slider
//
//**

.c-slider {
  margin: 0 -15px $base-spacing;
  overflow: hidden;
}

.c-slider__item {

  h2 {
    font-size: 3rem;
    font-weight: 100;
  }

  img {
    width: 100%;
  }
}

.slick-dots {
  @include unstyle-list();
  display: inline-block;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  margin: 0;
  padding: 2rem 0;
  line-height: 0;

  li {
    display: inline-block;
    margin-right: 0.85rem;
    margin-bottom: 0;
    line-height: 0;

    &:last-child {
      margin-right: 0;
    }

    &:first-child:last-child {
      display: none;
    }
  }

  button {
    border: 0;
    border-radius: 50%;
    border: 1px solid $gray-20;
    background-color: transparent;
    padding: 0;
    width: 1.2rem;
    height: 1.2rem;
    text-indent: -999rem;
  }

  .slick-active {
    button {
      background-color: $primary-swatch-b;
      border-color: transparent;
    }
  }
}

.slick-arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  display: none;
  background: none;
  border: 0;
  padding: 0;

  svg {
    font-size: 4rem;
    stroke: $grayscale-swatch-b;
  }

  &:hover {
    svg {
      stroke: $black;
    }
  }
}

.slick-next {
  right: -6rem;
}

.slick-prev {
  left: -6rem;

  svg { transform: scaleX(-1); }
}

.container > .content-carousel {
  margin-right: 1.5rem;
  margin-left: 1.5rem;

  .slick-arrow { display: none; }
}

@media screen and (min-width: $screen-sm-min) {
  $spacing: 15px;

  .c-slider {
    margin: 0;
    padding: 6rem 0;

    .slick-list {
      margin: 0 calc(-1 * #{$spacing});
    }
  }

  .c-slider__item {
    padding: 0 $spacing;

    > *:not(img) {
      padding: 0;
    }
  }

  .slick-arrow { display: inline-block; }

  .container > .content-carousel {
    margin-right: 4rem;
    margin-left: 4rem;
  
    .slick-arrow { display: inline-block; }
    .slick-next { right: -4rem; }
    .slick-prev { left: -4rem; }
  }
}

@media screen and (min-width: $screen-lg-min) {
  .slick-arrow { 
    svg { font-size: 6rem; }
  }
  .slick-next { right: -12rem; }
  .slick-prev { left: -12rem; }

  .container > .content-carousel {
    margin-right: 6rem;
    margin-left: 6rem;

    .slick-next { right: -7rem; }
    .slick-prev { left: -7rem; }
  }
}





//** Content Carousels
//
//##
.content-carousel {
  margin-top: 6rem;
  margin-bottom: 13.6rem;

  a { white-space: nowrap; }

  .slick-list {
    margin: 0 -1.5rem;

    [class*="col-"] {
      margin: 0 1.5rem;
      padding: 0;
    }
  }

  [class*="col-"] {
    display: table;

    * {
      margin-top: 0;
      margin-bottom: 2rem;
    }

    &:not(.slick-slide) {
      margin-bottom: 2rem;
    }
  }

  .content-carousel__inner {
    display: table-cell;
    vertical-align: top;

    &.text-center {
      margin-bottom: 0;
  
      p,
      small,
      .lead,
      .large-text,
      .larger-text {
        margin-right: auto;
        margin-left: auto;
      }
    }

    img {
      display: block;
      width: 100%;
    }
  }
  
  a:not(.btn) {
    text-decoration: underline;
  }

  &--primary-a {
    [class*="col-"] {
      @extend .bg-primary-a-trans;
    }

    .slick-dots {
      .slick-active {
        button {
          background-color: $primary-swatch-a;
        }
      }
    }
  }

  &--primary-b {
    [class*="col-"] {
      @extend .bg-primary-b-trans;
    }
  }

  &--primary-a,
  &--primary-b {
    .slick-list [class*="col-"] {
      padding: 3rem;

      * { color: white; }
    }
  }
}

@media screen and (min-width: $screen-lg-min) {
  .content-carousel {
    .slick-list {
      margin: 0 -3rem;
  
      [class*="col-"] {
        margin: 0 3rem;
      }
    }

    &--primary-a,
    &--primary-b {
      &[data-cols="1"] {
        [class*="col-"] {
          padding: 6rem;
        }
      }
    }
  }
}

.o-section .content-carousel {
    margin-top: 0;
    margin-bottom: 0;
}

@media screen and (max-width: $screen-xs-max) {
  .content-carousel {
    margin-top: 0;
    margin-bottom: 11.6rem;

    &--primary-a {
      [class*="col-"] {
        padding: 3rem 3rem 4rem; 
        background-color: $primary-swatch-a;
      }
    }
  
    &--primary-b {
      [class*="col-"] {
        padding: 3rem 3rem 4rem;
        background-color: $primary-swatch-b;
      }
    }
  }
}