//** Twitter Feed
//
//## Used on Outages. POC for custom Twitter feed
.c-twitter-feed {
    margin-top: 3rem;
    margin-bottom: 2rem;
    padding-bottom: 2rem;
    background-image: linear-gradient(to right, $gray-20 33%, transparent 0%);
    background-repeat: repeat-x;
    background-position: bottom;
    background-size: 4px 1px;

    li {
        margin-top: 2rem;
        padding-top: 2rem;
        background-image: linear-gradient(to right, $gray-20 33%, transparent 0%);
        background-repeat: repeat-x;
        background-position: top;
        background-size: 4px 1px;
    }

    img {
        max-width: 50px;
    }

    .media-left { vertical-align: top; }
}

//** Small Desktop
//
//## 768 and up styles
@media (min-width: $screen-sm-min) {
    .c-twitter-feed {
        img {
            max-width: 60px;
        }
    }
}