.c-task-header {
  position: relative;
  margin-bottom: $base-spacing;
  background-color: $primary-swatch-b;
  text-align: center;

  > a {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 2.4rem;
    height: 2.4rem;

    svg {
      font-size: 2.4rem;
      stroke: $white;
    }
  }
}

.c-task-header__logo {
  padding: 1.2rem;
  height: 5.6rem;

  .logo-container {
    height: 100%;
    max-height: 3.2rem;
  }
}

.c-task-header__back {
  left: 2rem;

  svg {
    transform: scaleX(-1);
  }
}

.c-task-header__close {
  right: 2rem;

  svg {
    transform: rotate(45deg);
  }
}

@media screen and (min-width: $screen-sm-min) {
  .c-task-header__logo {
    padding: 2rem;
    height: 9rem;

    .logo-container {
      max-height: 5rem;
    }
  }

  .c-task-header__back {
    left: 4rem;
  }

  .c-task-header__close {
    right: 4rem;
  }
}
