//== Usage
//
//**

.my-account {

    .bill-summary-padding {
        padding-left: 5%;
    }

    .c-slider__item {
        min-height: 270px;
        text-align: center;
        font-size: 3.2rem;
        color: $white;
        position: relative;
        outline: none;

        .amount sup {
            top: -1.7rem;
        }

        .amount sup, .tiny {
            font-size: 1rem;
        }

        .message {
            color: $white;
            font-size: 2rem;
            line-height: 2.3rem;
            padding: 4rem;
        }

        .btn {
            border: solid 1px $white;
            font-size: 1.4rem;
            font-weight: normal;

            &:focus {
                outline: none !important;
            }
        }

        .info {
            text-align: left;
            padding: 0 0.5em;

            &.text-right {
                border-right: solid 1px #fff;
                text-align: right;
            }

            .tiny {
                display: block;
            }
        }

        .fixed {
            position: absolute;
            left: 50%;
            margin-left: -50%;
            width: 100%;
            bottom: 2rem;
        }

        &.b {
            padding-top: 2em;
        }

        &.c {
            padding-top: 2em;
        }

        &.d {
            background: url(//dev.perficientdigital.com/ameren-mobile-first/assets/images/content/help.png) no-repeat center 60%;
        }
    }

    .slick-dots {
        position: relative;
        top: -275px;

        .slick-active {
            button {
                background-color: $white;
            }
        }
    }
}


@media screen and (min-width: $screen-sm-min) {
    .c-usage .c-slider {
        padding: 3rem 0;
    }
}

@media screen and (max-width: $screen-xs-max) {
    .my-account {
        .bkg, .c-main-navigation.c-account-navigation {
            display: none;
        }

        .c-slider__item {
            &.a {
                background-color: $primary-swatch-b;
            }

            &.b {
                background-color: $primary-swatch-a;
            }

            &.c {
                background-color: $primary-swatch-a;
            }

            &.d {
                background-color: $grayscale-swatch-b;
            }
        }
    }
}
