//
// This component's purpose is twofold.
// 1) Pull the section of code flush to the left side of the page.
//    - This entails moving the content over what's left when you
//      take half the full width of the page, subtract half the
//      width of the content section, and add back in the padding
//      for one side of the content.
// 2) Expand the width to the full width of the page
//    - Set the component to 100vw.
//
// transform: translateX(calc(-50vw + #{$max-width / 2 - 1em}));
//
// -50vw: starts by pulling the section over to the left
//
//
//
//

.o-layout--full-page {
  width: 100%;
}

@media screen and (min-width: $container-large-desktop) {
  .o-layout--full-page {
    // transform: translateX(calc(-50vw + #{$max-width / 2 - 1em}));
    //transform: translateX(-50vw) translateX(#{$container-large-desktop / 2});
    width: 100vw;
  }
}

@media screen and (min-width: $screen-lg-min) {
    .c-header--styleguide ~ main .o-layout--full-page {
        transform: none !important;
        width: calc(100vw - 30px);
    }
}
