.o-section {
  margin-bottom: 2rem;
  position: relative;

  .slick-dots {
    bottom: 0;
  }
}

.o-section__bg {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.o-section__content {
  margin: 0 15px;
  background-color: $white;
  max-width: $container-large-desktop;
}

@media screen and (max-width: $screen-xs-max) {
  .o-section__bg { background: none !important; }
  .o-section {
    .content-carousel {
      .slick-dots {
        button { border-color: $white; }
      
        .slick-active {
          button { background-color: $white; }
        }
      }
    }
  }
}

@media screen and (min-width: $screen-sm-min) {
  .o-section {
    margin-bottom: 6rem;
    padding-top: 8.5rem;
    padding-bottom: 8.5rem;

    .slick-dots {
      top: calc(100% + 8.5rem);
      bottom: auto;
    }
  }
}

@media screen and (min-width: $screen-lg-min) {
  .o-section {
    padding-top: 11rem;
    padding-bottom: 11rem;

    .slick-dots {
      top: calc(100% + 11rem);
    }
  }
}
