.o-task-layout__header {
  margin-bottom: $base-spacing;
  padding-top: 1.5rem;
  text-align: center;

  span {
    display: inline-block;
    margin-bottom: 1rem;
    border-bottom: 1px solid $grayscale-swatch-c;
    padding: 0 3.5rem 1rem;
    font-size: 1.4rem;
    font-weight: 500;
  }

  .lead,
  .large-text,
  p,
  small {
    margin-right: auto;
    margin-left: auto;
  }
}
.o-task-padding-bottom {
    padding-bottom: 20px;
}

.o-task-success-title {
    color: $primary-swatch-a;
}

.o-task-error-title {
    color: $primary-swatch-c;
}
.o-task-layout__content {
  text-align: center;

  .lead,
  .large-text,
  p,
  small { 
    margin-right: auto; 
    margin-left: auto; 
  }

  form {
    text-align: left;
  }
}
