//== Mobile Takeover
//
//** This object mimics an app experience on a mobile device, by completely
//   taking over the screen, removing the header and footer.

.o-takeover {
  display: block !important;
  height: auto !important;
  position: fixed;
  top: 7rem;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba($primary-swatch-b, 0.98);
  transition: none;
  transition: opacity 144ms ease-out;
  visibility: hidden;

  
  &[aria-expanded="false"] {
    opacity: 0;
  }

  &[aria-expanded="true"] {
    opacity: .96;
  }

  &.in,
  &.collapsing {
    visibility: visible;
  }

  .o-takeover__close {
    position: absolute;
    top: 1.5rem;
    right: 2.5rem;
    background: transparent;
    border: 0;
    padding: 0;

    svg {
      stroke: $white;
      font-size: 3.2rem;
    }
  }
}

//** Mobile Only
//
//## 1199px and down styles
@media screen and (max-width: $screen-md-max) {
  .o-takeover.navbar-collapse {
    margin: 0 !important;
    top: 7rem;
    width: 100%;
    max-width: none;
  }
}

//** Small Desktop
//
//## 1200px and up styles
@media (min-width: $screen-lg-min) {
  .o-takeover {
    top: 9rem;

    .o-takeover__close {
      position: absolute;
      top: 3rem;
      right: 4rem;
    }

    .container-overlay {

      display: table;
      height: 100%;
      margin: 0 auto;
  
      > .row {
        vertical-align: middle;
        display: table-cell;
      }
    }
  }
}