//** TABBED NAVIGATION
//
//## Overwrites default Bootstrap styling for .nav-tabs
.nav-tabs {
    position: relative;
    padding: 0.3rem 0 2rem;
    border-bottom: 0;
    white-space: nowrap;
    font-size: 0;
    overflow: auto;

    &::after {
        position: absolute;
        left: 0;
        bottom: 2rem;
        z-index: -1;
        background-color: $gray-10;
        width: 100%;
        height: 1px;
        content: '';
    }

    > li {
        float: none;
        display: inline-block;
        margin-bottom: 0;
        border-bottom: 1px solid $gray-10;

        > a {
            margin: 0;
            border-left: 0 !important;
            border-right: 0 !important;
            padding: 1rem 4rem;
            font-weight: bold;
            color: $base-font-color;

            &:hover {
                border-color: transparent;
                background: transparent;
                color: $primary-swatch-b;
            }

            &:focus {
                background: transparent;
                outline: none;
                box-shadow: 0 0 0.7rem  $primary-swatch-b;
            }
        }

        &.active {
            border-bottom-color: $primary-swatch-b;

            > a,
            > a:hover,
            > a:focus,
            > a:active {
                margin: 0;
                border-color: transparent;
                border-bottom-color: $primary-swatch-b;
            }
        }
    }

    &--justified {
        display: table;
        width: 100%;

        > li {
            display: table-cell;

            > a { text-align: center; }
        }
    }
}


/*//** Swipe Gesture
//
//## Animation
@keyframes fade {
      0% { opacity: 0; }
     30% { opacity: 1; }
     80% { opacity: 1; }
    100% { opacity: 0; }
}

@keyframes swipe {
      0% { right: 10%; }
     30% { right: 25%; }
    100% { right: 25%; }
}

// Positioning
.nav-tabs:not(.nav-tabs--justified)::before {
    animation: 
        1.25s fade 1s ease-in-out,
        2.5s swipe 1.3s cubic-bezier(0.165, 0.84, 0.44, 1);

    opacity: 0;
    position: absolute;
    bottom: 0;
    right: 10%;
    z-index: 2;
    width: 37px;
    height: 44px;
    background: url(../images/swipe-gesture.png) left top no-repeat;
    content: '';
}*/