//== back navigation
//
//**

$background-color: #1B6CB5;
$light-blue: #E8F1FA;
.c-back-navigation {
    margin: 0 0 0 0;
    vertical-align: middle;
    background-color: $background-color;
    color: $light-blue;
    height: 55px;
    width: 100%;
    padding: 1.6rem 0;

    svg {
        margin-right: 1.7rem;
        border-right: 1px solid $background-color;
        padding: 0rem 1rem 0rem 0;
        stroke: #ffffff;

        .cls-1 {
            fill: none;
            stroke: #ffffff;
            stroke-width: 2;
        }
    }

    a {
        vertical-align: top;
        font-size: 1.6rem;
        color: $light-blue;
        text-decoration: none;
    }
}


