//== dashboard-header-bar
//
//**

$background: #1B6CB5;
$background-dark: #145289;
$light-blue: #E8F1FA;
$white: #fff;
$overlay: #000;
//** Dashboard Header Bar	
//
//## Used on Account Dashboard. Displays a blue background

.c-dashboard-header-bar {
	height: 75px;
	width: 100%;
	background-color: $background;
	color: $white;
	text-align: center;
	padding-top: .2rem;
	padding-bottom: .2rem;
	text-align:center;


	h2 {
		color: $white;
	}
}


@media (min-width: $screen-md-min) {
	.c-dashboard-header-bar {
		height: 125px !important;
		width: 100%;
		background-color: $background;
		color: $white;
		padding-top: 1.5rem;
		padding-bottom: 1.5rem;

		h2 {
			color: $white;
			font-size: 3.0rem;
		}
	}

}
