//== manage-account-bar
//
//**


.c-manage-account-bar {
    color: $white;
    position: relative;
    padding: 1rem 0;
    background: $primary-swatch-b linear-gradient(to bottom, rgba($blue-700, 0.7) 0%, rgba($blue-700, 0.7) 100%);

    .c-inline-group-actions {
        margin: 0 -2rem;
    
        li {
            padding: 0 2rem;
    
            &:not(:first-child)::before {
                background: rgba(255,255,255, 0.2);
            }
        }
    }

    a {
        color: $white;
        
        &:hover {
            color: $white;
        }
    }
    svg .cls-1{
        stroke:#fff;
        fill:none;
    }
}

.c-content-image-header + .c-manage-account-bar {
    margin-bottom: 3rem;
}

@media screen and (min-width: $screen-sm-min) {
    .c-content-image-header + .c-manage-account-bar {
        margin-top: -5rem;
        margin-bottom: 4rem;
    }
}