#PropaneCalculator {
    input, select {
        display: block;
    }

    .propaneDropDown {
        width: 100%;
        padding: 6px 12px 8px 12px;
        border-radius: 3.0px;
        font: inherit;
        font-size: 14px;
        border: 1px solid #b5b5b5;
        margin: 3px 0px 13px 0px;
        color: #464646;
        vertical-align: middle;
        background-color: #FFFFFF;
        transform: rotateX(0deg);
    }

    #PropaneAddInfo {
        padding-top: 25px;
    }

    #PropaneErrorMsg, #PropaneAddInfo {
        display: none;
    }

    #GraphResults {
        margin-top: 1rem;
        margin-left: -1.5rem;

        svg {
            stroke: unset;
            width: 40rem;
            height: 30rem;
        }
    }
}
