<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0">
  <meta name="format-detection" content="telephone=no" />
  <title>{{title}} | {{site.title}}</title>

  <!-- Custom styles for this template -->
  <link href="{{assets}}/styles/default.css" rel="stylesheet">
  <link href="{{assets}}/styles/main.css" rel="stylesheet">

  <script src="https://use.fontawesome.com/aed209e344.js"></script>
</head>
<body class="background-gray">

  <a class="sr-only sr-only-focusable" href="#main-content">Skip to main content</a>

  <!-- Header -->
  {{> c-header }}

  <main role="main" id="main-content">
    {{> body }}
  </main>

  <!-- Sticky Footer -->
  {{> c-footer }}

  <script src="{{assets}}/scripts/lib.js"></script>
  <script src="{{assets}}/scripts/main.js"></script>

  {{#each js}}
  	<script src="{{src}}" {{#if async}}async{{/if}} {{#if defer}}defer{{/if}}></script>
  {{/each}}
</body>
</html>
