<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
  <title>Solar</title>
  <g>
    <path d="M14.88,11.47a2.88,2.88,0,1,0-5.75,0"/>
    <line x1="12" y1="4.73" x2="12" y2="6.65"/>
    <line x1="18.7" y1="11.46" x2="16.79" y2="11.46"/>
    <line x1="7.21" y1="11.46" x2="5.3" y2="11.46"/>
    <line x1="7.4" y1="6.84" x2="8.76" y2="8.2"/>
    <line x1="16.6" y1="6.84" x2="15.24" y2="8.2"/>
  </g>
  <g>
    <polygon points="21.29 18.5 2.5 18.5 7.29 13.5 16.51 13.5 21.29 18.5"/>
    <line x1="10.38" y1="13.5" x2="8.36" y2="18.5"/>
    <line x1="13.41" y1="13.5" x2="15.43" y2="18.5"/>
    <line x1="5.33" y1="15.5" x2="18.46" y2="15.5"/>
  </g>
</svg>
