<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
  <title>Home Location</title>
  <path d="M18.5,14.53v4H5.5V10.87"/>
  <path d="M13.5,18.5v-5h-3v5"/>
  <path d="M3.5,12.52l7.83-7.75a.91.91,0,0,1,1.32,0l1,1"/>
  <g>
    <circle cx="16.97" cy="9.79" r="2.62"/>
    <line x1="21.16" y1="13.95" x2="18.84" y2="11.63"/>
  </g>
</svg>
