<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
  <title>Icon Fan</title>
  <g>
    <g>
      <path d="M9.71,12.39a4.15,4.15,0,0,0-2.1.71,5,5,0,0,0-2.36,2.46,3.58,3.58,0,0,0,.19,3A3,3,0,0,0,7,20.15a2.61,2.61,0,0,0,3.54-1.86c0-.4.1-.8.12-1.2a5.53,5.53,0,0,1,.47-2.2,1.85,1.85,0,0,0,.2-.6"/>
      <path d="M14.11,11.62c.41-.06.82-.12,1.23-.2A6.68,6.68,0,0,0,17,10.76a5.41,5.41,0,0,1,1.13-.5,2.45,2.45,0,0,1,2.44.7,2.72,2.72,0,0,1,.13,3.73,3.66,3.66,0,0,1-2.13,1.5,4.64,4.64,0,0,1-3-.4,8.33,8.33,0,0,1-1.94-1.27,2,2,0,0,1-.43-.56"/>
      <path d="M12.88,10.16a6,6,0,0,0-.11-4.8,3.33,3.33,0,0,0-2.59-2,3.33,3.33,0,0,0-2.34.26A2.49,2.49,0,0,0,6.51,5.86,2.38,2.38,0,0,0,7.64,8.09,19.76,19.76,0,0,1,9.38,9.35c.39.34.62.8,1,1.14"/>
    </g>
    <ellipse cx="11.96" cy="12" rx="1.86" ry="1.89"/>
  </g>
</svg>
