<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
  <title>Home Network</title>
  <g>
    <path d="M11.47,3.24a7.93,7.93,0,0,1,9,7.66"/>
    <path d="M11.69,5.49a5.58,5.58,0,0,1,6.56,5.56"/>
    <path d="M11.92,7.76A3.24,3.24,0,0,1,16,11.16"/>
  </g>
  <g>
    <path d="M14.52,12.64v6.83h-10V12.64"/>
    <path d="M10.48,19.52V15.37H8.38v4.15"/>
    <path d="M2.94,13.63,9,8.37a.71.71,0,0,1,1,0l6.06,5.26"/>
  </g>
</svg>
