<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
  <title>Paperless</title>
  <g>
    <polyline points="8.96 15.54 5.44 15.54 5.44 4.52 10.76 4.52 12.54 6.5 12.54 7.82"/>
    <polyline points="9.69 4.66 9.69 7.37 12.35 7.37"/>
  </g>
  <g>
    <path d="M11,17.75a4.86,4.86,0,0,1-.34-6.48,4.91,4.91,0,0,1,2.08-1.49L13,9.67c1.38-.54,3.27-1.29,4-2.42l.64-1,.52,1.08c.67,1.4,1.8,5.25,1,8.17a4.9,4.9,0,0,1-.94,1.88,4.86,4.86,0,0,1-6.82.72A4.17,4.17,0,0,1,11,17.75Z"/>
    <path d="M9.88,19.85s5.41-5.17,6.95-9"/>
    <path d="M13.9,15.63a6.55,6.55,0,0,0,3.56-1"/>
    <path d="M13.33,16a5.66,5.66,0,0,1,0-3.68"/>
  </g>
</svg>
