<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
  <title>Outage</title>
  <path d="M6.8,21.43a.42.42,0,0,1-.21-.06.41.41,0,0,1-.13-.49l3.41-8.34H7.26A.37.37,0,0,1,7,12.36a.41.41,0,0,1,0-.36l3.65-9.19a.37.37,0,0,1,.35-.24h4.83a.38.38,0,0,1,.32.18.45.45,0,0,1,0,.39L13.25,8.66H17.2a.38.38,0,0,1,.34.24.4.4,0,0,1-.07.42l-10.4,12A.36.36,0,0,1,6.8,21.43Z"/>
</svg>
