<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
  <title>Icon Report Outage</title>
  <g>
    <polygon points="18.56 8.95 18.56 6.52 14.6 2.62 5.56 2.62 5.56 20.5 18.56 20.5 18.56 8.95"/>
    <polyline points="18.09 6.58 14.03 6.58 14.03 2.88"/>
  </g>
  <path d="M9.35,18.55a.15.15,0,0,1-.11,0,.2.2,0,0,1-.07-.25L11,13.9H9.59a.17.17,0,0,1-.16-.09.18.18,0,0,1,0-.19l1.9-4.79a.19.19,0,0,1,.18-.13H14a.19.19,0,0,1,.17.1.2.2,0,0,1,0,.2l-1.48,2.88h2.07A.19.19,0,0,1,15,12a.2.2,0,0,1,0,.22L9.49,18.48A.17.17,0,0,1,9.35,18.55Z"/>
</svg>
