<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
  <title>Downed Line</title>
  <g>
    <path d="M7.5,6.5s-1.24,1.76,1,4c3,3,0,6,0,6"/>
    <g>
      <g>
        <line x1="14.5" y1="6.5" x2="19.5" y2="6.5"/>
        <line x1="14.5" y1="9.5" x2="17.83" y2="6.5"/>
        <line x1="18.5" y1="5.5" x2="18.5" y2="6.5"/>
      </g>
      <path d="M14.5,20.5V4.5h-2v16"/>
      <g>
        <line x1="12.5" y1="6.5" x2="7.5" y2="6.5"/>
        <line x1="12.5" y1="9.5" x2="9.17" y2="6.5"/>
        <line x1="8.5" y1="5.5" x2="8.5" y2="6.5"/>
      </g>
    </g>
    <g>
      <line x1="6.98" y1="15.68" x2="5.5" y2="15.45"/>
      <line x1="5.91" y1="17.03" x2="4.5" y2="17.52"/>
      <line x1="7.38" y1="17.73" x2="6.44" y2="18.9"/>
    </g>
  </g>
</svg>
