<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
  <title>Alert Default</title>
  <path d="M21.55,12a9.55,9.55,0,0,0-19.1,0h0a9.55,9.55,0,0,0,19.1,0"/>
  <g>
    <line x1="12" y1="6.5" x2="12" y2="13.5"/>
    <line x1="12" y1="16.5" x2="12" y2="17.5"/>
  </g>
</svg>
