<svg xmlns="http://www.w3.org/2000/svg" viewbox="0 0 24 24">
  <title>Support</title>
  <path d="M4.49,15.5c-.89,0-2,0-2-.93v-3.1c0-1,1.13-1,2-1"/>
  <path d="M19.53,10.52c.89,0,2,0,2,.93v3.1c0,.95-1.12.95-2,.95"/>
  <path d="M12.88,21.5H10.2a1,1,0,0,1,0-2h2.68C14,19.5,14,21.5,12.88,21.5Z"/>
  <path d="M19.5,15.5V11.18c0-5.55-3.1-8.66-7.49-8.66S4.5,5.63,4.5,11.18V15.5"/>
  <path d="M13.94,20.52c2.84-.32,4.78-1.5,5.56-4.87"/>
  <line x1="9.5" y1="20.5" x2="13.5" y2="20.5"/>
</svg>
