<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
  <title>Alert Success</title>
  <polyline points="8.5 12.5 10.5 14.5 16.5 8.5"/>
  <path d="M21.55,12a9.55,9.55,0,0,0-19.1,0h0a9.55,9.55,0,0,0,19.1,0"/>
</svg>
