<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
    <title>Icon Download</title>
    <line x1="12" y1="2.7" x2="12" y2="19.33"/>
    <line x1="18.36" y1="13.07" x2="12" y2="19.33"/>
    <line x1="5.64" y1="13.07" x2="12" y2="19.33"/>
    <line x1="19.53" y1="21.58" x2="4.39" y2="21.58"/>
</svg>
