<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
  <title>Outage</title>
  <path d="M19.93,20.52H4.11a1.82,1.82,0,0,1-.81-.19,1.56,1.56,0,0,1-.59-2.15l7.7-13.86a1.67,1.67,0,0,1,2.92,0l8,13.82A1.6,1.6,0,0,1,20,20.52Z"/>
  <g>
    <line x1="12" y1="8.44" x2="12" y2="14.5"/>
    <line x1="12" y1="16.5" x2="12" y2="17.5"/>
  </g>
</svg>
