<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
  <title>Paybill</title>
  <g>
    <path d="M17.78,7.57,21.3,9.65a.49.49,0,0,1,.2.34v9.78a1.86,1.86,0,0,1-1.72,1.73H4.22A1.86,1.86,0,0,1,2.5,19.77V10a.49.49,0,0,1,.2-.34L6.22,7.57"/>
    <path d="M6.55,12.88V4.23A1.9,1.9,0,0,1,8.35,2.5h7.3a1.9,1.9,0,0,1,1.8,1.73v8.65"/>
    <path d="M21.45,10.44l-9.14,6a.53.53,0,0,1-.52,0l-9.26-6"/>
    <g>
      <line x1="12" y1="12.05" x2="12" y2="12.72"/>
      <line x1="12" y1="5.95" x2="12" y2="5.28"/>
      <path d="M13.41,7.7A1.4,1.4,0,0,0,12,6.17,1.35,1.35,0,0,0,10.59,7.6c0,.83,1,1.21,1.41,1.4s1.41.57,1.41,1.42A1.33,1.33,0,0,1,12,11.83a1.39,1.39,0,0,1-1.41-1.53"/>
    </g>
  </g>
</svg>
