<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
  <title>Icon Payment Agreement</title>
  <g>
    <line x1="10" y1="14.05" x2="10" y2="14.72"/>
    <line x1="10" y1="7.95" x2="10" y2="7.28"/>
    <path d="M11.41,9.7A1.4,1.4,0,0,0,10,8.17,1.35,1.35,0,0,0,8.59,9.6c0,.83,1,1.21,1.41,1.4s1.41.57,1.41,1.42A1.33,1.33,0,0,1,10,13.83,1.39,1.39,0,0,1,8.59,12.3"/>
  </g>
  <g>
    <polygon points="17.44 9.71 17.44 7 15.04 4.56 6.5 4.56 6.5 19.5 17.44 19.5 17.44 9.71"/>
    <polyline points="17.02 7.95 14.03 7.95 14.03 4.77"/>
  </g>
  <line x1="8.38" y1="17" x2="15.56" y2="17"/>
  <line x1="12.5" y1="15" x2="15.56" y2="15"/>
</svg>
