<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
  <title>Map</title>
  <g>
    <path d="M12,15.49a.71.71,0,0,1-.55-.26c-1.21-1.41-4-5-4-7.82A4.76,4.76,0,0,1,12,2.47a4.77,4.77,0,0,1,4.57,4.94c0,2.81-2.81,6.41-4,7.82a.71.71,0,0,1-.55.26Z"/>
    <ellipse cx="11.96" cy="7.12" rx="2.27" ry="2.3"/>
  </g>
  <polyline points="7.5 12.5 4.5 13.5 2.5 20.5 7.5 18.5 12 20.5 16.5 18.5 21.5 20.5 19.5 13.5 17.5 12.5"/>
</svg>
