<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
  <title>Alerts</title>
  <path d="M18.29,18.56H5.71A1.1,1.1,0,0,1,4.6,17.47V16c0-.54.4-.82.83-1.11a5.21,5.21,0,0,0,.76-.6c.57-.55,1-2.48,1.18-5.64a4.47,4.47,0,0,1,4.52-4.19H12A4.6,4.6,0,0,1,16.62,8.8c.16,3,.63,4.95,1.19,5.5a5.21,5.21,0,0,0,.76.6c.43.29.83.57.83,1.11v1.46A1.1,1.1,0,0,1,18.29,18.56Z"/>
  <path d="M13.53,18.52v.59a1.52,1.52,0,0,1-3,0v-.59"/>
  <g>
    <path d="M16.54,4.21a6,6,0,0,1,1.88,3.12"/>
    <path d="M17.73,2.84A9.31,9.31,0,0,1,20.6,7.73"/>
  </g>
  <g>
    <path d="M7.49,4.21A5.93,5.93,0,0,0,5.62,7.33"/>
    <path d="M6.3,2.84A9.31,9.31,0,0,0,3.43,7.73"/>
  </g>
</svg>
