<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
  <title>Icon Billing Usage</title>
  <g>
    <line x1="18" y1="11.05" x2="18" y2="11.72"/>
    <line x1="18" y1="4.95" x2="18" y2="4.28"/>
    <path d="M19.41,6.7A1.4,1.4,0,0,0,18,5.17,1.35,1.35,0,0,0,16.59,6.6c0,.83,1,1.21,1.41,1.4s1.41.57,1.41,1.42A1.33,1.33,0,0,1,18,10.83,1.39,1.39,0,0,1,16.59,9.3"/>
  </g>
  <line x1="19.53" y1="19.5" x2="3.42" y2="19.5"/>
  <rect x="4.5" y="7.5" width="2" height="10"/>
  <rect x="8.5" y="11.5" width="2" height="6"/>
  <rect x="12.5" y="10.5" width="2" height="7"/>
  <rect x="16.5" y="13.47" width="2" height="4.03"/>
</svg>
