<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
  <title>Dollar More</title>
  <path d="M3.45,7.49v9h17.1v-9Z"/>
  <path d="M6.46,7.66a2.81,2.81,0,0,1-2.8,2.8"/>
  <path d="M3.66,13.65a2.68,2.68,0,0,1,2.69,2.68"/>
  <path d="M17.66,16.33a2.8,2.8,0,0,1,2.8-2.8"/>
  <path d="M20.46,10.34a2.69,2.69,0,0,1-2.7-2.68"/>
  <g>
    <polyline points="13.5 14.5 13.5 9.5 12.5 10.5"/>
    <line x1="12.37" y1="14.5" x2="14.62" y2="14.5"/>
  </g>
  <g>
    <line x1="9" y1="13.98" x2="9" y2="14.48"/>
    <line x1="9" y1="10.04" x2="9" y2="9.55"/>
    <path d="M9.67,10.36A1,1,0,0,0,9,10.11a.91.91,0,0,0-1,1c0,.56.67.82,1,.95s1,.38,1,1a.9.9,0,0,1-1,.95.91.91,0,0,1-.83-.46"/>
  </g>
</svg>
