<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
  <title>Neighbors and Friends</title>
  <g>
    <g>
      <path d="M7.52,11.13A1.47,1.47,0,0,1,6,12.55a1.47,1.47,0,0,1-1.51-1.42v-.31A1.46,1.46,0,0,1,6,9.41a1.47,1.47,0,0,1,1.52,1.41Z"/>
      <path d="M5.75,17.83h-3a.3.3,0,0,1-.3-.31v-.36C2.46,15.41,4.14,14,6.22,14a4.25,4.25,0,0,1,2.1.53"/>
    </g>
    <g>
      <path d="M13,13a1.53,1.53,0,0,1-3,0v-.34a1.53,1.53,0,0,1,3,0Z"/>
      <path d="M15.51,19.23a.31.31,0,0,1-.32.31H7.8a.32.32,0,0,1-.32-.31v-.36c0-1.75,1.8-3.12,4-3.12s4,1.37,4,3.12Z"/>
    </g>
  </g>
  <path d="M8.55,8.71a6.4,6.4,0,0,1-.06-.88A3.17,3.17,0,0,1,8.7,6.68a3.4,3.4,0,0,1,6.05-.63l.24.38.24-.38a3.39,3.39,0,0,1,6.25,1.78c0,3.17-2.34,5.22-4.23,6.87l-.77.68"/>
</svg>
