<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
  <title>Code</title>
  <polyline points="16.5 6.55 20.5 12.01 16.5 17.48"/>
  <polyline points="7.5 17.48 3.5 12.01 7.5 6.55"/>
  <line x1="9.41" y1="20.31" x2="14.74" y2="3.7"/>
</svg>
