<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
  <title>Arrow</title>
  <g>
    <line x1="3.82" y1="12.01" x2="20.59" y2="12.01"/>
    <line x1="13.42" y1="4.73" x2="20.59" y2="12.01"/>
    <line x1="13.42" y1="19.3" x2="20.59" y2="12.01"/>
  </g>
</svg>
