<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
  <defs>
    <style>
        .icon-badge { 
            fill: #218737 !important; 
            stroke: none !important;
        }
        .check { stroke: #fff !important; }
    </style>
  </defs>
  <title>Account Logged In</title>
  <g>
    <path d="M15.48,7.91a3.47,3.47,0,1,1-6.94,0V7.12a3.47,3.47,0,1,1,6.94,0Z"/>
    <path d="M12,13.66c-4.69,0-8.5,2.84-8.5,6.45v.75a.66.66,0,0,0,.68.64H19.82a.66.66,0,0,0,.68-.64V19.5"/>
  </g>
  <g>
    <circle class="icon-badge" cx="18" cy="14" r="4"/>
    <polyline class="check" points="19.45 12.86 17.56 14.98 16.61 14.04"/>
  </g>
</svg>
