<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
  <title>Clock</title>
  <g>
    <circle cx="12" cy="12" r="9.5"/>
    <path d="M4.24,4.17A10.83,10.83,0,0,1,7.52,1.9"/>
    <path d="M16.46,1.9a10.93,10.93,0,0,1,3.17,2.16"/>
    <polyline points="14.5 9.5 11.98 12.01 16.5 17.5"/>
    <line x1="11.98" y1="17" x2="11.98" y2="18"/>
    <line x1="11.98" y1="5.98" x2="11.98" y2="6.98"/>
    <line x1="18.01" y1="12.01" x2="16.98" y2="12.01"/>
    <line x1="6.96" y1="12" x2="5.99" y2="12"/>
  </g>
</svg>
