<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
  <title>Budget Billing</title>
  <g>
    <path d="M9.35,16.1a6,6,0,0,0,5.12.08"/>
    <path d="M16.07,6.71l-.32-.11c-2.13-.63-6.29-.67-8.21.21s-3.63,5.25-1.48,7.64"/>
    <path d="M5.16,10.32a3.11,3.11,0,0,1-2.3-1c-.35-.63,0-1.58.74-1.56s1.07,1.9-.14,2.52a2.76,2.76,0,0,1-1.14.41"/>
    <path d="M6.32,13.37a8.71,8.71,0,0,0,0,3.66,4.26,4.26,0,0,0,2.57.29c.51-.17.43-1.61.37-1.84"/>
    <path d="M14.5,15.48a3.64,3.64,0,0,0,.34,1.78,4.43,4.43,0,0,0,2.58.06c.51-.27.49-1.83.43-1.94a13.75,13.75,0,0,0,3.82-2.19c.42-.34.2-3,.06-3.36s-2.07-.27-2.35-.27a3.46,3.46,0,0,0-1.6-2,5.28,5.28,0,0,1,.49-2A6.54,6.54,0,0,0,15.1,7.72"/>
    <line x1="15.5" y1="9.65" x2="16.5" y2="9.65"/>
  </g>
  <g>
    <line x1="11.97" y1="13.94" x2="11.97" y2="14.55"/>
    <line x1="11.97" y1="9.05" x2="11.97" y2="8.44"/>
    <path d="M13.42,10.16a1.36,1.36,0,0,0-1.45-1c-.87,0-1.47.49-1.47,1.19s1,1,1.47,1.17,1.47.47,1.47,1.18-.59,1.18-1.47,1.18a1.36,1.36,0,0,1-1.44-1"/>
  </g>
</svg>
