<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
  <title>Contact Phone</title>
  <path d="M20.52,16.19l-3.16-2.06a1.46,1.46,0,0,0-2,.39c-.72.88-1.6,2.34-4.92-1s-1.87-4.2-1-4.92a1.46,1.46,0,0,0,.39-2c-.24-.37-1.79-2.76-2.06-3.16s-.64-1-1.49-.92a4.34,4.34,0,0,0-3.05,4.1c0,2.72,2.15,6.06,5.08,9s6.27,5.08,9,5.08a4.34,4.34,0,0,0,4.1-3.05C21.56,16.83,20.91,16.46,20.52,16.19Z"/>
</svg>
