<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
  <title>Calendar</title>
  <line x1="2.5" y1="16.48" x2="21.5" y2="16.48"/>
  <line x1="2.5" y1="12.48" x2="21.5" y2="12.48"/>
  <line x1="2.5" y1="8.48" x2="21.5" y2="8.48"/>
  <line x1="7" y1="20.02" x2="7" y2="8.94"/>
  <line x1="12" y1="20.02" x2="12" y2="8.94"/>
  <line x1="16.91" y1="20.02" x2="16.91" y2="8.94"/>
  <line x1="7" y1="5.95" x2="7" y2="3.03"/>
  <line x1="16.91" y1="5.95" x2="16.91" y2="3.03"/>
  <rect x="2.5" y="4.5" width="19" height="16" rx="1.5" ry="1.5"/>
</svg>