<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
  <title>Autopay</title>
  <g>
    <path d="M4.55,13a7.92,7.92,0,0,1,0-.85,7.51,7.51,0,1,1,2.2,5.31"/>
    <polyline points="2.19 9.53 4.55 12.98 7.67 10.11"/>
  </g>
  <g>
    <line x1="12.02" y1="14.8" x2="12.02" y2="15.51"/>
    <line x1="12.02" y1="9.19" x2="12.02" y2="8.49"/>
    <path d="M13.52,10.47A1.44,1.44,0,0,0,12,9.27a1.39,1.39,0,0,0-1.52,1.37c0,.8,1.06,1.16,1.53,1.35s1.52.54,1.52,1.36A1.36,1.36,0,0,1,12,14.7a1.42,1.42,0,0,1-1.5-1.15"/>
  </g>
</svg>
