<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
  <title>Peaktime</title>
  <g>
    <ellipse cx="12" cy="12.01" rx="7.49" ry="7.48"/>
    <polyline points="14.8 12.01 11.98 12.01 11.98 6.83"/>
    <line x1="11.98" y1="16.53" x2="11.98" y2="17.47"/>
    <line x1="17.31" y1="12.01" x2="16.37" y2="12.01"/>
    <line x1="7.59" y1="12" x2="6.65" y2="12"/>
  </g>
</svg>
