<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
  <title>Switch</title>
  <g>
    <line x1="12.55" y1="2.34" x2="9.48" y2="5.5"/>
    <line x1="12.55" y1="8.66" x2="9.48" y2="5.5"/>
    <path d="M9.48,5.5h2.28A6.7,6.7,0,0,1,16,7a7.2,7.2,0,0,1,2.52,5.21"/>
  </g>
  <g>
    <line x1="11.44" y1="21.66" x2="14.5" y2="18.5"/>
    <line x1="11.44" y1="15.34" x2="14.5" y2="18.5"/>
    <path d="M14.5,18.5H12.22A6.7,6.7,0,0,1,8,17a7.2,7.2,0,0,1-2.52-5.21"/>
  </g>
</svg>
