<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
  <title>Account Disabled</title>
  <g>
    <path d="M16.31,14.54c2.51,1.12,4.19,3.17,4.19,5.57V21.5"/>
    <path d="M9.08,14.05C5.83,15,3.5,17.29,3.5,20.11v.75a.66.66,0,0,0,.68.64h9.24"/>
  </g>
  <line x1="6" y1="3" x2="17.5" y2="22.5"/>
  <path d="M14.21,10.58a3.55,3.55,0,0,0,1.27-2.72V7.08a3.45,3.45,0,0,0-3.39-3.51A3.3,3.3,0,0,0,10.51,4"/>
</svg>
