<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
  <title>Icon Cart</title>
  <g>
    <line x1="7.19" y1="11.59" x2="16.66" y2="11.59"/>
    <line x1="9.96" y1="8.82" x2="10.97" y2="14.05"/>
    <line x1="14.12" y1="8.87" x2="13.28" y2="14.1"/>
    <path d="M3.43,5.5H5.14L8,14.4h8.18l1.92-5.9H6.44"/>
  </g>
  <circle cx="15.1" cy="18" r="1.6"/>
  <circle cx="9" cy="18" r="1.6"/>
</svg>
