<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
  <title>Pure Power</title>
  <line x1="7.58" y1="7.5" x2="10.44" y2="7.5"/>
  <line x1="3.47" y1="3.5" x2="13.52" y2="3.5"/>
  <line x1="6.53" y1="5.5" x2="12.48" y2="5.5"/>
  <line x1="4.54" y1="9.5" x2="7.49" y2="9.5"/>
  <g>
    <line x1="13.5" y1="13.5" x2="13.5" y2="21.5"/>
    <line x1="11.5" y1="21.5" x2="15.5" y2="21.5"/>
    <g>
      <polygon points="11.62 11.04 5.31 13.58 11.76 11.59 11.62 11.04"/>
      <polygon points="14.3 9.35 16.05 2.79 13.78 9.13 14.3 9.35"/>
      <line x1="13.55" y1="11.08" x2="13.55" y2="11.08"/>
      <polygon points="14.83 12.38 20.08 16.71 15.25 12 14.83 12.38"/>
    </g>
  </g>
</svg>
