<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
  <title>Icon Manage Account</title>
  <path d="M16.5,16.78l.95-.19a.41.41,0,0,0,.37-.27l.22-.67a3.87,3.87,0,0,0,.78-.32l.64.31a.38.38,0,0,0,.45-.07l.7-.71a.4.4,0,0,0,.08-.45l-.32-.63a3.77,3.77,0,0,0,.32-.78l.67-.23a.39.39,0,0,0,.27-.37v-1a.41.41,0,0,0-.27-.37l-.67-.22a3.36,3.36,0,0,0-.32-.78l.32-.64a.4.4,0,0,0-.08-.45l-.7-.7a.4.4,0,0,0-.45-.08l-.64.32A3.87,3.87,0,0,0,18,8.16l-.22-.67a.41.41,0,0,0-.37-.27h-1a.39.39,0,0,0-.37.27l-.23.67a4.41,4.41,0,0,0-.78.32l-.63-.32a.4.4,0,0,0-.45.08l-.56.61a.37.37,0,0,0-.09.44l.29.65a3.85,3.85,0,0,0-.36.77l-.68.2a.39.39,0,0,0-.28.36v.42m4.44,2.19a1.79,1.79,0,1,1,1.79-1.78A1.78,1.78,0,0,1,16.75,13.88Z"/>
  <g>
    <path d="M10.93,8.73a2.49,2.49,0,1,1-5,0V8.16a2.49,2.49,0,1,1,5,0Z"/>
    <path d="M14.54,18a.47.47,0,0,1-.49.46H2.84A.47.47,0,0,1,2.35,18v-.54c0-2.58,2.73-4.62,6.09-4.62s6.1,2,6.1,4.62Z"/>
  </g>
</svg>
