<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
  <title>Dashboard</title>
  <g>
    <polygon points="11.5 12.5 17.5 2.5 12.5 12.5 11.5 12.5"/>
    <line x1="2.65" y1="11.8" x2="4.36" y2="12.16"/>
    <line x1="4.43" y1="6.9" x2="5.73" y2="8.23"/>
    <line x1="7.4" y1="4.27" x2="8.27" y2="6.01"/>
    <line x1="21.34" y1="11.8" x2="19.64" y2="12.16"/>
    <line x1="19.56" y1="6.9" x2="18.27" y2="8.23"/>
    <line x1="12.05" y1="2.87" x2="12.05" y2="4.87"/>
  </g>
  <line x1="7.5" y1="18.5" x2="16.5" y2="18.5"/>
</svg>
