<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
  <title>Electric</title>
  <path d="M9.91,17.48a.41.41,0,0,1-.42-.41V15c0-1.32-3.56-3-3.56-6.72A5.87,5.87,0,0,1,12,2.46c2.89,0,6.07,1.93,6.07,5.69S14.51,13,14.51,15v2.09a.4.4,0,0,1-.43.42Z"/>
  <polyline points="8.73 7.21 12 10.91 15.16 7.21"/>
  <line x1="9.5" y1="19.5" x2="14.5" y2="19.5"/>
  <line x1="9.5" y1="21.5" x2="14.5" y2="21.5"/>
  <line x1="12" y1="17.07" x2="12" y2="10.8"/>
</svg>
