<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
  <title>Home</title>
  <g>
    <path d="M18.5,10.91v7.64H5.5V10.91"/>
    <path d="M13.5,18.5v-5h-3v5"/>
    <path d="M3.5,12.46l7.83-7.6a.85.85,0,0,1,1.32,0l7.85,7.6"/>
  </g>
</svg>
