<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
  <title>Icon Usage</title>
  <line x1="19.53" y1="18.5" x2="3.42" y2="18.5"/>
  <rect x="4.5" y="6.5" width="2" height="10"/>
  <rect x="8.5" y="10.5" width="2" height="6"/>
  <rect x="12.5" y="4.35" width="2" height="12.15"/>
  <rect x="16.5" y="6.47" width="2" height="10.03"/>
</svg>
