<svg xmlns="http://www.w3.org/2000/svg" viewbox="0 0 24 24">
  <title>Gas</title>
  <path d="M10.08,21a.33.33,0,0,1-.42.44,7.44,7.44,0,0,1-4.15-6.26c0-4.85,4.68-10.91,5.9-12.48a.79.79,0,0,1,1.17,0c1.24,1.54,5.9,7.62,5.9,12.46a7.44,7.44,0,0,1-4.14,6.26.33.33,0,0,1-.42-.44c.47-1,1.56-2.46,1.56-4.08s-2-4.36-3.06-6.27a.48.48,0,0,0-.83,0C10.48,12.59,8.48,15.33,8.48,17S9.61,20,10.08,21Z"/>
</svg>
