<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
  <title>Streetlight</title>
  <path d="M17.5,20.5V4.5h-2v16"/>
  <g>
    <path d="M11.34,4.66a7.63,7.63,0,0,1,4.1,3.91"/>
    <path d="M8.21,5.74a6.12,6.12,0,0,1,4.1-1.16,4.55,4.55,0,0,1,3.13,1.16"/>
  </g>
  <g>
    <path d="M9.38,7.44A1.45,1.45,0,0,0,8,5.88a1.5,1.5,0,0,0-1.4,1.56"/>
    <path d="M5.09,10.35c0,.9,1.34,1.36,2.9,1.36s2.89-.56,2.89-1.36"/>
    <path d="M11.69,9.58H4.28l.51-1.37a7.52,7.52,0,0,1,3.12-.83,8.59,8.59,0,0,1,3.27.83Z"/>
  </g>
</svg>
