<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
  <defs>
    <style>
      .cls-2 {
        font-size: 6.31px;
        font-family: Roboto;
        font-weight: 100;
        letter-spacing: 0.02em;
      }
    </style>
  </defs>
  <title>Icon PDF</title>
  <g>
    <polygon points="19.47 8.29 19.47 6.08 15.78 2.52 4.51 2.52 4.51 21.49 19.47 21.49 19.47 8.29"/>
    <polyline points="19.03 6.93 15.25 6.93 15.25 2.75"/>
  </g>
  <text class="cls-2" transform="translate(6 15.26)">PDF</text>
</svg>
