<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
  <title>Share</title>
  <g>
    <path d="M10.71,6.29a1.78,1.78,0,0,1-3.56,0v-.4a1.78,1.78,0,1,1,3.56,0Z"/>
    <path d="M7.57,13.52H4.84a.36.36,0,0,1-.36-.35v-.4c0-1.93,2-3.45,4.44-3.45a5.37,5.37,0,0,1,2.61.65"/>
  </g>
  <path d="M16.5,10.76a10,10,0,0,0-9.36,7.66h0a13,13,0,0,1,9-3.92h.32v3.74l5.62-5.61L16.5,7Z"/>
</svg>
