<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
  <title>Paybill</title>
  <g>
    <line x1="12" y1="18.78" x2="12" y2="20.47"/>
    <line x1="12" y1="5.25" x2="12" y2="3.56"/>
    <path d="M15.48,9A3.34,3.34,0,0,0,12,5.46,3.23,3.23,0,0,0,8.51,8.75c0,1.92,2.41,2.79,3.48,3.24s3.49,1.31,3.49,3.27A3.19,3.19,0,0,1,12,18.52,3.33,3.33,0,0,1,8.51,15"/>
  </g>
</svg>
