<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
  <title>Account</title>
  <g>
    <path d="M15.46,7.9a3.47,3.47,0,1,1-6.94,0V7.11a3.47,3.47,0,1,1,6.94,0Z"/>
    <path d="M20.5,20.86a.66.66,0,0,1-.68.64H4.18a.66.66,0,0,1-.68-.64v-.75c0-3.61,3.81-6.45,8.5-6.45s8.5,2.84,8.5,6.45Z"/>
  </g>
</svg>
