<svg xmlns="http://www.w3.org/2000/svg" viewbox="0 0 24 24">
  <title>Locked</title>
  <path d="M7.72,11.12V6.79A4.28,4.28,0,0,1,15,3.72a4.41,4.41,0,0,1,1.25,3.07v4.33"/>
  <line x1="12" y1="17.41" x2="12" y2="14.28"/>
  <circle cx="12" cy="15.5" r="6"/>
</svg>
