<svg xmlns="http://www.w3.org/2000/svg" id="logo-ameren-illinois" viewBox="0 0 186 94">
  <title>Ameren Illinois Logo</title>
  <g>
    <g>
      <path class="logo-cls-1" d="M24,33H.19a29.19,29.19,0,0,1-.11-5.37L24,32.56V33Z"/>
      <path class="logo-cls-2" d="M40,30.32l20.19-7.61a29.26,29.26,0,0,1,.67,4.81L40.11,30.66a.41.41,0,0,0-.11-.34Z"/>
      <path class="logo-cls-1" d="M24.3,30.21.41,24.5a33.45,33.45,0,0,1,2.13-6.71l22,12a.58.58,0,0,0-.22.45Z"/>
      <path class="logo-cls-1" d="M37.53,26.4l13.35-19a25.37,25.37,0,0,1,4.37,4.81L37.87,26.74l-.34-.34Z"/>
      <path class="logo-cls-1" d="M26,27.3,4.56,13.87a30.74,30.74,0,0,1,6.17-6.94L26.2,27c-.11.11-.22.22-.22.34Z"/>
      <path class="logo-cls-1" d="M33.61,24.61,34.28,0A31.66,31.66,0,0,1,42.8,2.35L34.06,24.73c-.11-.11-.22-.11-.45-.11Z"/>
      <path class="logo-cls-1" d="M29.23,25.06,15.55,3.69A29.22,29.22,0,0,1,26.43,0l3.25,24.84a.85.85,0,0,0-.45.22Z"/>
      <path class="logo-cls-1" d="M2.2,40.61s-.45-1.12-.9-2.46S.63,35.47.63,35.47c7.74-1,19.85-1.12,28.15-1.12,0,0-16,1.57-26.58,6.27Z"/>
      <path class="logo-cls-1" d="M19.36,57.4a22.23,22.23,0,0,1-4.26-1.9,28.9,28.9,0,0,1-4-2.91c4.71-5.93,19.85-17.45,34.09-18.24,0,0-14.69,5.15-25.8,23Z"/>
      <path class="logo-cls-1" d="M38.43,58.4a31.7,31.7,0,0,1-8,1,29.12,29.12,0,0,1-6.28-.67c.9-3,11.1-20.7,23.33-24.39,0,0-9.42,10-9.08,24.05Z"/>
      <path class="logo-cls-1" d="M7.81,49.56a29.29,29.29,0,0,1-2.47-3,21.69,21.69,0,0,1-2-3.47c3.81-2.46,17.38-8.73,36.56-8.73A80.48,80.48,0,0,0,7.81,49.56Z"/>
      <path class="logo-cls-3" d="M41.68,70.37l17-36h9.65l-1.91,36H58.84l.67-7.27H52.45l-3,7.27ZM61.53,42.07,54.69,58H60l1.57-15.89Z"/>
      <path class="logo-cls-3" d="M68.26,70.37l7-27.52h7.51l-.56,2a11.69,11.69,0,0,1,6.73-2.57c3.36,0,4,2.24,4.26,2.91.78-.45,4.26-2.91,7.29-2.91,5.16,0,4.15,4,3.81,5.37L98.54,70.37H91l5.38-21.71c.22-.56,0-1.34-1.46-1.34a4.63,4.63,0,0,0-2.36,1l-5.5,22H79.59l5.5-21.71c0-.22.34-1.34-1.57-1.34a4.12,4.12,0,0,0-2.13.9L75.78,70.37Z"/>
      <path class="logo-cls-3" d="M110.88,70.93c-7.07,0-9.08-2.69-7.74-8.17l3.14-12.42c1-4.25,4.93-8.06,11.66-8.06,8.41,0,8.19,5.82,7.85,7.16l-2.13,8.39H111.55l-1.46,5.93c-.34,1.34,0,2.46,1.57,2.46a3.27,3.27,0,0,0,3.25-2.46l.67-2.69h7.18l-.67,2.69c-.9,2.8-3.93,7.16-11.22,7.16Zm2.92-21.82-1.12,4.14h4.82l1-4.14c.22-.56.56-2-1.68-2a2.83,2.83,0,0,0-3,2Z"/>
      <path class="logo-cls-3" d="M123.22,70.37l7-27.52h7.07l-.67,2.69c3-2.13,5.16-3.24,9.42-3.24l-1.23,5.26a27.68,27.68,0,0,0-2.92-.22c-5.61,0-6.5,3.47-7,5.26l-4.49,17.79Z"/>
      <path class="logo-cls-3" d="M148.9,70.93c-7.07,0-9.08-2.69-7.74-8.17l3.14-12.42c1-4.25,4.93-8.06,11.55-8.06,8.52,0,8.3,5.82,8,7.16l-2.13,8.39H149.57l-1.46,5.93c-.34,1.34,0,2.46,1.57,2.46a3.27,3.27,0,0,0,3.25-2.46l.67-2.69h7.18L160,63.77c-.9,2.8-3.81,7.16-11.1,7.16Zm2.8-21.82-1,4.14h4.82l1-4.14c.22-.56.56-2-1.68-2a3.07,3.07,0,0,0-3.14,2Z"/>
      <path class="logo-cls-3" d="M161.35,70.37l7-27.52h7.4L175.14,45c.9-.67,3.25-2.69,6.5-2.69,5.5,0,4.49,4.59,3.81,7.27l-5.27,20.81h-7.51l4.93-19.47c.56-2.35.79-3.47-.79-3.47a5.93,5.93,0,0,0-2.47.9l-5.5,22Z"/>
    </g>
    <g>
      <path class="logo-cls-4" d="M44.25,77h3.38L43.79,93.74H40.41Z"/>
      <path class="logo-cls-4" d="M51.07,77h3.38l-3.2,14h6l-.63,2.77H47.24Z"/>
      <path class="logo-cls-4" d="M62.88,77h3.38l-3.2,14h6l-.63,2.77H59Z"/>
      <path class="logo-cls-4" d="M74.84,77h3.38L74.39,93.74H71Z"/>
      <path class="logo-cls-4" d="M87,88.47h0L89.69,77h3.1L89,93.74H85.11L83.67,82h0L80.93,93.74h-3.1L81.67,77h3.9Z"/>
      <path class="logo-cls-4" d="M94.79,81.87a9.79,9.79,0,0,1,1.4-2.75,6,6,0,0,1,2.14-1.79,7,7,0,0,1,3.17-.64,5.27,5.27,0,0,1,2.88.64,3.13,3.13,0,0,1,1.31,1.79,6.94,6.94,0,0,1,.14,2.75,33.63,33.63,0,0,1-.63,3.5,36.17,36.17,0,0,1-1,3.52,9.76,9.76,0,0,1-1.4,2.74,5.74,5.74,0,0,1-2.13,1.76,7.29,7.29,0,0,1-3.17.61,5.55,5.55,0,0,1-2.89-.61,3,3,0,0,1-1.32-1.76,6.92,6.92,0,0,1-.15-2.74,33.48,33.48,0,0,1,.63-3.52A35.66,35.66,0,0,1,94.79,81.87Zm1.82,6.38a7.63,7.63,0,0,0-.11,1.92A1.62,1.62,0,0,0,97,91.25a1.65,1.65,0,0,0,1.13.34,2.35,2.35,0,0,0,1.29-.34,3,3,0,0,0,1-1.08,9.5,9.5,0,0,0,.77-1.92q.35-1.18.74-2.87t.57-2.86a7.74,7.74,0,0,0,.11-1.92,1.63,1.63,0,0,0-.45-1.09,1.65,1.65,0,0,0-1.13-.34,2.35,2.35,0,0,0-1.29.34,3,3,0,0,0-1,1.09,9.79,9.79,0,0,0-.77,1.92q-.35,1.17-.74,2.86T96.61,88.24Z"/>
      <path class="logo-cls-4" d="M110.22,77h3.38l-3.83,16.74h-3.38Z"/>
      <path class="logo-cls-4" d="M117,89a5.65,5.65,0,0,0-.15,1.07,1.51,1.51,0,0,0,.17.81,1.24,1.24,0,0,0,.57.52,2.45,2.45,0,0,0,1,.19,2.65,2.65,0,0,0,1.51-.5,2.46,2.46,0,0,0,1-1.56,2.7,2.7,0,0,0,.07-1,1.44,1.44,0,0,0-.33-.74,2.61,2.61,0,0,0-.79-.6,10.61,10.61,0,0,0-1.29-.55,9.34,9.34,0,0,1-1.76-.82,3.75,3.75,0,0,1-1.13-1,2.89,2.89,0,0,1-.49-1.38,5.69,5.69,0,0,1,.16-1.82,6.06,6.06,0,0,1,2.23-3.7,6.72,6.72,0,0,1,4.08-1.22,7.65,7.65,0,0,1,2,.25,3.31,3.31,0,0,1,1.46.8,2.77,2.77,0,0,1,.76,1.41,4.68,4.68,0,0,1-.08,2.05l-.11.47H122.7a3.08,3.08,0,0,0,0-1.84,1.21,1.21,0,0,0-1.26-.64,2.64,2.64,0,0,0-1,.16,2.17,2.17,0,0,0-.7.43,2,2,0,0,0-.45.62,3.65,3.65,0,0,0-.25.73,2.21,2.21,0,0,0,0,1.3,2.14,2.14,0,0,0,1.19,1l2.35,1.12a6,6,0,0,1,1.37.88,3.1,3.1,0,0,1,.75,1,2.69,2.69,0,0,1,.24,1.16,6.55,6.55,0,0,1-.18,1.41,6,6,0,0,1-2.42,3.86A8.07,8.07,0,0,1,117.83,94Q115,94,114,92.76a4.18,4.18,0,0,1-.42-3.56l.16-.68h3.38Z"/>
    </g>
  </g>
</svg>
