<svg xmlns="http://www.w3.org/2000/svg" id="logo-ameren-missouri" viewBox="0 0 186 94">
  <title>Ameren Missouri Logo</title>
  <g>
    <g>
      <path class="logo-cls-1" d="M24,33H.19a29.25,29.25,0,0,1-.11-5.38L24,32.59V33Z"/>
      <path class="logo-cls-2" d="M40,30.35,60.2,22.73a29.32,29.32,0,0,1,.67,4.82L40.12,30.68a.41.41,0,0,0-.11-.34Z"/>
      <path class="logo-cls-1" d="M24.31,30.24.42,24.53a33.51,33.51,0,0,1,2.13-6.72l22,12a.58.58,0,0,0-.22.45Z"/>
      <path class="logo-cls-1" d="M37.54,26.43l13.35-19a25.39,25.39,0,0,1,4.37,4.82L37.88,26.77l-.34-.34Z"/>
      <path class="logo-cls-1" d="M26,27.32,4.57,13.89a30.76,30.76,0,0,1,6.17-6.94L26.21,27c-.11.11-.22.22-.22.34Z"/>
      <path class="logo-cls-1" d="M33.62,24.64,34.29,0a31.64,31.64,0,0,1,8.52,2.35l-8.75,22.4c-.11-.11-.22-.11-.45-.11Z"/>
      <path class="logo-cls-1" d="M29.24,25.09,15.56,3.7A29.2,29.2,0,0,1,26.44,0l3.25,24.86a.85.85,0,0,0-.45.22Z"/>
      <path class="logo-cls-1" d="M2.21,40.65s-.45-1.12-.9-2.46S.64,35.5.64,35.5c7.74-1,19.85-1.12,28.15-1.12,0,0-16,1.57-26.58,6.27Z"/>
      <path class="logo-cls-1" d="M19.37,57.45a22.22,22.22,0,0,1-4.26-1.9,28.9,28.9,0,0,1-4-2.91c4.71-5.94,19.85-17.47,34.09-18.25,0,0-14.69,5.15-25.8,23.07Z"/>
      <path class="logo-cls-1" d="M38.44,58.46a31.67,31.67,0,0,1-8,1,29.09,29.09,0,0,1-6.28-.67c.9-3,11.1-20.72,23.33-24.41,0,0-9.42,10-9.08,24.08Z"/>
      <path class="logo-cls-1" d="M7.82,49.61a29.31,29.31,0,0,1-2.47-3,21.72,21.72,0,0,1-2-3.47c3.81-2.46,17.38-8.74,36.56-8.74A80.44,80.44,0,0,0,7.82,49.61Z"/>
      <path class="logo-cls-3" d="M41.69,70.44l17-36.06h9.65L66.48,70.44H58.85l.67-7.28H52.46l-3,7.28ZM61.54,42.11,54.7,58H60l1.57-15.9Z"/>
      <path class="logo-cls-3" d="M68.27,70.44l7-27.55h7.51l-.56,2a11.68,11.68,0,0,1,6.73-2.58c3.36,0,4,2.24,4.26,2.91.78-.45,4.26-2.91,7.29-2.91,5.16,0,4.15,4,3.81,5.38L98.55,70.44H91l5.38-21.73c.22-.56,0-1.34-1.46-1.34a4.63,4.63,0,0,0-2.36,1l-5.5,22.06H79.6l5.5-21.73c0-.22.34-1.34-1.57-1.34a4.12,4.12,0,0,0-2.13.9L75.79,70.44Z"/>
      <path class="logo-cls-3" d="M110.89,71c-7.07,0-9.08-2.69-7.74-8.18l3.14-12.43c1-4.26,4.93-8.06,11.66-8.06,8.41,0,8.19,5.82,7.85,7.17l-2.13,8.4H111.56l-1.46,5.94c-.34,1.34,0,2.46,1.57,2.46a3.27,3.27,0,0,0,3.25-2.46l.67-2.69h7.18l-.67,2.69c-.9,2.8-3.93,7.17-11.22,7.17Zm2.92-21.84-1.12,4.14h4.82l1-4.14c.22-.56.56-2-1.68-2a2.83,2.83,0,0,0-3,2Z"/>
      <path class="logo-cls-3" d="M123.23,70.44l7-27.55h7.07l-.67,2.69c3-2.13,5.16-3.25,9.42-3.25l-1.23,5.26a27.66,27.66,0,0,0-2.92-.22c-5.61,0-6.5,3.47-7,5.26L130.4,70.44Z"/>
      <path class="logo-cls-3" d="M148.91,71c-7.07,0-9.08-2.69-7.74-8.18l3.14-12.43c1-4.26,4.93-8.06,11.55-8.06,8.52,0,8.3,5.82,8,7.17l-2.13,8.4H149.58l-1.46,5.94c-.34,1.34,0,2.46,1.57,2.46a3.27,3.27,0,0,0,3.25-2.46l.67-2.69h7.18L160,63.83c-.9,2.8-3.81,7.17-11.1,7.17Zm2.8-21.84-1,4.14h4.82l1-4.14c.22-.56.56-2-1.68-2a3.07,3.07,0,0,0-3.14,2Z"/>
      <path class="logo-cls-3" d="M161.36,70.44l7-27.55h7.4L175.15,45c.9-.67,3.25-2.69,6.5-2.69,5.5,0,4.49,4.59,3.81,7.28L180.2,70.44h-7.51L177.62,51c.56-2.35.79-3.47-.79-3.47a5.92,5.92,0,0,0-2.47.9l-5.5,22.06Z"/>
    </g>
    <g>
      <path class="logo-cls-4" d="M49.23,77.09l-.31,11.75h0l5.09-11.75h5L55.21,93.74H52.13l3-13.29h0l-6,13.29H46.51l.08-13.29h0l-3,13.29H40.42l3.81-16.65Z"/>
      <path class="logo-cls-4" d="M62.52,77.09h3.36L62.07,93.74H58.71Z"/>
      <path class="logo-cls-4" d="M69.28,89a5.58,5.58,0,0,0-.15,1.06,1.5,1.5,0,0,0,.17.8,1.23,1.23,0,0,0,.57.51,2.43,2.43,0,0,0,1,.19,2.63,2.63,0,0,0,1.5-.5,2.45,2.45,0,0,0,1-1.55,2.7,2.7,0,0,0,.07-1,1.43,1.43,0,0,0-.33-.73,2.6,2.6,0,0,0-.79-.6,10.57,10.57,0,0,0-1.28-.55,9.3,9.3,0,0,1-1.75-.82,3.72,3.72,0,0,1-1.13-1,2.88,2.88,0,0,1-.49-1.38,5.69,5.69,0,0,1,.16-1.81A6,6,0,0,1,70.06,78a6.68,6.68,0,0,1,4.06-1.21,7.6,7.6,0,0,1,2,.24,3.29,3.29,0,0,1,1.45.79,2.74,2.74,0,0,1,.75,1.4,4.67,4.67,0,0,1-.08,2l-.11.47H74.92a3.07,3.07,0,0,0,0-1.83,1.21,1.21,0,0,0-1.25-.64,2.62,2.62,0,0,0-1,.16,2.17,2.17,0,0,0-.69.43,2,2,0,0,0-.44.62,3.67,3.67,0,0,0-.25.72,2.2,2.2,0,0,0,0,1.29,2.12,2.12,0,0,0,1.18,1l2.33,1.12a5.9,5.9,0,0,1,1.36.87,3.07,3.07,0,0,1,.74,1,2.69,2.69,0,0,1,.24,1.15A6.52,6.52,0,0,1,77,89a6,6,0,0,1-2.41,3.84A8,8,0,0,1,70.08,94q-2.85,0-3.79-1.24a4.16,4.16,0,0,1-.41-3.55l.15-.68h3.36Z"/>
      <path class="logo-cls-4" d="M82.32,89a5.58,5.58,0,0,0-.15,1.06,1.5,1.5,0,0,0,.17.8,1.23,1.23,0,0,0,.57.51,2.43,2.43,0,0,0,1,.19,2.63,2.63,0,0,0,1.5-.5,2.45,2.45,0,0,0,1-1.55,2.7,2.7,0,0,0,.07-1,1.43,1.43,0,0,0-.33-.73,2.6,2.6,0,0,0-.79-.6,10.57,10.57,0,0,0-1.28-.55,9.3,9.3,0,0,1-1.75-.82,3.72,3.72,0,0,1-1.13-1,2.88,2.88,0,0,1-.49-1.38,5.69,5.69,0,0,1,.16-1.81A6,6,0,0,1,83.1,78a6.68,6.68,0,0,1,4.06-1.21,7.6,7.6,0,0,1,2,.24,3.29,3.29,0,0,1,1.45.79,2.74,2.74,0,0,1,.75,1.4,4.67,4.67,0,0,1-.08,2l-.11.47H88a3.07,3.07,0,0,0,0-1.83,1.21,1.21,0,0,0-1.25-.64,2.62,2.62,0,0,0-1,.16,2.17,2.17,0,0,0-.69.43,2,2,0,0,0-.44.62,3.67,3.67,0,0,0-.25.72,2.2,2.2,0,0,0,0,1.29,2.12,2.12,0,0,0,1.18,1l2.33,1.12a5.9,5.9,0,0,1,1.36.87,3.07,3.07,0,0,1,.74,1,2.69,2.69,0,0,1,.24,1.15,6.52,6.52,0,0,1-.18,1.4,6,6,0,0,1-2.41,3.84A8,8,0,0,1,83.12,94q-2.85,0-3.79-1.24a4.16,4.16,0,0,1-.41-3.55l.15-.68h3.36Z"/>
      <path class="logo-cls-4" d="M94.11,81.93a9.75,9.75,0,0,1,1.4-2.74,6,6,0,0,1,2.12-1.78,7,7,0,0,1,3.16-.64,5.24,5.24,0,0,1,2.86.64A3.11,3.11,0,0,1,105,79.19a6.92,6.92,0,0,1,.14,2.74,33.5,33.5,0,0,1-.62,3.49,35.87,35.87,0,0,1-1,3.5,9.72,9.72,0,0,1-1.39,2.73A5.71,5.71,0,0,1,100,93.39a7.24,7.24,0,0,1-3.15.61A5.52,5.52,0,0,1,94,93.39a3,3,0,0,1-1.31-1.75,6.89,6.89,0,0,1-.15-2.73,33.45,33.45,0,0,1,.63-3.5A36,36,0,0,1,94.11,81.93Zm1.81,6.34a7.63,7.63,0,0,0-.11,1.91,1.61,1.61,0,0,0,.45,1.07,1.64,1.64,0,0,0,1.12.34,2.34,2.34,0,0,0,1.28-.34,3,3,0,0,0,.95-1.07,9.49,9.49,0,0,0,.76-1.91q.35-1.18.74-2.86t.57-2.85a7.75,7.75,0,0,0,.11-1.91,1.62,1.62,0,0,0-.45-1.08,1.64,1.64,0,0,0-1.12-.34,2.34,2.34,0,0,0-1.28.34A2.93,2.93,0,0,0,98,80.66a9.69,9.69,0,0,0-.76,1.91q-.35,1.17-.73,2.85T95.92,88.27Z"/>
      <path class="logo-cls-4" d="M109.78,88.71a7.74,7.74,0,0,0-.18,1.15,2.27,2.27,0,0,0,.09.91,1.17,1.17,0,0,0,.47.61,1.64,1.64,0,0,0,.92.22,2.19,2.19,0,0,0,1-.22,2.3,2.3,0,0,0,.73-.61,3.35,3.35,0,0,0,.51-.91,8.56,8.56,0,0,0,.35-1.15l2.66-11.61h3.36l-2.66,11.61a8,8,0,0,1-1,2.62A5.84,5.84,0,0,1,114.45,93a5.2,5.2,0,0,1-1.89.82,10,10,0,0,1-4,0,3.1,3.1,0,0,1-1.53-.76,2.89,2.89,0,0,1-.82-1.62,6.84,6.84,0,0,1,.18-2.73l2.66-11.61h3.36Z"/>
      <path class="logo-cls-4" d="M129,77.09a3.82,3.82,0,0,1,3,1.06,3.55,3.55,0,0,1,.43,3.23,6.24,6.24,0,0,1-1.3,2.74,4.19,4.19,0,0,1-2.41,1.36v0a2.36,2.36,0,0,1,1.66.82,3,3,0,0,1,.26,2q-.06.47-.16,1l-.23,1.23q-.26,1.33-.32,2a1,1,0,0,0,.39,1l0,.14h-3.64a1.51,1.51,0,0,1-.14-.8,8.87,8.87,0,0,1,.12-.95l.64-3.19a2.3,2.3,0,0,0-.14-1.54c-.21-.37-.67-.56-1.37-.56h-1.8l-1.61,7H119l3.81-16.65Zm-3.11,7.28a3.3,3.3,0,0,0,2-.57A3.14,3.14,0,0,0,129,81.87q.53-2.31-1.8-2.31h-1.59l-1.1,4.81Z"/>
      <path class="logo-cls-4" d="M136.84,77.09h3.36l-3.81,16.65H133Z"/>
    </g>
  </g>
</svg>
