<svg xmlns="http://www.w3.org/2000/svg" viewBox="3082 -622.885 102.892 93.643">
  <path d="M100.54,81.331c1.207-.6,2.534-.6,2.534-1.81s.845-3.62-.241-4.706c-.6-.724-1.569-.362-2.293-.724-1.327-.845-1.569-1.931-2.413-3.138-1.81-2.655.121-4.706-1.327-7.844-1.569-3.5-3.379-3.862-5.792-6.516-2.293-2.655-6.758-5.068-7.361-8.688-.483-2.775,3.017-4.948,2.776-7.844-.362-4.1.241-1.689-1.448-4.586-1.569-2.775-3.379,1.81-4.706.362-1.931-2.051-1.569-5.792-3.258-8.326-2.776-4.224-7.844-6.154-9.9-10.861-1.569-3.741.483-11.1-2.413-13.636a13.766,13.766,0,0,1-1.327-1.327A6.63,6.63,0,0,0,59.39.6H.5C.38,1.083,2.432,5.306,3.638,6.634c2.776,2.9,7.6,5.31,9.292,11.585.362,1.327-1.207,3.258-1.086,4.706.121.845,6.034,8.326,6.034,9.9.121,15.688-.241,31.254.483,46.942,0,.845-.241,3.741.483,4.1.483.241,66.13,0,67.578,0,1.569,0,3.379.6,1.81,3.017-1.086,1.689-5.672,4.827-6.758,7.24,2.413,0,9.654.121,12.912.121C95.713,91.588,99.334,85.554,100.54,81.331Z" transform="translate(3081.504 -623.485)"/>
</svg>
