<div class="text-center c-action-panel">
    <div class="c-action-panel-item col-xs-6 col-md-3 text-center" data-height="equal">
        <a href="#">
            {{> icon-outage--1}}
            <span>Report a Problem</span>
        </a>
    </div>
    <div class="c-action-panel-item col-xs-6 col-md-3 text-center" data-height="equal">
        <a href="#">
            {{> icon-home--location}}
            <span>Search by Location</span>
        </a>
    </div>
    <div class="c-action-panel-item col-xs-6 col-md-3 text-center" data-height="equal">
        <a href="#">
            {{> icon-map}}
            <span>View Map</span>
        </a>
    </div>
    <div class="c-action-panel-item col-xs-6 col-md-3 text-center" data-height="equal">
        <a href="#">
            {{> icon-alerts}}
            <span>Sign up for Alerts</span>
        </a>
    </div>
</div>