<div class="c-account-selector-header o-layout--full-page">
  <div class="container-fluid">
    <h1>{{{title}}}</h1>
    {{#if search}}
      <div class="row">
        <div class="col-xs-12 col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4">
          <form id="account-selector-search" role="search">
            <label id="account-selector-search-label" for="account-selector-search" class="sr-only">Search</label>
            <div class="input-group">
              <input type="text" class="form-control" placeholder="Search" name="account-selector-search" id="account-selector-search">
              <div class="input-group-btn">
                <button class="btn btn-default" type="submit" aria-labelledby="account-selector-search-label"><i class="glyphicon glyphicon-search"></i></button>
              </div>
            </div>
          </form>
        </div>
      </div>
    {{/if}}
  </div>
</div>