﻿<div class="text-center c-action-module">
  {{#each this}}
  <div class="c-action-module-item col-xs-6 col-md-4 text-center" data-height="equal">
    <div class="media">
      <div class="media-left">
        <a href="{{url}}">{{{icon}}}</a>
      </div>
      <div class="media-body">
        <div class="am-url-padding">
            <a href="{{url}}">{{title}}</a><br />
        </div>
        <p class="hidden-xs hidden-sm">
            {{caption}}
        </p>
      </div>
    </div>
  </div>
  {{/each}}
</div>
