<section class="c-account-selector">
            
    <!-- Header -->
    <header class="dotted-bottom-border">
        <a href="#" class="btn btn-default btn-sm pull-right">{{> icon-plus}} New</a>
        <h1 class="lead color-grayscale-a">Accounts</h1>
        <p class="text-small text-bold color-grayscale-a">10 results found</p>
    </header>

    <div class="c-accounts-list row">
        <a href="#" class="c-account--danger">
            <div class="dotted-bottom-border">
                <p class="c-accounts-list__address text-small">
                    <strong>1397 Timothy Ridge Dr.</strong><br>
                    St Charles, MO, 63304
                </p>
                <p class="c-accounts-list__number text-small">21353467-2345</p>
            </div>
            <div class="dotted-bottom-border">
                <p class="c-accounts-list__amount"><strong>$41.65</strong></p>
                <p class="c-accounts-list__text text-small text-condensed">Past due</p>
            </div>
            <div class="dotted-bottom-border">{{> icon-chevron }}</div>
        </a>
        <a href="#" class="c-account--success">
            <div class="dotted-bottom-border">
                <p class="c-accounts-list__address text-small">
                    <strong>1945 Riverwood Trails Dr. Suite 4500</strong><br>
                    Hazelwood, MO, 63031
                </p>
                <p class="c-accounts-list__number text-small">84538576-9876</p>
            </div>
            <div class="dotted-bottom-border">
                <p class="c-accounts-list__amount">$89.43</p>
                <p class="c-accounts-list__text text-small text-condensed">Due by: <strong>3/28/18</strong></p>
            </div>
            <div class="dotted-bottom-border">{{> icon-chevron }}</div>
        </a>
        <a href="#">
            <div class="dotted-bottom-border">
                <p class="c-accounts-list__address text-small">
                    Rick's House
                </p>
                <p class="c-accounts-list__number text-small">74391284-2385</p>
            </div>
            <div class="dotted-bottom-border">
                <p class="c-accounts-list__amount">$0.00</p>
            </div>
            <div class="dotted-bottom-border">{{> icon-chevron }}</div>
        </a>
    </div>
</section>