﻿<div class="col-sm-5 bill-summary-padding">
    <div class="bill-summary">
        <div class="col-xs-12 text-center padding-top-bottom">
            Hello {{customerfirstname}},<br />
            Your current bill of <span class="green-text">${{balance}}</span><br />
            is due in <span class="green-text">{{due}}</span> days, on <span class="green-text" style="white-space:nowrap">{{date}}</span>.
        </div>
        <div class="col-xs-12 text-center padding-bottom">
            <button type="button" class="btn btn-primary">{{buttontext}}</button>
        </div>
    </div>
</div>
