<section class="container-1800 o-section">
  <div class="o-section__bg" style="background-image:url(https://picsum.photos/1050/480/?blur);"></div>
  <div class="container">
      <div class="row">
        <div class="col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
          <div class="row content-carousel content-carousel--primary-b" data-cols="1">
            <div class="col-xs-12">
              <div class="content-carousel__inner text-center">
                <h2>Need help finding a Contractor?</h2>
                <p class="larger-text">Ameren can help you find contractors who are are already familiar with energy saving products and our rebate programs. <a href="#">Learn More</a></p>
                <a href="#" class="btn btn-primary btn-lg">Find a Contractor</a>
              </div>
            </div>
            <div class="col-xs-12">
              <div class="content-carousel__inner text-center">
                <h2>Not sure what savings you qualify for?</h2>
                <p class="larger-text">Choose an option below to search for incentives by equipment type or according to the type of business you have.</p>
                <a href="#" class="btn btn-primary btn-lg">Equipment Savings</a>
                <a href="#" class="btn btn-primary btn-lg">Business Savings</a>
              </div>
            </div>
          </div>
        </div>
      </div>
  </div>
</section>