<section class="container-1800 o-section">
  <div class="o-section__bg" style="background-image:url(https://picsum.photos/1100/480/?blur);"></div>
  <div class="container">
      <div class="row">
        <div class="col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
          <div class="row content-carousel content-carousel--primary-a" data-cols="2">
            <div class="col-xs-12">
              <div class="content-carousel__inner">
                <h2 class="h3-like">Need Financial Assistance?</h2>
                <p class="large-text">We are here to help. We have several programs to assist those in need of financial support. <a href="#">Learn More</a></p>
              </div>
            </div>
            <div class="col-xs-12">
              <div class="content-carousel__inner">
                <h2 class="h3-like">Understand Your Bill</h2>
                <p class="large-text">We have several programs to assist those in need of financial support. <a href="#">Learn More</a></p>
              </div>
            </div>
            <div class="col-xs-12">
              <div class="content-carousel__inner">
                <h2 class="h3-like">Need Help?</h2>
                <p class="large-text"><a href="#">Learn More</a></p>
              </div>
            </div>
            <div class="col-xs-12">
              <div class="content-carousel__inner">
                <h2 class="h3-like">Understand Your Bill</h2>
                <p class="large-text">We have several programs to assist those in need of financial support. <a href="#">Learn More</a></p>
              </div>
            </div>
            <div class="col-xs-12">
              <div class="content-carousel__inner">
                <h2 class="h3-like">Need Financial Assistance?</h2>
                <p class="large-text">We are here to help. We have several programs to assist those in need of financial support. <a href="#">Learn More</a></p>
              </div>
            </div>
          </div>
        </div>
      </div>
  </div>
</section>