<div class="container">
  <div class="row c-category-grid">

    <h2>{{{title}}}</h2>

    {{#each grid-items}}
    <div class="col-sm-6 col-md-4" data-height="equal">
      {{#compare ../type 'icon'}}
        {{> c-category-grid-item--icon-with-hover this }}
      {{/compare}}

      {{#compare ../type 'media'}}
        {{> c-category-grid-item--media this }}
      {{/compare}}

      {{#compare ../type 'text'}}
        {{> c-category-grid-item--text this }}
      {{/compare}}
    </div>
    {{/each}}
  </div>
</div>