{{#extend 'o-container--1800'}}
    {{#content 'content'}} 

    <h2 class="text-center">{{{title}}}</h2>

    <div class="row media-carousel" data-cols="{{columns}}">

    {{#each carousel-items}}

    <div class="col-xs-12">
        {{> c-media-carousel-item this }}
    </div>

    {{/each}}
    </div>

    {{/content}}
{{/extend}}