<footer class="footer">
    <div class="footer-top text-center">

      <!-- Footer Links Map -->
      <ul class=" footer-items">
        <li class="bol text-center footer-logo hidden-xs">
            <a class="logo-container" href="/" aria-label="Ameren">{{> logo-ameren--white}}</a>
        </li>
        <li class="bol footer-nav-item text-center">
            <a href="/about ">ABOUT AMEREN</a>
        </li>
        <li class="bol footer-nav-item text-center">
            <a href="https://ameren.mediaroom.com/">MEDIA</a>
        </li>
        <li class="bol footer-nav-item text-center">
            <a href="/careers">CAREERS</a>
        </li>
        <li class="bol footer-nav-item text-center">
            <a href="/missouri/contact-us">CONTACT US</a>
        </li>
        <li class="bol text-center footer-logo visible-xs-block" aria-hidden="true">
            <a class="logo-container" href="/" aria-label="Ameren">{{> logo-ameren--white}}</a>
        </li>
      </ul>
    </div>

    <div class="footer-bottom  text-center col-sm-12">
      <!-- Footer Links Map -->
      <div class="bol text-center copyright-text ">
          Copyright © 2018 Ameren Services
      </div>
      <ul class="ul-footer-bottom">
        <li class="bol text-center footer-bottom-nav-item">
            <a href="/missouri/site-map ">Site Map</a>
        </li>
        <li class="bol text-center footer-bottom-nav-item">
            <a href="/privacy ">Privacy</a>
        </li>
        <li class="bol text-center footer-bottom-nav-item">
            <a href="/myameren/login ">Employee Login</a>
        </li>
      </ul>
    </div>

</footer>
