<nav class="header-navbar navbar navbar-default navbar-static-top">
  <div class="container-fluid">

    {{> c-header__navbar-header--aclara }}

    <div id="main-menu" class="navbar-collapse collapse">
      {{> c-header__navbar-header--mobile }}
      {{> c-header__main-navigation--aclara header__main-navigation }}
      {{> c-header__secondary-navigation--logged-out }}
    </div>
    
  </div>
</nav>
