<!-- Hero component -->
<section class="c-hero c-hero--residential o-layout--full-page" style="background-image:url({{background-img}});">

  <div class="innernav">
      <nav class="c-account-navigation">{{> list inner-nav-links}}</nav>
  </div>

  <!-- Background image and copy -->
  <div class="c-hero__content">
    <div class="container-fluid">
      <h1>{{title}}</h1>
      <p class="large-text">{{subtext}}</p>
      <a class="btn btn-primary" href="#">Learn More</a>
    </div>
    <img src="{{foreground-img}}" alt="House">
  </div>

</section>  <!-- end hero component -->
