<nav class="header-navbar navbar navbar-default navbar-static-top">
  <div class="container-fluid">

    {{> c-header__navbar-header }}

    <div id="main-menu" class="navbar-collapse collapse">
      {{> c-header__navbar-header--mobile }}
      {{> c-header__main-navigation header__main-navigation }}
      {{> c-header__secondary-navigation--logged-out }}
      {{> c-header__search }}
    </div>

    {{> c-header__sub-navs header__main-navigation }}
    
  </div>
</nav>
