<!-- Hero component -->
<section class="c-hero-login-promo o-layout--full-page">

  <img src="{{background-img}}" alt="Woman drinking coffee and looking at her mobile phone">

  <!-- Background image and copy -->
  <div class="c-hero-login-promo__content">
    <div class="c-hero-login-promo__copy">
      <h2>{{{title}}}</h2>
      <p>{{{subtext}}}</p>
      <a href="{{cta.href}}" class="btn btn-primary">{{{cta.text}}}</a>
    </div>

    <!-- Login form -->
    <div class="c-hero-login-promo__login-form">
      <form action="#" method="post" data-toggle="validator">
        <fieldset>
          <legend>{{login-form.heading}}</legend>

          {{> c-form__input login-form.user-id}}
          {{> c-form__input login-form.password}}
          {{> c-form__checkbox-group login-form.remember-me}}

          <!-- Footer -->
          <div class="c-form__footer">
            <input type="submit" value="{{login-form.submit.value}}" class="btn btn-primary {{login-form.submit.classes}}">

            <div class="c-login-help">
              <p><a href="#">Forgot UserID</a><a href="#">Forgot Password</a></p>
              <p>Don’t have online access? <a href="registration.html">Register Here</a></p>
            </div>
          </div>
        </fieldset>
      </form>
    </div>
  </div>
</section>  <!-- end hero component -->
