<!-- Hero component -->
<section class="c-hero-login-promo--new o-layout--full-page" style="background-image:url({{background-img}});">
  
  <!-- Hero content -->
  <div class="c-hero-login-promo__content--new" style="background-image:url({{background-img-mobile}});">
    <div>
      <h1>{{title}}</h1>
      <a href="{{cta.href}}" class="btn btn-default">{{{cta.text}}}</a>
      <a href="{{optional-link.href}}" class="btn btn-link">{{{optional-link.text}}}</a>
    </div>
  </div>  <!-- end hero content -->

  <!-- Hero login / account widget -->
  <div class="c-hero-login-promo__widget--new">
    <div class="c-hero-login-promo__widget-inner--new">
      
      <!-- Account Info -->
      <div class="text-center">
        <h2>Welcome back, Rick</h2>
        <p>
          <strong>1234 Street Name Unit 206</strong>
          <em class="text-x-small">Last logged in 12/17/17 10:24a.m. CST</em>
        </p>
      </div>

      <!-- Links -->
      {{#extend 'o-selector'}}
        {{#content 'items'}}
          {{#extend 'o-selector__item'}}
            {{#content 'content'}}
                <div class="media">
                    <div class="media-left">
                        <div class="u-icon color-primary-a">
                            {{> icon-dashboard }}
                        </div>
                    </div>
                    <div class="media-body">
                        <p class="large-text color-grayscale-a c-selector__title">My Dashboard</p>
                    </div>
                </div> 
            {{/content}}
          {{/extend}}

          {{#extend 'o-selector__item'}}
            {{#content 'content'}}
              <div class="media">
                  <div class="media-left">
                      <div class="u-icon color-primary-a">
                          {{> icon-switch }}
                      </div>
                  </div>
                  <div class="media-body"> 
                      <p class="large-text color-grayscale-a c-selector__title">Switch Account</p>
                  </div>
              </div>
            {{/content}}
          {{/extend}}
        {{/content}}
      {{/extend}}

      <div class="text-center">
        <a href="#" class="btn btn-default c-hero-login-promo__log-out">{{> icon-close}} Log Out</a>
      </div>
    </div>
  </div>  <!-- end hero login / account widget -->
  
</section>  <!-- end hero component -->
