<!-- Hero component -->
<section class="c-hero c-hero--rebates o-layout--full-page" style="background-image:url({{background-img}});">

  <div class="c-rebates-container">
    {{> c-rebates rebates-1}}
    {{> c-rebates rebates-2}}
  </div>


</section>  <!-- end hero component -->
