<div class="c-header-intro">
    <h1>Save Energy & Money</h1>
    <p class="large-text">Ameren Missouri offers cash-back rebates for upgrading to energy-efficient equipment and products. Save energy and money while maintaining your comfort.</p>
</div> 