{{#extend 'o-container--1800'}}
  {{#content 'content'}} 

<section class="row c-hero-dual-promo">
  {{#with hero}}
  <div class="col-md-8" data-height="equal">
    {{> c-hero-banner this}}
  </div>
  {{/with}}

  {{#with promo}}
  <div class="col-md-4" data-height="equal">
    {{> c-promo this }}
  </div>
  {{/with}}
</section>

  {{/content}}
{{/extend}}