<!-- Hero component -->
<section class="c-hero-login-promo--new o-layout--full-page" style="background-image:url({{background-img}});">
  
  <!-- Hero content -->
  <div class="c-hero-login-promo__content--new" style="background-image:url({{background-img-mobile}});">
    <div>
      <h1>{{title}}</h1>
      <a href="{{cta.href}}" class="btn btn-default">{{{cta.text}}}</a>
      <a href="{{optional-link.href}}" class="btn btn-link">{{{optional-link.text}}}</a>
    </div>
  </div>  <!-- end hero content -->

  <!-- Hero login / account widget -->
  <div class="c-hero-login-promo__widget--new">
    <div class="c-hero-login-promo__widget-inner--new">
      <form class="hidden-xs" action="#" method="post">
      
        <!-- UserID -->
        <div class="form-group has-feedback">
          <label for="userID">UserID</label>
          <a class="help-block-top" href="#">Forgot UserID</a>
          <input type="input" class="form-control"
                id="userID" name="userID"
                required data-required-error="UserID is required."/>
        </div>

        <!-- Password -->
        <div class="form-group has-feedback">
          <label for="password">Password</label>
          <a class="help-block-top" href="#">Forgot Password</a>
          <input type="input" class="form-control"
                id="password" name="password"
                required data-required-error="Password is required."/>
        </div>

        <!-- Remember Me -->
        <fieldset class="form-group">
          <div class="checkbox">
            <label>
              <input type="checkbox" id="remember_me" name="remember_me">
              Remember Me
            </label>
          </div>
        </fieldset>

        <input type="submit" class="btn btn-primary btn-block btn-lg" value="Log In">
        <a href="#" class="btn btn-link btn-block">Register New Account{{> icon-chevron}}</a>

      </form>

      <div class="visible-xs-block">
        <a href="#" class="btn btn-primary btn-block btn-lg">Log In</a>
        <a href="#" class="btn btn-link btn-block">Register New Account{{> icon-chevron}}</a>
      </div>
    </div>
  </div>  <!-- end hero login / account widget -->
  
</section>  <!-- end hero component -->
