<!-- Programs Slider -->
<div class="c-programs-slider">
  <p>Programs</p>
  <div class="container">
    <div class="row">
      <div class="col-xs-4">
        <p>1</p>
      </div>
      <div class="col-xs-4">
        <p>2</p>
      </div>
      <div class="col-xs-4">
        <p>3</p>
      </div>
    </div>
  </div>
</div>
