<div class="container">
  <div class="row content-carousel" data-cols="3">
    <div class="col-xs-12">
      <div class="content-carousel__inner text-center">
        <div class="ratio-16-9-container" style="background-image: url(http://via.placeholder.com/500x150?text=Media);"></div>
        <h2 class="h3-like">Need Financial Assistance?</h2>
        <p class="large-text">We are here to help. We have several programs to assist those in need of financial support. <a href="#">Learn More</a></p>
      </div>
    </div>
    <div class="col-xs-12">
      <div class="content-carousel__inner text-center">
        <div class="ratio-16-9-container" style="background-image: url(http://via.placeholder.com/500x150?text=Media);"></div>
        <h2 class="h3-like">Understand Your Bill</h2>
        <p class="large-text">We have several programs to assist those in need of financial support. <a href="#">Learn More</a></p>
      </div>
    </div>
    <div class="col-xs-12">
      <div class="content-carousel__inner text-center">
        <div class="ratio-16-9-container" style="background-image: url(http://via.placeholder.com/500x150?text=Media);"></div>
        <h2 class="h3-like">Need Help?</h2>
        <p class="large-text"><a href="#">Learn More</a></p>
      </div>
    </div>
    <div class="col-xs-12">
      <div class="content-carousel__inner text-center">
        <div class="ratio-16-9-container" style="background-image: url(http://via.placeholder.com/500x150?text=Media);"></div>
        <h2 class="h3-like">Understand Your Bill</h2>
        <p class="large-text">We have several programs to assist those in need of financial support. <a href="#">Learn More</a></p>
      </div>
    </div>
    <div class="col-xs-12">
      <div class="content-carousel__inner text-center">
        <div class="ratio-16-9-container" style="background-image: url(http://via.placeholder.com/500x150?text=Media);"></div>
        <h2 class="h3-like">Need Financial Assistance?</h2>
        <p class="large-text">We are here to help. We have several programs to assist those in need of financial support. <a href="#">Learn More</a></p>
      </div>
    </div>
  </div>
</div>