<div class="c-review-details">
    {{#if button}}
    <div class="media">
        <div class="media-body">
            <h2 class="lead color-grayscale-a">{{{title}}}</h2>
        </div>
        <div class="media-right">
            <a href="#" class="btn btn-default btn-sm">{{button}}</a>
        </div>
    </div>
    {{else}}
    <h2 class="lead">{{{title}}}</h2>
    {{/if}}
    {{#if description}}<p class="text-small">{{{description}}}</p>{{/if}}

    <ul class="list-dotted-border">
        {{#each details}}
        <li>
            {{#if label}}<strong class="text-small color-grayscale-a">{{label}}</strong>{{/if}}
            <p>{{{detail}}}</p>
        </li>
        {{/each}}
    </ul>
</div>