<div class="c-review">
    {{#if edit}}
    <div class="media">
        <div class="media-body">
            <h2 class="lead">{{title}}</h2>
        </div>
        <div class="media-right">
            <a href="#" class="btn btn-default btn-sm">Edit</a>
        </div>
    </div>
    {{else}}
    <h2 class="lead">{{title}}</h2>
    {{/if}}

    {{> c-dot-leaders list}}
</div>
