<h3>Status Eligible</h3>
{{#extend 'o-selector'}}
    {{#content 'class'}}c-selector--programs{{/content}}

    {{#content 'items'}}

        <!-- First item -->
        {{#extend 'o-selector__item'}}
            {{#content 'content'}}
                <div class="media">
                    <div class="media-left">
                        <div class="u-icon u-icon--large color-primary-a">
                            {{> icon-autopay }}
                        </div>
                        <div class="c-selector--programs__eligibility">Eligible</div>
                    </div>
                    <div class="media-body">
                        <p class="large-text color-grayscale-a c-selector__title">Automatic Payments</p>
                        <p class="text-x-small">Description for program will go here and ideally will only be 2 lines.</p>
                    </div>
                </div> 
            {{/content}}
        {{/extend}}

        <!-- Second item -->
        {{#extend 'o-selector__item'}}
            {{#content 'content'}}
                <div class="media">
                    <div class="media-left">
                        <div class="u-icon u-icon--large color-primary-a">
                            {{> icon-paperless }}
                        </div>
                        <div class="c-selector--programs__eligibility">Eligible</div>
                    </div>
                    <div class="media-body">
                        <p class="large-text color-grayscale-a c-selector__title">Paperless Billing</p>
                        <p class="text-x-small">Description for program will go here and ideally will only be 2 lines.</p>
                    </div>
                </div> 
            {{/content}}
        {{/extend}}
    {{/content}}
{{/extend}}

<br><br>
<h3>Status Active</h3>
{{#extend 'o-selector'}}
    {{#content 'class'}}c-selector--programs{{/content}}

    {{#content 'items'}}

        <!-- First item -->
        {{#extend 'o-selector__item'}}
            {{#content 'status'}}active{{/content}}
            {{#content 'content'}}
                <div class="media">
                    <div class="media-left">
                        <div class="u-icon u-icon--large color-primary-a">
                            {{> icon-budget-billing }}
                        </div>
                        <div class="c-selector--programs__eligibility active">
                            <div class="u-icon green-check">
                                {{> icon-check }} 
                            </div>
                            Active
                        </div>
                    </div>
                    <div class="media-body">
                        <p class="large-text color-grayscale-a c-selector__title">Budget Billing</p>
                        <p class="text-x-small">Description for program will go here and ideally will only be 2 lines.</p>
                    </div>
                </div> 
            {{/content}}
        {{/extend}}

        <!-- First item -->
        {{#extend 'o-selector__item'}}
            {{#content 'content'}}
                <div class="media">
                    <div class="media-left">
                        <div class="u-icon u-icon--large color-primary-a">
                            {{> icon-peaktime }}
                        </div>
                        <div class="c-selector--programs__eligibility active">
                            <div class="u-icon green-check">
                                {{> icon-check }} 
                            </div>
                            Active
                        </div>
                    </div>
                    <div class="media-body">
                        <p class="large-text color-grayscale-a c-selector__title">Peak Time Rewards</p>
                        <p class="text-x-small">Description for program will go here and ideally will only be 2 lines.</p>
                    </div>
                </div> 
            {{/content}}
        {{/extend}}
    {{/content}}
{{/extend}}