<div class="container-fluid">
    <div class="row">
      <div class="col-xs-12">
        <section class="c-slider c-slider--three-col">
          {{#each this}}
            <div class="c-slider__item">
              <img src="{{image.src}}" alt="{{image.alt}}" />
              <div class="container-fluid">
                <h2><a href="{{url}}">{{{title}}}</a></h2>
                {{{copy}}}
              </div>
            </div>
          {{/each}}
        </section>
      </div>
    </div>
</div>
