<header class="c-task-header">

    <!-- Logo -->
    {{> c-task-logo }}

    <!-- Back Link -->
    <a href="#" class="c-task-header__back">
      {{> icon-arrow }}
    </a>

    <!-- Close Link -->
    <a href="#" class="c-task-header__close">
      {{> icon-plus }}
    </a>

</header>
