<!-- Usage -->
<div class="c-usage col-sm-7">
    <div class="row">
        <div class="col-xs-12">
            <section class="c-slider c-slider--one-col">
                {{#each this.list}}
                <div class="c-slider__item {{style}}">
                    <div class="message">
                        {{name}}{{{text}}}
                    </div>
                    {{#if avgUsagePerDay}}
                    <div class="info col-xs-6 text-right"><span class="amount">{{{usagePerDay}}}</span><span class="tiny">Usage Per Day</span></div>
                    <div class="info col-xs-6"><span class="amount">{{{avgUsagePerDay}}}</span><span class="tiny">Above Average</span></div>
                    {{/if}}
                    <div class="fixed"><a class="btn btn-default" href="{{btnUrl}}">{{btnText}}</a></div>
                </div>
                {{/each}}
            </section>
        </div>
    </div>
</div>
<section class="c-slider bkg c-slider--one-col">
    {{#each this.list}}
    <div class="c-slider__item texture {{style}}">
        <div>&nbsp;</div>
    </div>
    {{/each}}
</section>