<!-- Zone Map Component Start -->
<div class="row">

  <!-- Zone Table Image -->
  <div class="col-sm-6">
    <img src="http://dev.perficientdigital.com/ameren-mobile-first/assets/images/content/img_zone-map-legend.png" alt="Zone Map Legend">
  </div>

  <!-- Zone Map Image -->
  <div class="col-sm-6">
    <img src="http://dev.perficientdigital.com/ameren-mobile-first/assets/images/content/img_zone-map.jpg" alt="Zone Map">
  </div>
</div>  <!-- Zone Map Component End -->
