//** Content Image Header
//
//## Used on Outages. Displays a blue background, or an
//   inline-style background-image
.c-content-image-header {
    background-color: $primary-swatch-b;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    text-align: center;
    
    h1 {
        color: $white;
        font-size: 2.4rem;
    }

    form {
        margin: 0.5rem;
    }

    .container-fluid:first-child:only-child {
        h1 {
            margin-top: 2.5rem;
            margin-bottom: 2.2rem;
            font-size: $h1-font-size;
        }
    }
}

//** Small Desktop
//
//## 768 and up styles
@media (min-width: $screen-sm-min) {
    .c-content-image-header {
        margin-bottom: 5rem;

        h1 { font-size: 3rem; }

        form {
            margin: 1.5rem 0;
        }
    }
}