//== Accordion
//
//** This stylesheet contains styles for the Accordion object
//   as well as the Accordion Item object.

$border-gray: #bfbfbf;

.accordion.panel-group {
  margin: 0 0 $base-spacing;
  border-bottom: 1px solid $border-gray;

  .panel {
    border: 0;
    border-top: 1px solid $border-gray;
    border-radius: 0;
    box-shadow: none;

    + .panel {
      margin: 0;
    }
  }

  .panel-heading {
    border: 0;
    background: none;
    padding: 0;
  }

  .panel-title {
    position: relative;
    margin: 0;
    font-size: 2rem;
    font-weight: 300;

    > a {
      display: block;
      margin: 2px 0;
      padding: 1.5rem 1rem 1rem;
      text-decoration: none;
      color: $primary-swatch-a;

      &:hover {
        background-color: rgba($primary-swatch-a, 0.1);
      }

      &::before {
        position: absolute;
        top: 50%;
        right: 1.6rem;
        transform: translateY(-50%);
        transition: transform 300ms ease-in-out;
        background-color: $primary-swatch-a;
        width: 0.2rem;
        height: 1.4rem;
        content: '';
      }

      &::after {
        position: absolute;
        top: 50%;
        right: 1rem;
        transform: translateY(-50%);
        transition: transform 300ms ease-in-out;
        background-color: $primary-swatch-a;
        width: 1.4rem;
        height: 0.2rem;
        content: '';
      }

      &:not(.collapsed) {
        font-weight: 700;

        &::before {
          transform: translateY(-50%) rotate(90deg);
        }
      }
    }
  }

  .panel-body {
    margin-bottom: 2rem;
    border: 0 !important;
  }

  > .o-toggler__content {
    border-top: 1px solid $grayscale-swatch-c;
    border-right: 1px solid $grayscale-swatch-c;
    border-bottom: 1px solid $primary-swatch-b;
    border-left: 1px solid $grayscale-swatch-c;
    background-color: $grayscale-swatch-d;
    padding: 1.6rem 2rem;
    width: 100%;

    &:last-child {
      border-bottom: 2px solid $primary-swatch-b;
    }
  }

  &.o-disabled {
    > .o-toggler__title {
      a {
        pointer-events: none;

        &::after {
          position: static;
          content: '';
        }
      }
    }
  }
}
//hello

