// mixin to create a dotted border with a 1px dot and 3px spacing between each
@mixin dotted-border($position: bottom) {
  background-image: linear-gradient(to right, $grayscale-swatch-b 33%, rgba(255, 255, 255, 0) 0%);
  background-repeat: repeat-x;
  background-position: $position;
  background-size: 4px 1px;
}

.c-cta-grid {
  margin-bottom: $base-spacing;

  .col-sm-6 {
    &:first-child {
      .c-cta-grid__item::before {
        @include dotted-border(top);
        position: absolute;
        top: 0;
        width: 100%;
        height: 1px;
        content: '';
      }
    }
  }
}

.c-cta-grid__item {
  @include dotted-border;
  display: block;
  position: relative;
  padding: 1.6rem 0;
  height: 100%;

  .c-cta-grid__item-text {
    padding: 0 0 0 2rem;
  }

  svg {
    position: absolute;
    top: calc(50% - 12px);
    right: 0;
    padding: 0 0 0 2rem;
    font-size: 36px;
    stroke: $grayscale-swatch-b;
    box-sizing: content-box;

    &:last-child {
      padding-right: 2rem;
      font-size: 24px;
      stroke: $primary-swatch-a;
    }
  }

  h4 {
    margin: 0;
    color: $primary-swatch-a;
    font-weight: 300;
  }

  p {
    margin: 0;
    color: $grayscale-swatch-b;
    font-size: 1.6rem;
    font-weight: 500;
  }

  i {
    color: $primary-swatch-a;
    font-size: 2rem;
  }

  &:hover,
  &:focus {
    background-color: rgba($primary-swatch-a, 0.1);
    text-decoration: none;
  }
}

@media screen and (min-width: $screen-sm-min) {
  .c-cta-grid {
    .col-sm-6:nth-child(2) {
      .c-cta-grid__item::before {
        @include dotted-border(top);
        position: absolute;
        top: 0;
        width: 100%;
        height: 1px;
        content: '';
      }
    }
  }

  .c-cta-grid__item {
    h4 {
      margin-top: 0.5rem;
    }
  }
}
