---
title: Accordion
category: Features
breadcrumbs:
  type: inline
  list:
  - name: Features
    link: index.html
  - name: Accordion
---

<h1>Accordion</h1>

<!-- Example: Accordion -->
{{#extend 'code-example'}}
  {{#content 'section-id'}}accordion{{/content}}

  {{#content 'section-title'}}Accordion{{/content}}

  {{#content 'HTML'}}

{{#extend 'accordion'}}
{{#content 'id'}}accordion{{/content}}
{{#content 'items'}}
  {{#extend 'accordion__item'}}
    {{#content 'id'}}accordion-example-item-1{{/content}}
    {{#content 'parent_id'}}accordion{{/content}}
    {{#content 'title'}}Riders{{/content}}
    {{#content 'body'}}
<ul class="list-unstyled list-striped">
  <li>
    <a href="#">Table of Contents</a>
    <span>(PDF)</span>
  </li>
  <li>
    <a href="#">Rider FAC - Fuel and Purchased Power Adjustment</a>
  </li>
  <li>
    <a href="#">Rider B - Customer Owned Substation Discounts</a>
  </li>
  <li>
    <a href="#">Rider C - Meter Reading Adjustments</a>
  </li>
</ul>
    {{/content}}
  {{/extend}}
  {{#extend 'accordion__item'}}
    {{#content 'id'}}accordion-example-item-2{{/content}}
    {{#content 'parent_id'}}accordion{{/content}}
    {{#content 'title'}}General Rules and Regulations{{/content}}
    {{#content 'body'}}Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.{{/content}}
  {{/extend}}
  {{#extend 'accordion__item'}}
    {{#content 'id'}}accordion-example-item-3{{/content}}
    {{#content 'parent_id'}}accordion{{/content}}
    {{#content 'title'}}Pilots, Variances and Promotional Practices{{/content}}
    {{#content 'body'}}Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.{{/content}}
  {{/extend}}
  {{#extend 'accordion__item'}}
    {{#content 'id'}}accordion-example-item-4{{/content}}
    {{#content 'parent_id'}}accordion{{/content}}
    {{#content 'title'}}Electric Power Purchases{{/content}}
    {{#content 'body'}}Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.{{/content}}
  {{/extend}}
  {{#extend 'accordion__item'}}
    {{#content 'id'}}accordion-example-item-5{{/content}}
    {{#content 'parent_id'}}accordion{{/content}}
    {{#content 'title'}}Energy Efficiency and Demand Side Management Programs{{/content}}
    {{#content 'body'}}Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.{{/content}}
  {{/extend}}
{{/content}}
{{/extend}}

  {{/content}}
{{/extend}}
