---
title: Alerts
category: Features
breadcrumbs:
  type: inline
  list:
  - name: Common
    link: index.html
  - name: Features
---

<section>
  <h1>Standard Alert</h1>

  <!-- Example: Success -->
  {{#extend 'code-example'}}
    {{#content 'section-id'}}alert-success{{/content}}

    {{#content 'section-title'}}Success{{/content}}

    {{#content 'HTML'}}
    <div class="row">
      <div class="col-sm-6">
        
        <!-- start component -->
        <div class="alert alert-success" role="alert">
          <div class="media">
            <div class="media-left">
              {{> icon-alert--success }}
            </div>
            <div class="media-body">
              <p><strong>Success!</strong> Your stop service request was successfully updated.</p>
            </div>
          </div>
        </div>  <!-- end component -->
        
      </div>
    </div>
    {{/content}}
  {{/extend}}

  <!-- Example: Success -->
  {{#extend 'code-example'}}
    {{#content 'section-id'}}alert-bote{{/content}}

    {{#content 'section-title'}}Note{{/content}}

    {{#content 'HTML'}}
    <div class="row">
      <div class="col-sm-6">
        
        <!-- start component -->
        <div class="alert alert-warning" role="alert">
          <div class="media">
            <div class="media-left">
              {{> icon-alert--default  }}
            </div>
            <div class="media-body">
              <p><strong>Note!</strong> Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quis, ipsa.</p>
            </div>
          </div>
        </div>  <!-- end component -->
        
      </div>
    </div>
    {{/content}}
  {{/extend}}

  <!-- Example: Error -->
  {{#extend 'code-example'}}
    {{#content 'section-id'}}alert-warning{{/content}}

    {{#content 'section-title'}}Warning{{/content}}

    {{#content 'HTML'}}
    <div class="row">
      <div class="col-sm-6">
        
        <!-- start component -->
        <div class="alert alert-danger" role="alert">
          <div class="media">
            <div class="media-left">
              {{> icon-alert--default }}
            </div>
            <div class="media-body">
              <p><strong>Caution!</strong> Don’t approach downed lines. If you smell a gas odor leave the building immediatly.</p>
            </div>
          </div>
        </div>  <!-- end component -->

      </div>
    </div>
    {{/content}}
  {{/extend}}

  <!-- Example: Tip -->
  {{#extend 'code-example'}}
    {{#content 'section-id'}}alert-tip{{/content}}

    {{#content 'section-title'}}Tip{{/content}}

    {{#content 'HTML'}}
    <div class="row">
      <div class="col-sm-6">
        
        <!-- start component -->
        <div class="alert alert-info" role="alert">
          <div class="media">
            <div class="media-left">
              {{> icon-alert--info }}
            </div>
            <div class="media-body">
              <p><strong>Please be aware</strong> that if the cause of the outage is due to customer equipment, a service charge may be applied to the account.</p>
            </div>
          </div>
        </div>  <!-- end component -->
        
      </div>
    </div>
    {{/content}}
  {{/extend}}
</section>

<section>
  <h1>Custom Alerts</h1>


<!-- Example: Error -->
{{#extend 'code-example'}}
  {{#content 'section-id'}}alert-access-locked{{/content}}

  {{#content 'section-title'}}Access Locked{{/content}}

  {{#content 'HTML'}}
  <div class="row">
    <div class="col-sm-6">
      
      <!-- start component -->
      <div class="alert alert-danger access-blocked" role="alert">
        <div class="media">
          <div class="media-left">
            {{> icon-account--disabled }}
          </div>
          <div class="media-body">
            Due to lack of activity your access has been disabled.
          </div>
        </div>
      </div>  <!-- end component -->

    </div>
  </div>
  {{/content}}
{{/extend}}


<!-- Example: Error -->
{{#extend 'code-example'}}
  {{#content 'section-id'}}alert-access-disabled{{/content}}

  {{#content 'section-title'}}Access-Disabled{{/content}}

  {{#content 'HTML'}}
  <div class="row">
    <div class="col-sm-6">
      
      <!-- start component -->
      <div class="alert alert-danger access-blocked" role="alert">
        <div class="media">
          <div class="media-left">
            {{> icon-locked}}
          </div>
          <div class="media-body">
            Special notification if access is disabled or locked
          </div>
        </div>
      </div>  <!-- end component -->

    </div>
  </div>
  {{/content}}
{{/extend}}

<!-- Example: Call to Report -->
{{#extend 'code-example'}}
  {{#content 'section-id'}}alert-call-to-report{{/content}}

  {{#content 'section-title'}}Call to Report{{/content}}

  {{#content 'HTML'}}
  <div class="row">
      <div class="col-sm-6">
        
        <!-- start component -->
        <div class="alert alert-danger alert--call-to-action" role="alert">
          <div class="text-center">
            <p class="color-grayscale-a">
              <strong>Downed Power Lines or Gas Odor?</strong><br>
              <span class="text-small color-danger">Please call immediately!</span>
            </p>
            <p>
              <a href="tel:555-555-5555" class="btn btn-alt-b btn-lg">
                {{> icon-contact-phone}}
                Call Now to Report
              </a>
            </p>
            <p class="color-danger text-small">Call Ameren at <a class="color-grayscale-a" href="#"><strong>111.111.1111.</strong></a></p>
          </div>
        </div>  <!-- end component -->
        
      </div>
    </div>
  {{/content}}
{{/extend}}


<!-- Example: Actionable -->
{{#extend 'code-example'}}
  {{#content 'section-id'}}alert-actionable{{/content}}

  {{#content 'section-title'}}Actionable{{/content}}

  {{#content 'HTML'}}
    <div class="row">
      <div class="col-sm-6">
        
        <!-- start component -->
        <div class="alert alert-info" role="alert">
          <div class="media">
            <div class="media-left">
              {{> icon-alert--info }}
            </div>
            <div class="media-body">
              <div class="media">
                <div class="media-body">
                  <p>Your scheduled payment of $225.75 will be processed on December 25, 2017.</p>
                </div>
                <div class="media-right">
                  <a href="#" class="btn btn-default btn-sm">Edit</a>
                </div>
              </div>
            </div>
          </div>
        </div>  <!-- end component -->
        
      </div>
    </div>
  {{/content}}
{{/extend}}
</section>