---
title: Billing & Payments
category: Features
breadcrumbs:
  type: inline
  list:
  - name: Features
    link: index.html
  - name: Billing &amp; Payments
---

<h1>Billing &amp; Payments</h1>

<!-- Example: Payments -->
{{#extend 'code-example'}}
{{#content 'section-id'}}overview{{/content}}
{{#content 'section-title'}}Overview{{/content}}
{{#content 'HTML'}}

<div class="container-fluid container-400">
    <div class="row">
        <div class="col-xs-12">

            <!-- Component starts here -->

            <div class="c-billing-and-payments-overview col-md-6">
                <strong class="text-x-small">Mar 08 - Apr 03</strong>
                <p class="currency-amount"><sup>$</sup>253<sup>.99</sup></p>
                <p class="no-bottom-margin">Due on Aug 25th</p>
            </div>
            <div class="col-sm-12 col-md-6">
                <div class="c-inline-content-container text-center ">
                    <ul class="list-inline c-inline-group-actions">
                        <li>
                            <strong class="color-grayscale-a text-small">Auto Pay</strong>&nbsp;&nbsp;<span class="text-small">Off</span>
                        </li>
                        <li>
                            <a href="#" class="text-small text-regular">
                                Set Up{{> icon-chevron}}
                            </a>
                        </li>
                    </ul>
                </div>

                <div class="c-inline-content-container text-center">
                    <a href="#" class="btn btn-primary btn-lg btn-block">Pay Now</a>
                </div>

                <div class="c-inline-content-container text-center">
                    <ul class="list-inline c-inline-group-actions">
                        <li>
                            <a href="#" class="text-small text-regular">
                                <img src="https://dev.perficientdigital.com/ameren-mobile-first/assets/images/icon-pdf.png">
                                View Bill
                            </a>
                        </li>
                        <li>
                            <a href="#" class="text-small text-regular">
                                Billing History
                                {{> icon-chevron}}
                            </a>
                        </li>
                    </ul>
                </div>
            </div>

            <!-- end component -->
        </div>
    </div>
</div>

{{/content}}
{{/extend}}


<!-- Example: Payments -->
{{#extend 'code-example'}}
{{#content 'section-id'}}details-display{{/content}}
{{#content 'section-title'}}Details Display{{/content}}
{{#content 'HTML'}}

<div class="container-fluid container-400">
    <div class="row">
        <div class="col-xs-12">

            <!-- Component starts here -->
            <ul class="list-dotted-border c-selector ">

                <li>
                    <div class="media">
                        <div class="media-body"><p class="text-small text-regular"><em>Pending payment</em></p></div>
                        <div class="media-right"><p class="text-regular"><em>-$253.99</em></p></div>
                    </div>
                </li>
                <li>
                    <div class="media">
                        <div class="media-body"><p class="text-small text-regular color-grayscale-a">Last Payment on Nov 3, 2018</p></div>
                        <div class="media-right"><p class="text-regular color-grayscale-a">-$123.41</p></div>
                    </div>
                </li>
                <li>
                    <a href="#" class="media">
                        <div class="media-body"><p class="c-selector__title text-small text-bold">Payment Assistance</p></div>
                        <div class="media-right"><div class="u-icon">{{> icon-chevron}}</div></div>
                    </a>
                </li>
                <li>
                    <a href="#" class="media">
                        <div class="media-body"><p class="c-selector__title text-small text-bold">Understanding My Bill</p></div>
                        <div class="media-right"><div class="u-icon">{{> icon-chevron}}</div></div>
                    </a>
                </li>
                <li>
                    <a href="#" class="media">
                        <div class="media-body"><p class="c-selector__title text-small text-bold">Electric Supplier Choice</p></div>
                        <div class="media-right"><div class="u-icon">{{> icon-chevron}}</div></div>
                    </a>
                </li>
                <li>
                    <a href="#" class="media">
                        <div class="media-body"><p class="c-selector__title text-small text-bold">Natural Gas Supplier Choice</p></div>
                        <div class="media-right"><div class="u-icon">{{> icon-chevron}}</div></div>
                    </a>
                </li>

            </ul>
            <!-- end component -->
        </div>
    </div>
</div>

{{/content}}
{{/extend}}