---
title: Button Bar
category: Features
breadcrumbs:
  type: inline
  list:
  - name: Features
    link: Features/index.html
  - name: Button Bar
---

<h1>Button Bar</h1>

<p>All &lt;button&gt; tags can be replaced with &lt;a&gt; tags.</p>

<!-- Example: Group -->
{{#extend 'code-example'}}
  {{#content 'section-id'}}button-bar{{/content}}

  {{#content 'section-title'}}Button Bar{{/content}}

  {{#content 'HTML'}}
<div class="btn-group" role="group" aria-label="...">
  <button type="button" class="btn btn-primary">Zone 1</button>
  <button type="button" class="btn btn-default">Zone 2</button>
  <button type="button" class="btn btn-default">Zone 3</button>
</div>
  {{/content}}

{{/extend}}
