---
title: Confirmation
category: Features
breadcrumbs:
  type: inline
  list:
  - name: Features
    link: index.html
  - name: Confirmation
---

<h1>Confirmation Types</h1>

<!-- Example: Payments -->
{{#extend 'code-example'}}
  {{#content 'section-id'}}confirmation-success-a{{/content}}

  {{#content 'section-title'}}Success - A{{/content}}

  {{#content 'HTML'}}

  <div class="container-fluid container-400">
  <div class="row">     
    <div class="col-xs-12">
      
        <!-- Component starts here -->
        <div class="text-center">
            <h1 class="text-primary">Success!</h1>
            {{> c-quarter-divider}}
            <p class="lead">[Program Title] has been activated for this account</p>
        </div>
        <!-- end component -->
    
    </div>
  </div>
</div>

  {{/content}}
{{/extend}}