---
title: Content Image Header
category: Features
breadcrumbs:
  type: inline
  list:
  - name: Features
    link: Features/index.html
  - name: Content Image Header
---

<h1>Content Image Header</h1>

<!-- Example: Image Background -->
{{#extend 'code-example'}}
  {{#content 'section-id'}}image-background{{/content}}

  {{#content 'section-title'}}With Image Background{{/content}}

  {{#content 'HTML'}}
<p>This version of the Content Image Header is used on the Outage Center page.</p>
{{> c-content-image-header content-image-header.outage-center }}
  {{/content}}
{{/extend}}

<!-- Example: Search -->
{{#extend 'code-example'}}
  {{#content 'section-id'}}search-form{{/content}}

  {{#content 'section-title'}}With Search Form{{/content}}

  {{#content 'HTML'}}
<p>This version of the Content Image Header is used on the Account Selector page.</p>
{{> c-content-image-header content-image-header.account-selector }}
  {{/content}}
{{/extend}}