title: Dashboard Header Bar
category: Features
breadcrumbs:
  type: inline
  list:
  - name: Features
    link: index.html
  - name: Dashboard Header Bar
---


<h1>Dashboard Header Bar</h1>

{{#extend 'code-example'}}
{{#content 'section-id'}}Dashboard Header Bar{{/content}}

{{#content 'section-title'}}Dashboard Header Bar{{/content}}

{{#content 'HTML'}}

<div class="o-layout--full-page">
    <!-- Component starts here -->
    <div class="c-dashboard-header-bar ">
        <div class="text-center">
            <h2>[Page Name]</h2>
        </div>
    </div>

    <!-- end component -->

</div>


{{/content}}
{{/extend}}

