---
title: Footer
category: Features
breadcrumbs:
  type: inline
  list:
  - name: Features
    link: index.html
  - name: Footer
---

<h1>Footer</h1>

<!-- Example: Global Header -->
{{#extend 'code-example'}}
  {{#content 'section-id'}}footer{{/content}}

  {{#content 'section-title'}}Footer{{/content}}

  {{#content 'HTML'}}
{{> c-footer}}
  {{/content}}
{{/extend}}
