---
title: Header
category: Features
breadcrumbs:
  type: inline
  list:
  - name: Features
    link: index.html
  - name: Header
---

<h1>Header</h1>

<!-- Example: Global Header -->
{{#extend 'code-example'}}
  {{#content 'section-id'}}global-header{{/content}}

  {{#content 'section-title'}}Global Header{{/content}}

  {{#content 'HTML'}}
<!-- just for purposes of layout in the styleguide -->
<div class="o-layout--full-page">

<!-- component -->
{{> c-header}}
</div>
  {{/content}}
{{/extend}}


<!-- Example: Global Header Logged In -->
{{#extend 'code-example'}}
  {{#content 'section-id'}}global-header-logged-in{{/content}}

  {{#content 'section-title'}}Global Header Logged In{{/content}}

  {{#content 'HTML'}}
<!-- just for purposes of layout in the styleguide -->
<div class="o-layout--full-page">

<!-- component -->
{{> c-header--logged-in}}
</div>
  {{/content}}
{{/extend}}