---
title: Hero Login Promo
category: Features
breadcrumbs:
  type: inline
  list:
  - name: Features
    link: index.html
  - name: Hero Login Promo
js:
  - src: ../../assets/scripts/c-hero.js
  - src: ../../assets/scripts/c-slider.js
---

<h1>Hero Login Promo</h1>

<!-- Example: Home -->
{{#extend 'code-example'}}
  {{#content 'section-id'}}hero-login-promo{{/content}}

  {{#content 'section-title'}}Hero Login Promo{{/content}}

  {{#content 'HTML'}}
{{> c-hero-login-promo home__hero}}
</div>
  {{/content}}
{{/extend}}


<!-- Example: Home -->
{{#extend 'code-example'}}
  {{#content 'section-id'}}hero-login-promo-new{{/content}}

  {{#content 'section-title'}}Hero Login Promo (New){{/content}}

  {{#content 'HTML'}}
{{> c-hero-login-promo--new home__hero--new}}
</div>
  {{/content}}
{{/extend}}


<!-- Example: Home -->
{{#extend 'code-example'}}
  {{#content 'section-id'}}hero-login-promo-logged-in-new{{/content}}

  {{#content 'section-title'}}Hero Login Promo - Logged In (New){{/content}}

  {{#content 'HTML'}}
{{> c-hero-login-promo--new-logged-in home__hero--new}}
</div>
  {{/content}}
{{/extend}}


<!-- Example: Home -->
{{#extend 'code-example'}}
  {{#content 'section-id'}}hero-login-promo-logged-in-multiple-accounts-new{{/content}}

  {{#content 'section-title'}}Hero Login Promo - Logged In with Multiple Accounts (New){{/content}}

  {{#content 'HTML'}}
{{> c-hero-login-promo--new-logged-in-multi-accounts home__hero--new}}
</div>
  {{/content}}
{{/extend}}