---
title: Lead Article List
category: Features
breadcrumbs:
  type: inline
  list:
  - name: Features
    link: Features/index.html
  - name: Lead Article List
---

<h1>Lead Article List</h1>



<!-- Example: Lead Article List -->
{{#extend 'code-example'}}
  {{#content 'section-id'}}lead-article-list{{/content}}

  {{#content 'section-title'}}Lead Article List{{/content}}

  {{#content 'HTML'}}
    {{> c-lead-article-list }}
  {{/content}}
{{/extend}}
