---
title: Manage Account Bar
category: Features
breadcrumbs:
  type: inline
  list:
  - name: Features
    link: index.html
  - name: ManageAccount Bar
---


<h1>Manage Account Bar</h1>

{{#extend 'code-example'}}
{{#content 'section-id'}}Manage Account Bar{{/content}}

{{#content 'section-title'}}Manage Account Bar{{/content}}

{{#content 'HTML'}}

<div class="o-layout--full-page c-manage-account-bar">
    <div class="text-center">
        <ul class="list-inline c-inline-group-actions">
            <li>
                <a href="#">1234 Street Name Unit 206</a>
            </li>
            <li>
                <a href="#" class="text-regular">Manage{{> icon-chevron}}</a>
            </li>
        </ul>
    </div>
</div>


{{/content}}
{{/extend}}


<h1>Back Navigation Bar</h1>

<!-- Example: Back to -->
{{#extend 'code-example'}}
{{#content 'section-id'}}Back to{{/content}}

{{#content 'section-title'}}Back to{{/content}}

{{#content 'HTML'}}


<div class="o-layout--full-page">
    <!-- Component starts here -->
    <div class="c-back-navigation">
        <a href="#">
            <div class="u-icon u-icon--left">
                <svg viewBox="0 0 30 30">
                    <title>Chevron</title>
                    <polyline points="10.5 4.5 17.66 11.99 10.5 19.5"></polyline>
                </svg>
            </div>
            Back to [Page Name]
        </a>
    </div>
    <!-- end component -->

</div>


{{/content}}
{{/extend}}