---
title: Manage Programs
category: Features
breadcrumbs:
  type: inline
  list:
  - name: Features
    link: Features/index.html
  - name: Manage Programs
---

<h1>Manage Programs</h1>

<!-- Example: Intro Status -->
{{#extend 'code-example'}}
  {{#content 'section-id'}}selector--programs{{/content}}

  {{#content 'section-title'}}Program Selector{{/content}}

  {{#content 'HTML'}}
<div class="container-fluid container-400">
  <div class="row">     
    <div class="col-xs-12">
      
      <!-- Component starts here -->
      {{> c-selector--manage-programs }}
      <!-- end component -->
    
    </div>
  </div>
</div>
  {{/content}}
{{/extend}}  

<!-- Example: Intro Status -->
{{#extend 'code-example'}}
  {{#content 'section-id'}}selector--programs{{/content}}

  {{#content 'section-title'}}Program Content{{/content}}

  {{#content 'HTML'}}
<div class="container-fluid container-400">
  <div class="row">     
    <div class="col-xs-12">
      
      <h3>Introduction</h3>
      
      <!-- Component starts here -->
      <div class="text-center">
        <div class="u-icon u-icon--large color-primary-a">
          {{> icon-paperless }}
        </div>
        <p class="text-x-small text-bold">Paperless Billing</p>
        <hr class="c-divider--quarter">
        <p class="lead">Convenience for you, and you're helping the environment.</p>
      </div>
      <!-- end component -->

      <br><br>
      <h3>Benefits</h3>

      <!-- Component starts here -->
      <div class="text-center">
        <p class="text-small text-light">Descriptive Heading</p>
        <ul class="list-unstyled list-check">
          <li><span>Get your bills via email</span></li>
          <li><span>Save trees and stuff</span></li>
          <li><span>Make birds happy</span></li>
        </ul>
      </div>
      <!-- end component -->
      
    
    </div>
  </div>
</div>
  {{/content}}
{{/extend}}  