---
title: Outages
category: Features
breadcrumbs:
  type: inline
  list:
  - name: Features
    link: Features/index.html
  - name: Outages
---

<h1>Outages</h1>

<!-- Example: Intro Status -->
{{#extend 'code-example'}}
  {{#content 'section-id'}}intro-status{{/content}}

  {{#content 'section-title'}}Intro Status - Default{{/content}}

  {{#content 'HTML'}}
<div class="container-fluid container-400">
  <div class="row">
    <div class="col-xs-12">
      
      <!-- Component starts here -->
      {{> c-intro-status intro-status.default }}
      <!-- end component -->
    
    </div>
  </div>
</div>
  {{/content}}
{{/extend}}

<!-- Example: Intro Status -->
{{#extend 'code-example'}}
  {{#content 'section-id'}}intro-status{{/content}}

  {{#content 'section-title'}}Intro Status - With Update{{/content}}

  {{#content 'HTML'}}
<div class="container-fluid container-400">
  <div class="row">
    <div class="col-xs-12">
      
      <!-- Component starts here -->
      {{> c-intro-status intro-status.with-update }}
      <!-- end component -->
    
    </div>
  </div>
</div>
  {{/content}}
{{/extend}}

<!-- Example: Intro Status -->
{{#extend 'code-example'}}
  {{#content 'section-id'}}intro-status{{/content}}

  {{#content 'section-title'}}Intro Status - With Address{{/content}}

  {{#content 'HTML'}}
<div class="container-fluid container-400">
  <div class="row">
    <div class="col-xs-12">
      
      <!-- Component starts here -->
      {{> c-intro-status intro-status.with-address }}
      <!-- end component -->
    
    </div>
  </div>
</div>
  {{/content}}
{{/extend}}