---
title: Profile and Alerts
category: Features
breadcrumbs:
  type: inline
  list:
  - name: Features
    link: Features/index.html
  - name: Profile & Alerts
---

<h1>Profile &amp; Alerts</h1>

<!-- Example: Manage Settings -->
{{#extend 'code-example'}}
  {{#content 'section-id'}}manage-settings{{/content}}

  {{#content 'section-title'}}Manage Settings{{/content}}

  {{#content 'HTML'}}
<div class="container-fluid container-400">
  <div class="row">     
    <div class="col-xs-12">
      
      <!-- Component starts here -->
      <div class="c-outage-alert-settings text-center">
          <h2 class="lead color-grayscale-a" style="margin-bottom:0;">Text Alerts</h2>
          <p><em class="text-small text-condensed">Standard SMS rates may apply</em></p>
          <div class="c-inline-content-container">
              <a href="#" class="btn btn-default btn-sm">Add Phone Number</a>
          </div>
          
          {{#extend 'o-selector'}}
            {{#content 'class'}}text-left{{/content}}

            {{#content 'items'}}

                <!-- First item -->
                {{#extend 'o-selector__item'}}
                    {{#content 'content'}}
                        <p><span class="text-bold text-small">123-456-7890</span> <em class="text-x-small text-light color-primary-a">- primary</em></p>
                    {{/content}}
                {{/extend}}

                <!-- Second item -->
                {{#extend 'o-selector__item'}}
                    {{#content 'content'}}
                        <p><span class="text-bold text-small">123-456-7890</span> <em class="text-x-small text-light color-primary-a">- primary</em></p>
                    {{/content}}
                {{/extend}}
            {{/content}}
        {{/extend}}

          
      </div>
      <!-- end component -->
    
    </div>
  </div>
</div>
  {{/content}}
{{/extend}}  


<!-- Example: Toggle Settings -->
{{#extend 'code-example'}}
  {{#content 'section-id'}}toggle-settings{{/content}}

  {{#content 'section-title'}}Toggle Settings{{/content}}

  {{#content 'HTML'}}
<div class="container-fluid container-400">
  <div class="row">     
    <div class="col-xs-12">
      
      <!-- Component starts here -->
      <h2 class="lead text-center">Section Name</h2>

      <ul class="list-dotted-border">
        <li>
          <!-- Checkbox toggle component -->
          <div class="checkbox-toggle">
            <input type="checkbox" id="unique-id-test-1" name="unique-name-test-1" checked>
            <div class="media">
              <div class="media-body">
                <strong class="text-small">Bill Reminders</strong>
                <p class="text-x-small">Receive reminders about when your bill is going to be due. <a href="#">Learn more.</a></p>
              </div>
              <div class="media-right">
                <label for="unique-id-test-1" class="checkbox-toggle__switch" data-off="Off" data-on="On">
                  <span class="sr-only">Bill Reminders</span>
                </label>
              </div>
            </div>
          </div>  <!-- end checkbox toggle -->
        </li>
        <li>
          <!-- Checkbox toggle component -->
          <div class="checkbox-toggle">
            <input type="checkbox" id="unique-id-test-2" name="unique-name-test-2" checked>
            <div class="media">
              <div class="media-body">
                <strong class="text-small">Budget Billing</strong>
                <p class="text-x-small">You will receive notifications related to your budget bill each month. <a href="#">Learn more.</a></p>
                <a href="#" class="btn btn-default btn-sm">Manage This Program</a>
              </div>
              <div class="media-right">
                <label for="unique-id-test-2" class="checkbox-toggle__switch" data-off="Off" data-on="On">
                  <span class="sr-only">Budget Billing</span>
                </label>
              </div>
            </div>
          </div>  <!-- end checkbox toggle -->
        </li>
        <li>
          <!-- Checkbox toggle component -->
          <div class="checkbox-toggle">
            <input type="checkbox" id="unique-id-test-3" name="unique-name-test-3">
            <div class="media">
              <div class="media-body">
                <strong class="text-small">Usage Threshold</strong>
                <p class="text-x-small">Receive a notification when your usage exceeds your threshold for the current billing cycle. <a href="#">Learn more.</a></p>
              </div>
              <div class="media-right">
                <label for="unique-id-test-3" class="checkbox-toggle__switch" data-off="Off" data-on="On">
                  <span class="sr-only">Usage Threshold</span>
                </label>
              </div>
            </div>
          </div>  <!-- end checkbox toggle -->
          <div class="media">
            <div class="media-body">
              <p class="text-x-small text-bold no-margin">Electric Usage Threshold</p>
              <p class="text-x-small">10 kWh</p>
              <p class="text-x-small text-bold no-margin">Gas Usage Threshold</p>
              <p class="text-x-small">10 [enter unit here]</p>
            </div>
            <div class="media-right">
              <a href="#" class="btn btn-default btn-sm">Edit</a>
            </div>
          </div>
        </li>
      </ul>
      <!-- end component -->
    
    </div>
  </div>
</div>
  {{/content}}
{{/extend}}  


<!-- Example: Select Settings -->
{{#extend 'code-example'}}
  {{#content 'section-id'}}select-settings{{/content}}

  {{#content 'section-title'}}Select Settings{{/content}}

  {{#content 'HTML'}}
<div class="container-fluid container-400">
  <div class="row">     
    <div class="col-xs-12">

        <h2 class="lead text-center">Section Name</h2>
      
        <!-- Component starts here -->
        {{#extend 'o-selector'}}

            {{#content 'items'}}

                <!-- First item -->
                {{#extend 'o-selector__item'}}
                    {{#content 'content'}}
                        <p class="c-selector__title text-small text-bold">Selector Name</P>
                    {{/content}}
                {{/extend}}

                <!-- Second item -->
                {{#extend 'o-selector__item'}}
                    {{#content 'content'}}
                        <p class="c-selector__title text-small text-bold">Selector Name</P>
                    {{/content}}
                {{/extend}}
            {{/content}}
        {{/extend}}
        <!-- end component -->
    
    </div>
  </div>
</div>
  {{/content}}
{{/extend}}


<!-- Example: Account Selector -->
{{#extend 'code-example'}}
  {{#content 'section-id'}}account-selector{{/content}}

  {{#content 'section-title'}}Account Selector{{/content}}

  {{#content 'HTML'}}
<div class="container-fluid container-800">
  <div class="row">     
    <div class="col-xs-12">
      
      <!-- Component starts here -->
      {{> c-account-selector account-selector}}
      <!-- end component -->
    
    </div>
  </div>
</div>
  {{/content}}
{{/extend}}  

