---
title: Quick Links
category: Features
breadcrumbs:
  type: inline
  list:
  - name: Features
    link: index.html
  - name: Quick Links
---

<h1>Quick Link Panels</h1>

<!-- Example: Horizontal Panel -->
{{#extend 'code-example'}}
  {{#content 'section-id'}}quick-links-horizontal-blue{{/content}}

  {{#content 'section-title'}}Horizontal Panel - Default{{/content}}

  {{#content 'HTML'}}
{{> c-quick-links quick-links.horizontal-blue}}
  {{/content}}
{{/extend}}


<!-- Example: Horizontal Panel Inverted -->
{{#extend 'code-example'}}
  {{#content 'section-id'}}quick-links-horizontal-white{{/content}}

  {{#content 'section-title'}}Horizontal Panel - Inverted{{/content}}

  {{#content 'HTML'}}
{{> c-quick-links quick-links.horizontal-white}}
  {{/content}}
{{/extend}}


<!-- Example: Vertical Panel -->
{{#extend 'code-example'}}
  {{#content 'section-id'}}quick-links-vertical{{/content}}

  {{#content 'section-title'}}Vertical Panel{{/content}}

  {{#content 'HTML'}}
{{!-- <div class="container"> --}}
  <div class="row">
    <div class="col-sm-6">
      <h3>Default</h3>
      {{> c-quick-links quick-links.vertical-blue}}
    </div>
    <div class="col-sm-6">
      <h3>Inverted</h3>
      {{> c-quick-links quick-links.vertical-white}}
    </div>
  </div>
{{!-- </div> --}}
  {{/content}}
{{/extend}}