---
title: Review
category: Features
breadcrumbs:
  type: inline
  list:
  - name: Features
    link: index.html
  - name: Review
---

<h1>Review Types</h1>

<!-- Example: Payments -->
{{#extend 'code-example'}}
  {{#content 'section-id'}}review-pay-bill{{/content}}

  {{#content 'section-title'}}Payments{{/content}}

  {{#content 'HTML'}}

  <div class="container-fluid container-400">
  <div class="row">     
    <div class="col-xs-12">
      
      <!-- Component starts here -->
      {{> c-review components__review.payment-details}}
      <!-- end component -->
    
    </div>
  </div>
</div>

  {{/content}}
{{/extend}}


<!-- Example: Detailed List -->
{{#extend 'code-example'}}
  {{#content 'section-id'}}review-detailed-list{{/content}}

  {{#content 'section-title'}}Detailed List{{/content}}

  {{#content 'HTML'}}

  <div class="container-fluid container-400">
  <div class="row">     
    <div class="col-xs-12">
      
      <!-- Component starts here -->
      {{> c-review-details review.details }}
      <!-- end component -->
    
    </div>
  </div>
</div>

  {{/content}}
{{/extend}}


<!-- Example: Detailed List -->
{{#extend 'code-example'}}
  {{#content 'section-id'}}review-contact{{/content}}

  {{#content 'section-title'}}Contact{{/content}}

  {{#content 'HTML'}}

  <div class="container-fluid container-400">
  <div class="row">     
    <div class="col-xs-12">
      
      <!-- Component starts here -->
      {{> c-review-details review.contact }}
      <!-- end component -->
    
    </div>
  </div>
</div>

  {{/content}}
{{/extend}}

<!-- Example: Phone Updates -->
{{#extend 'code-example'}}
  {{#content 'section-id'}}phone-updates{{/content}}

  {{#content 'section-title'}}Phone Updates{{/content}}

  {{#content 'HTML'}}
<div class="container-fluid container-400">
  <div class="row">
    <div class="col-xs-12">
      
      <!-- Component starts here -->
      {{> c-review-details review.phone-updates }}
      <!-- end component -->
    
    </div>
  </div>
</div>
  {{/content}}
{{/extend}}