---
title: Section
category: Features
breadcrumbs:
  type: inline
  list:
  - name: Features
    link: index.html
  - name: Section
---

<h1>Section</h1>

<!-- Example: Accordion -->
{{#extend 'code-example'}}
  {{#content 'section-id'}}gray-background-section{{/content}}

  {{#content 'section-title'}}Gray Background Section{{/content}}

  {{#content 'HTML'}}

  {{#extend 'o-section--gray'}}
    {{#content 'content'}}

      <div class="container-fluid">
        <h3>Hello world.</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
      </div>
    {{/content}}
  {{/extend}}

  {{/content}}
{{/extend}}
