---
title: Slider
category: Features
breadcrumbs:
  type: inline
  list:
  - name: Features
    link: index.html
  - name: Slider
js:
  - src: ../../assets/scripts/c-slider.js
---

<h1>Slider</h1>

<!-- Example: Global Header -->
{{#extend 'code-example'}}
  {{#content 'section-id'}}home-slider{{/content}}

  {{#content 'section-title'}}Home Page Slider{{/content}}

  {{#content 'HTML'}}
{{> c-slider--three-col home__slider}}
  {{/content}}
{{/extend}}
