---
title: State Selector
category: Features
breadcrumbs:
  type: inline
  list:
  - name: Features
    link: Features/index.html
  - name: State Selector
---

<h1>State Selector</h1>

<!-- Example: State Selector -->
{{#extend 'code-example'}}
  {{#content 'section-id'}}state-selector-component{{/content}}

  {{#content 'section-title'}}State Selector{{/content}}

  {{#content 'HTML'}}
{{> c-state-selector }}
  {{/content}}

{{/extend}}
