---
title: Task Flow
category: Features
breadcrumbs:
  type: inline
  list:
  - name: Features
    link: index.html
  - name: Task Flow
---

<h1>Task Flow</h1>
<p>To see these components in action, visit the <a href="{{relative page.dest 'dist/registration.html'}}">Registration</a> page.

<!-- Example: Task Header -->
{{#extend 'code-example'}}
  {{#content 'section-id'}}task-flow-header{{/content}}

  {{#content 'section-title'}}Task Flow Header{{/content}}

  {{#content 'HTML'}}

{{> c-task-header}}

  {{/content}}
{{/extend}}

<!-- Example: Task Layout -->
{{#extend 'code-example'}}
  {{#content 'section-id'}}task-layout{{/content}}

  {{#content 'section-title'}}Task Flow Layout{{/content}}

  {{#content 'HTML'}}

  <p>This includes the task layout header, and the task layout content.</p>

{{#extend "o-task-layout"}}
  {{#content "step-count"}}Step 1 of 3{{/content}}
  {{#content "title"}}Task layout title.  This can be a sentence, or a short paragraph.{{/content}}

  {{#content "wide-content"}}
  <h3>Optional Wide Content Section</h3>
  <p>There can be components dropped into this section if they are deemed necessary to span the full max-width of the site, however most content will not go here.</p>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
  {{/content}}

  {{#content "content"}}
  <h3>Narrow (Main) Content Section</h3>
  <p>Mostly all content on the Task Flow layout will go into this section.  As this layout is mainly reserved for forms, we want to minimize the size / length of each form field, so this is the designated width for the majority of content.</p>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
  {{/content}}
{{/extend}}

  {{/content}}
{{/extend}}


<!-- Example: Success Heading -->
{{#extend 'code-example'}}
  {{#content 'section-id'}}success-heading{{/content}}

  {{#content 'section-title'}}Task Flow Success Heading{{/content}}

  {{#content 'HTML'}}

<h1 class="text-primary text-center">Success!</h1>
{{> c-quarter-divider}}

  {{/content}}
{{/extend}}


<!-- Example: Task Layout Helper -->
{{#extend 'code-example'}}
  {{#content 'section-id'}}task-helper{{/content}}

  {{#content 'section-title'}}Task Flow Helper{{/content}}

  {{#content 'HTML'}}

  <p>This is the only component (thus far) that is allowed to go inside the Optional Wide Content section of the Task Layout.</p>

{{#with registration}}

{{> c-helper helper-residential}}
{{> c-helper helper-business}}
{{> c-helper helper-property-manager}}
{{> c-helper helper-customer-business-partner}}

{{/with}}

  {{/content}}
{{/extend}}

<!-- Example: Task Layout -->
{{#extend 'code-example'}}
  {{#content 'section-id'}}divider{{/content}}

  {{#content 'section-title'}}Divider{{/content}}

  {{#content 'HTML'}}

  <p class="c-divider-text"><span>or</span></p>

  {{/content}}
{{/extend}}
