---
title: Twitter Feed
category: Features
breadcrumbs:
  type: inline
  list:
  - name: Features
    link: Features/index.html
  - name: Twitter Feed
---

<h1>Twitter Feed</h1>

<!-- Example: Twitter Feed -->
{{#extend 'code-example'}}
  {{#content 'section-id'}}twitter-feed{{/content}}

  {{#content 'section-title'}}Twitter Feed{{/content}}

  {{#content 'HTML'}}
    {{> c-twitter-feed }}
  {{/content}}
{{/extend}}