<!-- Navbar Toggle -->
<input type="checkbox" class="c-navbar__toggle c-navbar__toggle--styleguide" id="navbar__toggle--styleguide" name="navbar__toggle--styleguide" aria-controls="target" aria-expanded="false">
<label for="navbar__toggle--styleguide" class="c-navbar__toggle-label c-navbar__toggle-label--styleguide" id="navbar__toggle-label--styleguide" aria-label="Menu">
  <span></span>
  <span></span>
  <span></span>
</label>

<!-- Navbar -->
<nav class="c-navbar c-navbar--styleguide" aria-hidden="true">
	<ul>
    <li><a href="{{relative page.dest 'dist/styleguide/'}}">Styleguide</a></li>

    <li><a style="font-weight:bold;" href="{{relative page.dest 'dist/styleguide/'}}">Guidelines</a>
      <ol>
        <li><a href="{{relative page.dest 'dist/styleguide/Guidelines/new-developer-onboarding.html'}}">Onboarding</a></li>
        <li><a href="{{relative page.dest 'dist/styleguide/Guidelines'}}">FED Standards</a></li>
      </ol>
    </li>

    {{#each categories}}
      <li><a style="font-weight:bold;" href="{{relative ../page.dest url}}">{{title}}</a>
        <ol>
          {{#each ../pages }}{{#is data.category ../title }}
            <li>
              <a href="{{relative ../../../page.dest ../this.dest}}">{{data.title}}</a>
            </li>
          {{/is}}{{/each}}
        </ol>
      </li>
    {{/each}}
	</ul>
</nav>
