---
title: Account Components
category: Common
breadcrumbs:
  type: inline
  list:
  - name: Common
    link: index.html
  - name: Account Components
---


<h1>Account Components</h1>

<!-- Example: Inline Group Actions -->
{{#extend 'code-example'}}
  {{#content 'section-id'}}inline-group-actions{{/content}}
  {{#content 'section-title'}}Inline Group Actions{{/content}}
  {{#content 'HTML'}}

  <div class="row">
    <div class="col-sm-4">


      <h3>Settings</h3>
      <ul class="list-inline c-inline-group-actions">
        <li>
          <strong class="color-grayscale-a text-small">Do Not Disturb</strong>&nbsp;&nbsp;<strong class="color-primary-a text-small">6:00pm - 6:00am</strong>
        </li>
        <li>
          <a href="#" class="text-small text-regular">Manage{{> icon-chevron}}</a>
        </li>
      </ul>
      <ul class="list-inline c-inline-group-actions">
        <li>
          <strong class="color-grayscale-a text-small">Auto Pay</strong>&nbsp;&nbsp;<strong class="color-primary-a text-small">On</strong>
        </li>
        <li>
          <a href="#" class="text-small text-regular">Manage{{> icon-chevron}}</a>
        </li>
      </ul>


    </div>
    <div class="col-sm-4">


      <h3>Payments</h3>
      <p class="text-x-small no-margin">Scheduled Payment:</p>
      <ul class="list-inline c-inline-group-actions">
        <li>
          <span class="text-regular text-small color-grayscale-a">April 15, 2018</span>
        </li>
        <li>
          <a href="#" class="text-small text-regular">Edit</a>
        </li>
      </ul>


    </div>
    <div class="col-sm-4">


      <h3>SVG Button Links</h3>
      <ul class="list-inline c-inline-group-actions">
        <li>
          <a href="#" class="text-small text-regular">
            <img src="https://dev.perficientdigital.com/ameren-mobile-first/assets/images/icon-pdf.png">
            View Bill
          </a>
        </li>
        <li>
          <a href="#" class="text-small text-regular">
            Billing History
            {{> icon-chevron}}
          </a>
        </li>
      </ul>


    </div>
  </div>
  {{/content}}
{{/extend}}


<!-- Example: Grouped Section Heading -->
{{#extend 'code-example'}}
  {{#content 'section-id'}}grouped-section-heading{{/content}}
  {{#content 'section-title'}}Grouped Section Heading{{/content}}
  {{#content 'HTML'}}

  <div class="row">
    <div class="col-sm-6">


      <h3>Manage Section</h3>
      <div class="text-center">
        <h2 class="lead color-grayscale-a" style="margin-bottom:0;">Heading Here</h2>
        <p><em class="text-small text-condensed">Short info text needed can go here</em></p>
        <div class="c-inline-content-container">
            <a href="#" class="btn btn-default btn-sm">Name of Button Here</a>
        </div>
      </div>


    </div>
    <div class="col-sm-6">


      <h3>Manage Section (button only)</h3>
      <div class="text-center">
        <h2 class="lead color-grayscale-a" style="margin-bottom:0;">Heading Here</h2>
        <div class="c-inline-content-container">
            <a href="#" class="btn btn-default btn-sm">Name of Button Here</a>
        </div>
      </div>


    </div>
  </div>
  {{/content}}
{{/extend}}


<!-- Example: Data -->
{{#extend 'code-example'}}
  {{#content 'section-id'}}data{{/content}}
  {{#content 'section-title'}}Data{{/content}}
  {{#content 'HTML'}}

  <div class="row">
    <div class="col-sm-4">


      <h3>Basic</h3>
      <div class="text-center">
        <p class="text-small text-light no-bottom-margin margin-center">Descriptive Heading</p>
        <p class="large-text color-grayscale-a">Address/Email/Phone Number</p>
      </div>


    </div>
    <div class="col-sm-4">


      <h3>List</h3>
      <div class="text-center">
        <p class="text-small text-light margin-center">Descriptive Heading</p>
        <ul class="list-unstyled">
          <li class="text-small text-regular color-grayscale-a">List item here</li>
          <li class="text-small text-regular color-grayscale-a">Another list item</li>
          <li class="text-small text-regular color-grayscale-a">One more item</li>
        </ul>
      </div>


    </div>
    <div class="col-sm-4">


      <h3>Detailed List</h3>
      <div class="text-center">
        <p class="text-small text-light no-bottom-margin margin-center">Descriptive Heading</p>
        <p class="large-text color-grayscale-a">Primary Data Here</p>
        <p class="text-small text-light margin-center">
          Child<br>
          123.456.7890<br>
          carl@alexandria.com<br>
          <br>
          123 Main Street<br>
          [address line 2]<br>
          [address line 3]<br>
          St. Louis, Missouri, 63123<br>
          United States<br>
        </p>
      </div>


    </div>
  </div>
  {{/content}}
{{/extend}}