---
title: Address Card
category: Common
breadcrumbs:
  type: inline
  list:
  - name: Common
    link: index.html
  - name: Address Card
---

<h1>Address Card</h1>

<!-- Example: Success -->
{{#extend 'code-example'}}
  {{#content 'section-id'}}address-card{{/content}}

  {{#content 'section-title'}}Address Card{{/content}}

  {{#content 'HTML'}}

{{> c-address-card components__address-card}}

  {{/content}}
{{/extend}}
