---
title: Blockquote
category: Common
breadcrumbs:
  type: inline
  list:
  - name: Common
    link: Common/index.html
  - name: Blockquote
---

<h1>Blockquote</h1>

<!-- Example: Blockquote -->
{{#extend 'code-example'}}
  {{#content 'section-id'}}blockquote{{/content}}

  {{#content 'section-title'}}Blockquote{{/content}}

  {{#content 'HTML'}}
    <blockquote>
      <p>Then it wasn't very civil of you to offer it,' said Alice angrily. It wasn't very civil of you to sit down without being invited,' said  the March Hare.</p>
    </blockquote>
  {{/content}}
{{/extend}}

<!-- Example: Blockquote with Citation -->
{{#extend 'code-example'}}
  {{#content 'section-id'}}blockquote{{/content}}

  {{#content 'section-title'}}Blockquote with Citation{{/content}}

  {{#content 'HTML'}}
    <blockquote>
      <p>I believe I can guess that,' she added aloud. Do you mean that you think you can find out the answer to it?</p>
      <footer>
        <cite>March Hare</cite>
      </footer>
    </blockquote>
  {{/content}}
{{/extend}}
