---
title: Buttons
category: Common
breadcrumbs:
  type: inline
  list:
  - name: Common
    link: Common/index.html
  - name: Buttons
---

<h1>Buttons</h1>
<p>All &lt;button&gt; tags can be replaced with &lt;a&gt; tags.</p>


<!-- Example: Default Button -->
{{#extend 'code-example'}}
  {{#content 'section-id'}}button--default{{/content}}

  {{#content 'section-title'}}Default{{/content}}

  {{#content 'HTML'}}
    <table>
      <tr>
        <td>
          <!-- ignore this -->
          <button type="button" class="btn btn-link btn-lg" disabled style="color: #636363">Large</button>
          <button type="button" class="btn btn-link" disabled style="color: #636363">Default</button>
          <button type="button" class="btn btn-link btn-sm" disabled style="color: #636363">Small</button>
          <!-- end ignore this -->

          <div class="c-inline-content-container">
            <button type="button" class="btn btn-default btn-lg">Button</button>
            <button type="button" class="btn btn-default">Button</button>
            <button type="button" class="btn btn-default btn-sm">Button</button>
          </div>
          <div class="c-inline-content-container">
            <button type="button" class="btn btn-default btn-lg" disabled>Disabled</button>
            <button type="button" class="btn btn-default" disabled>Disabled</button>
            <button type="button" class="btn btn-default btn-sm" disabled>Disabled</button>
          </div>
        </td>
        <td class="bg-primary-b" style="padding:0 2rem;">
          <!-- ignore this -->
          <button type="button" class="btn btn-link btn-lg" disabled style="color: #fff">Large</button>
          <button type="button" class="btn btn-link" disabled style="color: #fff">Default</button>
          <button type="button" class="btn btn-link btn-sm" disabled style="color: #fff">Small</button>
          <!-- end ignore this -->

          <div class="c-inline-content-container">
            <button type="button" class="btn btn-default btn-lg">Button</button>
            <button type="button" class="btn btn-default">Button</button>
            <button type="button" class="btn btn-default btn-sm">Button</button>
          </div>
          <div class="c-inline-content-container">
            <button type="button" class="btn btn-default btn-lg" disabled>Disabled</button>
            <button type="button" class="btn btn-default" disabled>Disabled</button>
            <button type="button" class="btn btn-default btn-sm" disabled>Disabled</button>
          </div>
        </td>
      </tr>
    </table>
  {{/content}}

{{/extend}}

<!-- Example: Primary Button -->
{{#extend 'code-example'}}
  {{#content 'section-id'}}button--primary{{/content}}

  {{#content 'section-title'}}Primary{{/content}}

  {{#content 'HTML'}}
    <table>
      <tr>
        <td>
          <!-- ignore this -->
          <button type="button" class="btn btn-link btn-lg" disabled style="color: #636363">Large</button>
          <button type="button" class="btn btn-link" disabled style="color: #636363">Default</button>
          <button type="button" class="btn btn-link btn-sm" disabled style="color: #636363">Small</button>
          <!-- end ignore this -->

          <div class="c-inline-content-container">
            <button type="button" class="btn btn-primary btn-lg">Button</button>
            <button type="button" class="btn btn-primary">Button</button>
            <button type="button" class="btn btn-primary btn-sm">Button</button>
          </div>
          <div class="c-inline-content-container">
            <button type="button" class="btn btn-primary btn-lg" disabled>Disabled</button>
            <button type="button" class="btn btn-primary" disabled>Disabled</button>
            <button type="button" class="btn btn-primary btn-sm" disabled>Disabled</button>
          </div>
        </td>
        <td class="bg-primary-b" style="padding:0 2rem;">
          <!-- ignore this -->
          <button type="button" class="btn btn-link btn-lg" disabled style="color: #fff">Large</button>
          <button type="button" class="btn btn-link" disabled style="color: #fff">Default</button>
          <button type="button" class="btn btn-link btn-sm" disabled style="color: #fff">Small</button>
          <!-- end ignore this -->

          <div class="c-inline-content-container">
            <button type="button" class="btn btn-primary btn-lg">Button</button>
            <button type="button" class="btn btn-primary">Button</button>
            <button type="button" class="btn btn-primary btn-sm">Button</button>
          </div>
          <div class="c-inline-content-container">
            <button type="button" class="btn btn-primary btn-lg" disabled>Disabled</button>
            <button type="button" class="btn btn-primary" disabled>Disabled</button>
            <button type="button" class="btn btn-primary btn-sm" disabled>Disabled</button>
          </div>
        </td>
      </tr>
    </table>
  {{/content}}

{{/extend}}

<!-- Example: Secondary Button -->
{{#extend 'code-example'}}
  {{#content 'section-id'}}button--secondary{{/content}}

  {{#content 'section-title'}}Secondary{{/content}}

  {{#content 'HTML'}}
    <table>
      <tr>
        <td>
          <!-- ignore this -->
          <button type="button" class="btn btn-link btn-lg" disabled style="color: #636363">Large</button>
          <button type="button" class="btn btn-link" disabled style="color: #636363">Default</button>
          <button type="button" class="btn btn-link btn-sm" disabled style="color: #636363">Small</button>
          <!-- end ignore this -->

          <div class="c-inline-content-container">
            <button type="button" class="btn btn-alt-a btn-lg">Button</button>
            <button type="button" class="btn btn-alt-a">Button</button>
            <button type="button" class="btn btn-alt-a btn-sm">Button</button>
          </div>
          <div class="c-inline-content-container">
            <button type="button" class="btn btn-alt-a btn-lg" disabled>Disabled</button>
            <button type="button" class="btn btn-alt-a" disabled>Disabled</button>
            <button type="button" class="btn btn-alt-a btn-sm" disabled>Disabled</button>
          </div>
        </td>
        <td>
          <!-- ignore this -->
          <button type="button" class="btn btn-link btn-lg" disabled style="color: #636363">Large</button>
          <button type="button" class="btn btn-link" disabled style="color: #636363">Default</button>
          <button type="button" class="btn btn-link btn-sm" disabled style="color: #636363">Small</button>
          <!-- end ignore this -->

          <div class="c-inline-content-container">
            <button type="button" class="btn btn-alt-b btn-lg">Button</button>
            <button type="button" class="btn btn-alt-b">Button</button>
            <button type="button" class="btn btn-alt-b btn-sm">Button</button>
          </div>
          <div class="c-inline-content-container">
            <button type="button" class="btn btn-alt-b btn-lg" disabled>Disabled</button>
            <button type="button" class="btn btn-alt-b" disabled>Disabled</button>
            <button type="button" class="btn btn-alt-b btn-sm" disabled>Disabled</button>
          </div>
        </td>
      </tr>
      <tr>
        <td>
          <!-- ignore this -->
          <h3>Button as Link</h3>
          <!-- end ignore this -->

          <button type="button" class="btn btn-link">Button</button>
        </td>
        <td>
          <!-- ignore this -->
          <h3>Block Level Button</h3>
          <!-- end ignore this -->
          
          <button type="button" class="btn btn-primary btn-block">Button</button>
        </td>
      </tr>
    </table>
  {{/content}}

{{/extend}}


<!-- Example: Button with Icon-->
{{#extend 'code-example'}}
  {{#content 'section-id'}}additions{{/content}}

  {{#content 'section-title'}}Additions{{/content}}

  {{#content 'HTML'}}
    <table>
      <tr>
        <td>
          <!-- ignore this -->
          <h3>Button with SVG Icon</h3>
          <!-- end ignore this -->
          
          <button type="button" class="btn btn-primary">
            <div class="u-icon u-icon--left">{{> icon-arrow}}</div>
            Button
          </button>
        </td>
        <td>
          <!-- ignore this -->
          <h3>Button as Link with SVG Icon</h3>
          <!-- end ignore this -->
          
          <button type="button" class="btn btn-link">
            Button
            {{> icon-arrow}}
          </button>
        </td>
      </tr>
    </table>
  {{/content}}

{{/extend}}