---
title: Colors
category: Common
breadcrumbs:
  type: inline
  list:
  - name: Common
    link: index.html
  - name: Colors
---

<style>
  .table tbody tr td {
    padding: 1.7rem 1rem;
    border: 0;
    font-size: 1.4rem;
  }
  tr {
    color: #000;
  }
</style>

<h1>Colors</h1>

<!-- Example: Primary Colors -->
{{#extend 'code-example'}}
  {{#content 'section-id'}}primary{{/content}}

  {{#content 'section-title'}}Primary Colors{{/content}}

  {{#content 'HTML'}}
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-4">
          <table class="table">
            <summary>Green</summary>
            <tr style="background-color:#f7fff2;">
              <td>
                <span class="pull-left">050</span>
                <span class="pull-right">#f7fff2</span>
              </td>
            </tr>
            <tr style="background-color:#2bb348;">
              <td>
                <span class="pull-left">300 / Lighten 10%</span>
                <span class="pull-right">#2bb348</span>
              </td>
            </tr>
            <tr style="background-color:#218737;color:white;height: 108px;">
              <td>
                <strong class="pull-left">500 / Ameren Green</strong>
                <strong class="pull-right">#218737</strong>
              </td>
            </tr>
            <tr style="background-color:#175e26;color:white;">
              <td>
                <span class="pull-left">700 / Darken 10%</span>
                <span class="pull-right">#175e26</span>
              </td>
            </tr>
            <tr style="background-color:#124a1e;color:white;">
              <td>
                <span class="pull-left">900 / Darken 15%</span>
                <span class="pull-right">#124a1e</span>
              </td>
            </tr>
          </table>
        </div>
        <div class="col-sm-4">
          <table class="table">
            <summary>Blue</summary>
            <tr style="background-color:#e8f1fa;">
              <td>
                <span class="pull-left">050</span>
                <span class="pull-right">#e8f1fa</span>
              </td>
            </tr>
            <tr style="background-color:#4c97d9;">
              <td>
                <span class="pull-left">300 / Lighten 10%</span>
                <span class="pull-right">#4c97d9</span>
              </td>
            </tr>
            <tr style="background-color:#1b6cb5;color:white;height: 108px;">
              <td>
                <strong class="pull-left">500 / Ameren Blue</strong>
                <strong class="pull-right">#1b6cb5</strong>
              </td>
            </tr>
            <tr style="background-color:#145289;color:white;">
              <td>
                <span class="pull-left">700 / Darken 10%</span>
                <span class="pull-right">#145289</span>
              </td>
            </tr>
            <tr style="background-color:#114472;color:white;">
              <td>
                <span class="pull-left">900 / Darken 15%</span>
                <span class="pull-right">#114472</span>
              </td>
            </tr>
          </table>
        </div>
        <div class="col-sm-4">
          <table class="table">
            <summary>Gray</summary>
            <tr style="background-color:#f4f4f4;">
              <td>
                <span class="pull-left">05</span>
                <span class="pull-right">#f4f4f4</span>
              </td>
            </tr>
            <tr style="background-color:#e3e3e3;">
              <td>
                <span class="pull-left">10</span>
                <span class="pull-right">#e3e3e3</span>
              </td>
            </tr>
            <tr style="background-color:#c6c6c6;">
              <td>
                <span class="pull-left">20</span>
                <span class="pull-right">#c6c6c6</span>
              </td>
            </tr>
            <tr style="background-color:#959595;">
              <td>
                <span class="pull-left">40</span>
                <span class="pull-right">#959595</span>
              </td>
            </tr>
            <tr style="background-color:#636363;color:white;">
              <td>
                <strong class="pull-left">60 / Gray</strong>
                <strong class="pull-right">#636363</strong>
              </td>
            </tr>
            <tr style="background-color:#363636;color:white;">
              <td>
                <span class="pull-left">80</span>
                <span class="pull-right">#363636</span>
              </td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  {{/content}}
{{/extend}}

<!-- Example: Accent Colors -->
{{#extend 'code-example'}}
  {{#content 'section-id'}}secondary{{/content}}

  {{#content 'section-title'}}Secondary Colors{{/content}}

  {{#content 'HTML'}}
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-4">
          <table class="table">
            <summary>Red</summary>
            <tr style="background-color:#f4e2e2;">
              <td>
                <span class="pull-left">050</span>
                <span class="pull-right">#f4e2e2</span>
              </td>
            </tr>
            <tr style="background-color:#ff4d4d;">
              <td>
                <span class="pull-left">300</span>
                <span class="pull-right">#ff4d4d</span>
              </td>
            </tr>
            <tr style="background-color:#d2332f;color:white;">
              <td>
                <span class="pull-left">500</span>
                <span class="pull-right">#d2332f</span>
              </td>
            </tr>
            <tr style="background-color:#8c1207;color:white;">
              <td>
                <span class="pull-left">700</span>
                <span class="pull-right">#8c1207</span>
              </td>
            </tr>
            <tr style="background-color:#520606;color:white;">
              <td>
                <span class="pull-left">900</span>
                <span class="pull-right">#520606</span>
              </td>
            </tr>
          </table>
        </div>
        <div class="col-sm-4">
          <table class="table">
            <summary>Yellow</summary>
            <tr style="background-color:#fdf9e7;">
              <td>
                <span class="pull-left">050</span>
                <span class="pull-right">#fdf9e7</span>
              </td>
            </tr>
            <tr style="background-color:#faea91;">
              <td>
                <span class="pull-left">300</span>
                <span class="pull-right">#faea91</span>
              </td>
            </tr>
            <tr style="background-color:#f0d22b;color:white;">
              <td>
                <span class="pull-left">500</span>
                <span class="pull-right">#f0d22b</span>
              </td>
            </tr>
            <tr style="background-color:#d49100;color:white;">
              <td>
                <span class="pull-left">700</span>
                <span class="pull-right">#d49100</span>
              </td>
            </tr>
            <tr style="background-color:#8c540a;color:white;"> 
              <td>
                <span class="pull-left">900</span>
                <span class="pull-right">#8c540a</span>
              </td>
            </tr>
          </table>
        </div>
        <div class="col-sm-4">
          <table class="table">
            <summary>Digital Blue</summary>
            <tr style="background-color:#1a53ff;color:white;">
              <td>
                <span class="pull-left">500</span>
                <span class="pull-right">#1a53ff</span>
              </td>
            </tr>
          </table>
          <table class="table">
            <summary>Purple</summary>
            <tr style="background-color:#4a1de1;color:white;">
              <td>
                <span class="pull-left">500</span>
                <span class="pull-right">#4a1de1</span>
              </td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  {{/content}}
{{/extend}}