---
title: Envelope Card
category: Common
breadcrumbs:
  type: inline
  list:
  - name: Common
    link: index.html
  - name: Envelope Card
---

<h1>Envelope Card</h1>

<!-- Example: Success -->
{{#extend 'code-example'}}
  {{#content 'section-id'}}envelope-card{{/content}}

  {{#content 'section-title'}}Envelope Card{{/content}}

  {{#content 'HTML'}}

{{> c-envelope-card}}

  {{/content}}
{{/extend}}
