---
title: Forms
category: Common
breadcrumbs:
  type: inline
  list:
  - name: Common
    link: index.html
  - name: Forms
---

<h1>Forms</h1>

<!-- Example: Online Access Form -->
{{#extend 'code-example'}}
  {{#content 'section-id'}}online-access-form{{/content}}

  {{#content 'section-title'}}Global Login vs Secure Area Login{{/content}}

  {{#content 'HTML'}}

<div class="row">

  {{#with form--online-access}}
  <div class="col-sm-6 col-md-4">
    <form action="#" method="post" data-toggle="validator">
      <fieldset>
        <legend>{{heading}}</legend>

        {{> c-form__input user-id}}
        {{> c-form__input password}}
        {{> c-form__checkbox-group remember-me}}

        <!-- Footer -->
        <div class="c-form__footer">
          <input type="submit" value="{{submit.value}}" class="btn btn-primary {{submit.classes}}">

          <div class="c-login-help">
            <p><a href="#">Forgot UserID</a><a href="#">Forgot Password</a></p>
            <p>Don’t have online access? <a href="registration.html">Register Here</a></p>
          </div>
        </div>
      </fieldset>
    </form>
  </div>
  {{/with}}

  {{#with form--login-required}}
  <div class="col-sm-6 col-md-4">
    <form action="#" method="post" data-toggle="validator">
      <fieldset>
        <legend>{{heading}}</legend>

        <p class="large-text">{{{large-text}}}</p>

        {{> c-form__input user-id}}
        {{> c-form__input password}}
        {{> c-form__checkbox-group remember-me}}

        <!-- Footer -->
        <div class="c-form__footer">
          <input type="submit" value="{{submit.value}}" class="btn btn-primary {{submit.classes}}">

          <div class="c-login-help">
            <p><a href="#">Forgot UserID</a><a href="#">Forgot Password</a></p>
            <p>Don’t have online access? <a href="registration.html">Register Here</a></p>
          </div>
        </div>
      </fieldset>
    </form>
  </div>
  {{/with}}
</div>

  {{/content}}
{{/extend}}

<hr>

<!-- Example: Forgot UserID Form -->
{{#extend 'code-example'}}
  {{#content 'section-id'}}login-required-form{{/content}}

  {{#content 'section-title'}}Forgot UserID or Password{{/content}}

  {{#content 'HTML'}}

<div class="row">

  {{#with form--forgot-userid}}
  <div class="col-sm-6 col-md-4">
    <form action="#" method="post" data-toggle="validator">
      <fieldset>
        <legend>{{heading}}</legend>

        <p class="large-text">{{{large-text}}}</p>

        {{> c-form__input email-1}}

        <!-- Footer -->
        <div class="c-form__footer">
          <input type="submit" value="{{submit.value}}" class="btn btn-primary {{submit.classes}}">
          <br><br>
          <p>If you no longer have access to that email address, please <a href="#">Contact Us</a>.</p>
        </div>
      </fieldset>
    </form>
  </div>

  <div class="col-sm-6 col-md-4">
    <form action="#" method="post" data-toggle="validator">
      <fieldset>
        <legend>{{heading}}</legend>

        <div class="alert alert-danger" role="alert">
          <div class="media">
            <div class="media-left">
              {{> icon-alert--default }}
            </div>
            <div class="media-body">
              <p><strong>Oops!</strong> The email you entered does not match our records. Please verify that the email address you entered is currently associated with your UserID. Please try again or use one of the options below.</p>
            </div>
          </div>
        </div>

        {{> c-form__input email-2}}

        <!-- Footer -->
        <div class="c-form__footer">
          <input type="submit" value="{{submit.value}}" class="btn btn-primary {{submit.classes}}">
          <br><br>
          <p>If you no longer have access to that email address, please <a href="#">Contact Us</a>.</p>
        </div>
      </fieldset>
    </form>
  </div>
  {{/with}}

  <div class="col-sm-6 col-md-4">
    <form action="#" method="post" data-toggle="validator">
      <fieldset>
        <legend>Forgot [ID/Password]</legend>

        <div class="alert alert-success" role="alert">
          <div class="media">
            <div class="media-left">
              {{> icon-alert--success }}
            </div>
            <div class="media-body">
              <p><strong>Success!</strong> We have sent an email to <em>user@email.com</em> with instructions.</p>
            </div>
          </div>
        </div>

        <label>Next Steps:</label>
        <p class="large-text">Conversational info text here that should wrap no more than 3 lines of text - recommended.</p>

        <a href="#" class="btn btn-cancel">
          {{> icon-arrow }}
          Back to log in
        </a>
      </fieldset>
    </form>
  </div>
</div>

  {{/content}}
{{/extend}}

<hr>

<!-- Example: Access Block -->
{{#extend 'code-example'}}
  {{#content 'section-id'}}blocked-access{{/content}}

  {{#content 'section-title'}}Blocked Access Forms{{/content}}

  {{#content 'HTML'}}

<div class="row">

  <div class="col-sm-6 col-md-4">
    <form action="#" method="post" data-toggle="validator">
      <fieldset>
        <legend>Access Disabled</legend>

        <div class="alert alert-danger access-blocked" role="alert">
          <div class="media">
            <div class="media-left">
              {{> icon-account--disabled }}
            </div>
            <div class="media-body">
              Due to lack of activity your access has been disabled.
            </div>
          </div>
        </div>

        <div class="form-group">
          <p class="large-text">An email to: <a href="mailto:customer@gmail.com">customer@gmail.com</a> was sent with directions on how to reactivate your access.</p>
        </div>

        <div class="form-group">
          <a href="#" class="btn btn-cancel">
            {{> icon-arrow }}
            Back to log in
          </a>
        </div>

        <p>If you no longer have access to that email address, please <a href="#">Contact Us</a>.</p>
      </fieldset>
    </form>
  </div>

  <div class="col-sm-6 col-md-4">
    <form action="#" method="post" data-toggle="validator">
      <fieldset>
        <legend>Access Locked</legend>

        <div class="alert alert-danger access-blocked" role="alert">
          <div class="media">
            <div class="media-left">
              {{> icon-locked}}
            </div>
            <div class="media-body">
              Special notification if access is disabled or locked
            </div>
          </div>
        </div>

        <p>[Needs Description and/or directions like contact us, etc.]</p>

      </fieldset>
    </form>
  </div>
</div>

  {{/content}}
{{/extend}}

<hr>

<!-- Example: Example Form -->
{{#extend 'code-example'}}
  {{#content 'section-id'}}example-form{{/content}}

  {{#content 'section-title'}}Example Form{{/content}}

  {{#content 'HTML'}}

{{#with example-form}}
<form method="post" action="#" id="example-form" data-toggle="validator">

  {{> c-form__input text-input}}
  <!-- Text Input -->
  <div class="form-group has-feedback">

    <label for="input-with-help-block-top">Text input with Help Block Top</label>

    <a class="help-block-top" href="#">Forgot UserID</a>

    <!-- Input -->
    <input type="text" class="form-control"
          id="input-with-help-block-top" name="input-with-help-block-top"/>

    <div class="help-block with-errors"></div>
  </div>

  {{> c-form__input text-input-with-popover}}
  {{> c-form__input password-with-helper-text}}

  <!-- Text Input -->
  <div class="form-group has-feedback">

    <!-- Label -->
    <label for="datepicker">Date Picker</label>

    <div class="input-group date">
      <!-- Input -->
      <input type="text" class="form-control" id="datepicker" name="datepicker" placeholder="mm/dd/yyyy" required data-required-error="Please select a date" />
      <span class="input-group-addon">
          {{> icon-calendar }}
      </span>
    </div>

    <div class="help-block with-errors"></div>
  </div>

  <!-- Text Input -->
  <div class="form-group has-feedback">

    <!-- Label -->
    <label for="datepicker">Time Picker</label>

    <div class="input-group time">
      <!-- Input -->
      <input type="text" class="form-control" id="timepicker" name="timepicker" placeholder="12:00 AM" required data-required-error="Please select a date" />
      <span class="input-group-addon">
          {{> icon-clock }}
      </span>
    </div>

    <div class="help-block with-errors"></div>
  </div>

  {{> c-form__select select}}
  {{> c-form__textarea textarea}}
  {{> c-form__checkbox-group checkbox-group}}
  {{> c-form__input-panel checkbox-panel}}
  {{> c-form__radio-group radio-group}}
  {{> c-form__input-panel radio-panel}}
  {{> c-form__radio-group radio-group-outlined}}
  {{> c-form__radio-pill-group radio-pill-group}}
  {{> c-form__spinner}}

  <!-- Footer -->
  <div class="c-form__footer">
    <hr>
    <p>* Fields required</p>
    <input type="submit" value="Submit" class="btn btn-primary">
  </div>
</form>

{{/with}}

  {{/content}}
{{/extend}}

<!-- Example: Example Form -->
{{#extend 'code-example'}}
  {{#content 'section-id'}}search-form{{/content}}

  {{#content 'section-title'}}Search Form{{/content}}

  {{#content 'HTML'}}

{{#with example-form}}
<form method="post" action="#" id="search-form">

  <!-- Text Input -->
  <div class="form-group has-feedback">

    <!-- Label -->
    <label for="search-input">Search</label>

    <div class="input-group search">
      <!-- Input -->
      <input type="text" class="form-control" id="search-input" name="search-input" required />
      <span class="input-group-addon">
          {{> icon-search }}
      </span>
    </div>

    <div class="help-block with-errors"></div>
  </div>

</form>

{{/with}}

  {{/content}}
{{/extend}}
