---
title: Hero Banner
category: Common
breadcrumbs:
  type: inline
  list:
  - name: Common
    link: index.html
  - name: Hero Banner
---

<h1>Hero Banner</h1>

<!-- Example: Account Selector -->
{{#extend 'code-example'}}
  {{#content 'section-id'}}hero-banner{{/content}}

  {{#content 'section-title'}}Hero Banner{{/content}}

  {{#content 'HTML'}}
{{> c-hero-banner full-width-hero.residential.hero}}
  {{/content}}
{{/extend}}