---
title: Inline Images
category: Common
breadcrumbs:
  type: inline
  list:
  - name: Common
    link: Common/index.html
  - name: Inline Images
---

<h1>Inline Images</h1>

<!-- Example: Landscape Image -->
{{#extend 'code-example'}}
  {{#content 'section-id'}}landscape-image{{/content}}
  {{#content 'section-title'}}Landscape Image{{/content}}
  {{#content 'HTML'}}
    <img src="http://via.placeholder.com/640x360?text=16:9" alt="16:9 Placeholder Image" />
  {{/content}}
{{/extend}}

<!-- Example: Landscape Image -->
{{#extend 'code-example'}}
  {{#content 'section-id'}}square-image{{/content}}
  {{#content 'section-title'}}Square Image{{/content}}
  {{#content 'HTML'}}
    <img src="http://via.placeholder.com/360x360?text=1:1" alt="1:1 Placeholder Image" />
  {{/content}}
{{/extend}}

<!-- Example: Landscape Image -->
{{#extend 'code-example'}}
  {{#content 'section-id'}}wide-landscape-image{{/content}}
  {{#content 'section-title'}}Wide Landscape Image{{/content}}
  {{#content 'HTML'}}
    <img src="http://via.placeholder.com/1170x360?text=3:1" alt="3:1 Placeholder Image" />
  {{/content}}
{{/extend}}

<!-- Example: Figure with Caption -->
{{#extend 'code-example'}}
  {{#content 'section-id'}}figure-with-caption{{/content}}

  {{#content 'section-title'}}Example Image w/ Caption{{/content}}

  {{#content 'HTML'}}
    <figure>
      <img src="http://via.placeholder.com/640x360?text=Media" alt="Figure with Caption Placeholder Image" />
      <figcaption>This is an example of an image with a caption. Photo captions, also known as cutlines, are a few lines of text used to explain or elaborate on published photographs.</figcaption>
    </figure>
  {{/content}}
{{/extend}}


<!-- Example: Alignment - Left -->
{{#extend 'code-example'}}
  {{#content 'section-id'}}alignment-left{{/content}}

  {{#content 'section-title'}}Alignment - Left{{/content}}

  {{#content 'HTML'}}
  <div class="container-fluid container-800">
    <div class="row">
      <div class="col-xs-12">
        <img class="figure-left" src="http://via.placeholder.com/150x150?text=Media" alt="1:1 Placeholder Image" />
        <p class="large-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea, dolorem cum eaque iusto asperiores rem nemo eum veniam, libero vero corrupti dolores ducimus labore, delectus architecto laudantium autem reiciendis repellat? Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus possimus architecto accusantium animi minus! Eaque, quo maxime odio aliquam modi voluptatem explicabo veritatis rerum error ab recusandae possimus totam sed? Lorem ipsum dolor, sit amet consectetur adipisicing elit. Illo excepturi sed corporis ratione omnis ullam nobis laborum eos, sunt rem enim, id cumque dolorum eum ducimus nam ut sit culpa?</p>
      </div>
    </div>
  </div>
  {{/content}}
{{/extend}}


<!-- Example: Alignment - Right -->
{{#extend 'code-example'}}
  {{#content 'section-id'}}alignment-right{{/content}}

  {{#content 'section-title'}}Alignment - Right{{/content}}

  {{#content 'HTML'}}
  <div class="container-fluid container-800">
    <div class="row">
      <div class="col-xs-12">
        <img class="figure-right" src="http://via.placeholder.com/150x150?text=Media" alt="1:1 Placeholder Image" />
        <p class="large-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea, dolorem cum eaque iusto asperiores rem nemo eum veniam, libero vero corrupti dolores ducimus labore, delectus architecto laudantium autem reiciendis repellat? Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vel eveniet, pariatur vero hic quos nemo, nulla aut esse repudiandae a minus mollitia magni aliquid consequatur dolor earum. Vero, harum fugit? Lorem ipsum dolor sit, amet consectetur adipisicing elit. Corrupti vitae, quaerat dolorum vero repellat voluptatibus quas ut unde aspernatur, similique qui, assumenda impedit? Et nostrum reiciendis sint error, eos recusandae! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facilis commodi impedit optio, error cum fuga atque dicta? Rem sunt ab quo sed, similique, quam accusamus, quibusdam doloribus dolor nemo autem.</p>
      </div>
    </div>
  </div>
  {{/content}}
{{/extend}}


<!-- Example: Alignment - Center -->
{{#extend 'code-example'}}
  {{#content 'section-id'}}alignment-center{{/content}}

  {{#content 'section-title'}}Alignment - Center{{/content}}

  {{#content 'HTML'}}
  <div class="container-fluid container-800">
    <div class="row">
      <div class="col-xs-12">
        <p class="large-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea, dolorem cum eaque iusto asperiores rem nemo eum veniam, libero vero corrupti dolores ducimus labore, delectus architecto laudantium autem reiciendis repellat?</p>
        <img class="figure-center" src="http://via.placeholder.com/150x150?text=Media" alt="1:1 Placeholder Image" />
        <p class="large-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea, dolorem cum eaque iusto asperiores rem nemo eum veniam, libero vero corrupti dolores ducimus labore, delectus architecto laudantium autem reiciendis repellat?</p>
      </div>
    </div>
  </div>
  {{/content}}
{{/extend}}
