---
title: Inline Content Container
category: Common
breadcrumbs:
  type: inline
  list:
  - name: Common
    link: index.html
  - name: Inline Content Container
---

<h1>Inline Content Container</h1>

<!-- Example: Accordion -->
{{#extend 'code-example'}}
  {{#content 'section-id'}}inline-content-container--buttons{{/content}}

  {{#content 'section-title'}}Use Case: Buttons{{/content}}

  {{#content 'HTML'}}

  <p>When a button needs to be dropped onto a page by itself, it needs to have some sort of containing element to provide proper block-level spacing.  In such a case, an Inline Content Container should be used.</p>

<div class="c-inline-content-container">
  <a href="#" class="btn btn-primary">Click Me</a>
</div>

<div class="c-inline-content-container">
  <a href="#" class="btn btn-default">No, Click Me</a>
</div>

  {{/content}}
{{/extend}}
