---
title: Lists
category: Common
breadcrumbs:
  type: inline
  list:
  - name: Common
    link: Common/index.html
  - name: Lists
---

<h1>Lists</h1>

{{#with elements__list}}

<!-- Example: Default -->
{{#extend 'code-example'}}
  {{#content 'section-id'}}list{{/content}}

  {{#content 'section-title'}}List{{/content}}

  {{#content 'HTML'}}
    {{> list default}}
  {{/content}}
{{/extend}}

<!-- Example: Numbered -->
{{#extend 'code-example'}}
  {{#content 'section-id'}}list--numbered{{/content}}

  {{#content 'section-title'}}Numbered List{{/content}}

  {{#content 'HTML'}}
<ol>
  <li>
    Find the eggs.
  </li>
  <li>
    Paint the eggs.
  </li>
  <li>
    Hide the eggs.
  </li>
</ol>
  {{/content}}
{{/extend}}



<!-- Example: Numbered -->
{{#extend 'code-example'}}
  {{#content 'section-id'}}list--featured{{/content}}

  {{#content 'section-title'}}Featured List{{/content}}

  {{#content 'HTML'}}
<ul class="list-check">
  <li><span>Get your bills via email</span></li>
  <li><span>Save trees and stuff</span></li>
  <li><span>Make birds happy</span></li>
</ul>
  {{/content}}
{{/extend}}

<!-- Example: Unstyled -->
{{#extend 'code-example'}}
  {{#content 'section-id'}}list--unstyled{{/content}}

  {{#content 'section-title'}}Unstyled List{{/content}}

  {{#content 'HTML'}}
    {{> list unstyled}}
  {{/content}}
{{/extend}}

<!-- Example: Unstyled -->
{{#extend 'code-example'}}
  {{#content 'section-id'}}list--links{{/content}}

  {{#content 'section-title'}}List of Links{{/content}}

  {{#content 'HTML'}}
    {{> list links}}
  {{/content}}
{{/extend}}

<!-- Example: Inline -->
{{#extend 'code-example'}}
  {{#content 'section-id'}}list--inline{{/content}}

  {{#content 'section-title'}}Inline List{{/content}}

  {{#content 'HTML'}}
    {{> list inline}}
  {{/content}}
{{/extend}}

<!-- Example: Inline List of Links -->
{{#extend 'code-example'}}
  {{#content 'section-id'}}list--inline-links{{/content}}

  {{#content 'section-title'}}Inline List of Links{{/content}}

  {{#content 'HTML'}}
    {{> list inline-links}}
  {{/content}}
{{/extend}}

{{/with}}

<!-- Example: Inline List of Links -->
{{#extend 'code-example'}}
  {{#content 'section-id'}}list--dotted-border{{/content}}

  {{#content 'section-title'}}Dotted Border List{{/content}}

  {{#content 'HTML'}}
    <ul class="list-dotted-border">
      <li><p>Any content can go in here</p></li>
      <li><p><strong class="text-small">Here is some bold text</strong> <em class="text-x-small">- with smaller text</em></p></li>
      <li><p class="lead">The pattern here is the list itself, not what's inside.</p></li>
      <li>
        <ol>
          <li>So use this &lt;ul&gt; with the .list-dotted-border class</li>
          <li>Use as needed per designs</li>
          <li>And add necessary content</li>
        </ol>
      </li>
    </ul>
  {{/content}}
{{/extend}}
