---
title: Media Object
category: Common
breadcrumbs:
  type: inline
  list:
  - name: Common
    link: index.html
  - name: Media Object
---

<h1>Media Object</h1>

<!-- Example: Media Left -->
{{#extend 'code-example'}}
  {{#content 'section-id'}}media{{/content}}

  {{#content 'section-title'}}Media Left{{/content}}

  {{#content 'HTML'}}

<div class="media">
  <div class="media-left">
    <i class="fa fa-user-circle-o fa-3x" style="margin-right:2rem;"></i>
  </div>
  <div class="media-body">
    <h3 style="margin-top:0;">Jerry Smith</h3>
    <p><strong>General Manager of Sales</strong></p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
  </div>
</div>

  {{/content}}
{{/extend}}

<!-- Example: Media Right -->
{{#extend 'code-example'}}
  {{#content 'section-id'}}media{{/content}}

  {{#content 'section-title'}}Media Right{{/content}}

  {{#content 'HTML'}}

<div class="media">
  <div class="media-body">
    <form>
      <div class="form-group">
        <label for="search" class="sr-only">Search</label>
        <input id="search" type="text" name="search" class="form-control" placeholder="Search">
      </div>
    </form>
  </div>
  <div class="media-right">
    <button type="submit" class="btn btn-default"><i class="fa fa-search"></i></button>
  </div>
</div>

  {{/content}}
{{/extend}}


<!-- Example: Media Right with Nested Media Left -->
{{#extend 'code-example'}}
  {{#content 'section-id'}}media{{/content}}

  {{#content 'section-title'}}Media Right with Nested Media Left{{/content}}

  {{#content 'HTML'}}

<div class="media">
  <div class="media-body">
    <div class="media">
      <div class="media-left">
        <a href="#">
          <span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span>
        </a>
      </div>
      <div class="media-body">
        <p>
          <strong>555 Address Rd, St. Louis, MO 63103</strong><br>
          Service Address
        </p>
      </div>
    </div>
    <div class="media">
      <div class="media-left">
        <a href="#">
          <span class="glyphicon glyphicon-calendar" aria-hidden="true"></span>
        </a>
      </div>
      <div class="media-body">
        <p>
          <strong>August 12, 2017</strong><br>
          Date Requested
        </p>
      </div>
    </div>
  </div>
  <div class="media-right">
    <a href="#">
      <a href="start-service-2.html" class="btn btn-default">Edit</a>
    </a>
  </div>
</div>

  {{/content}}
{{/extend}}
