---
title: Panels
category: Common
breadcrumbs:
  type: inline
  list:
  - name: Common
    link: Common/index.html
  - name: Panels
---

<h1>Panels</h1>

<!-- Example: Panel Container With Label -->
{{#extend 'code-example'}}
  {{#content 'section-id'}}panel-container{{/content}}

  {{#content 'section-title'}}Panel Container with Label{{/content}}

  {{#content 'HTML'}} 
<fieldset class="c-panel">
    <legend>Name Here</legend>
    <p>Content Area</p>
</fieldset>
  {{/content}}
{{/extend}}


<!-- Example: Panel Container Without Label -->
{{#extend 'code-example'}}
  {{#content 'section-id'}}panel-container-no-label{{/content}}

  {{#content 'section-title'}}Panel Container without Label{{/content}}

  {{#content 'HTML'}} 
<fieldset class="c-panel">
    <p>Content Area</p>
</fieldset>
  {{/content}}
{{/extend}}

<section>
  <h1>Custom Panels</h1>

<!-- Example: Contact Panel -->
{{#extend 'code-example'}}
  {{#content 'section-id'}}panel-contact{{/content}}

  {{#content 'section-title'}}Contact{{/content}}

  {{#content 'HTML'}} 
<fieldset class="c-panel">
  <p class="color-grayscale-a no-margin"><strong>[Name Field]</strong></p>
  <p class="text-small">
    [Type field]<br>
    123.456.7890<br>
    carl@alexandria.com
  </p>
  <hr>
  <p class="text-x-small">
    [address line 2]<br>
    [address line 3]<br>
    St. Louis, MO 63123<br>
    United States
  </p>
  <p class="text-x-small">
    <strong>Comments:</strong><br>
    Need to have this other person with access to my Ameren account.
  </p>
</fieldset>
  {{/content}}
{{/extend}}


<!-- Example: Email Panel -->
{{#extend 'code-example'}}
  {{#content 'section-id'}}panel-email{{/content}}

  {{#content 'section-title'}}Email{{/content}}

  {{#content 'HTML'}} 
<fieldset class="c-panel">
  <legend>Primary</legend>
  <p class="color-grayscale-a"><strong>rickg@alexandria.com</strong></p>
  <a href="#" class="btn btn-default btn-sm">Edit</a>
  <a href="#" class="btn btn-default btn-sm">Manage Alerts</a>
</fieldset>

<fieldset class="c-panel">
  <legend>UserID Email Address</legend>
  <p class="color-grayscale-a no-margin"><strong>rickg@alexandria.com</strong></p>
  <p class="text-x-small">UserID: rick@aol.com</p>
  <a href="#" class="btn btn-default btn-sm">Edit</a>
</fieldset>

<fieldset class="c-panel">
  <p class="color-grayscale-a"><strong>maggie@hilltop.com</strong></p>
  <a href="#" class="btn btn-default btn-sm">Edit</a>
  <a href="#" class="btn btn-default btn-sm">Manage Alerts</a>
  <a href="#" class="btn btn-alt-a btn-sm">Manage Alerts</a>
</fieldset>
  {{/content}}
{{/extend}}


<!-- Example: Address Panel -->
{{#extend 'code-example'}}
  {{#content 'section-id'}}panel-address{{/content}}

  {{#content 'section-title'}}Address{{/content}}

  {{#content 'HTML'}} 
<fieldset class="c-panel">
  <legend>Primary</legend>
  <p class="color-grayscale-a no-margin"><strong>123 Main Street</strong></p>
  <p class="text-small">
    [address line 2]<br>
    [address line 3]<br>
    St. Louis, MO 63123<br>
    United States
  </p>
  <a href="#" class="btn btn-default btn-sm">Edit</a>
</fieldset>
  {{/content}}
{{/extend}}


<!-- Example: Temp Address Panel -->
{{#extend 'code-example'}}
  {{#content 'section-id'}}panel-temp-address{{/content}}

  {{#content 'section-title'}}Temp Address{{/content}}

  {{#content 'HTML'}} 
<fieldset class="c-panel">
  <legend class="c-panel__temp-legend">
    <div class="u-icon u-icon--badge--primary-a">
      {{> icon-check}}
    </div>
    <span>Active</span>
    Temporary Address
  </legend>
  <p class="text-small">Effective from: 02/09/2018 to 03/05/2018</p>
  <hr>
  <p class="color-grayscale-a no-margin"><strong>123 Main Street</strong></p>
  <p class="text-small">
    [address line 2]<br>
    [address line 3]<br>
    St. Louis, MO 63123<br>
    United States
  </p>
  <a href="#" class="btn btn-default btn-sm">Edit</a>
  <a href="#" class="btn btn-alt-a btn-sm">Delete</a>
</fieldset>
  {{/content}}
{{/extend}}


<!-- Example: Meters Panel -->
{{#extend 'code-example'}}
  {{#content 'section-id'}}panel-meters{{/content}}

  {{#content 'section-title'}}Meters{{/content}}

  {{#content 'HTML'}} 
<fieldset class="c-panel">
  <p class="text-small">
    Service Point: 84750515<br>
    Meter: 70219726 (active)
  </p>
  <p class="text-small">
    <strong>Delivery Service</strong><br>
    Rate 1M Res Elect Svc - Space Heat - RSC
  </p>
  <p>
    Other data point: <span class="text-light">[data here]</span>
  </p>
</fieldset>
  {{/content}}
{{/extend}}
</section>
