---
title: Promo Banner
category: Common
breadcrumbs:
  type: inline
  list:
  - name: Common
    link: index.html
  - name: Promo Banner
---

<h1>Promo Banner</h1>

<!-- Example: Promo Banner Icon Default -->
{{#extend 'code-example'}}
  {{#content 'section-id'}}icon-default{{/content}}

  {{#content 'section-title'}}Icon Default{{/content}}

  {{#content 'HTML'}}
{{> c-promo full-width-hero.residential.promo}}
  {{/content}}
{{/extend}}

<!-- Example: Promo Banner Icon Horizontal -->
{{#extend 'code-example'}}
  {{#content 'section-id'}}icon-horizontal{{/content}}

  {{#content 'section-title'}}Icon Horizontal{{/content}}

  {{#content 'HTML'}}
{{> c-promo account-dashboard.promo2}}
  {{/content}}
{{/extend}}

<!-- Example: Promo Banner Icon Default -->
{{#extend 'code-example'}}
  {{#content 'section-id'}}image{{/content}}

  {{#content 'section-title'}}Image{{/content}}

  {{#content 'HTML'}}
{{> c-promo account-dashboard.promo}}
  {{/content}}
{{/extend}}