---
title: Selectors
category: Common
breadcrumbs:
  type: inline
  list:
  - name: Common
    link: index.html
  - name: Selectors
---

<h1>Selector Components</h1>

<!-- Example: Account Selector -->
{{#extend 'code-example'}}
  {{#content 'section-id'}}selector--base{{/content}}

  {{#content 'section-title'}}Simple Selector{{/content}}

  {{#content 'HTML'}}
<div class="container-fluid container-800">
  <div class="row">     
    <div class="col-xs-12">

      <!-- Component starts here -->
      {{#extend 'o-selector'}}

          {{#content 'items'}}

              <!-- First item -->
              {{#extend 'o-selector__item'}}
                  {{#content 'content'}}
                      <p class="c-selector__title text-small text-bold">Selector Text Here</P>
                  {{/content}}
              {{/extend}}
          {{/content}}
      {{/extend}}
      <!-- end component -->

    </div>
  </div>
</div>
  {{/content}}
{{/extend}}

<!-- Example: Account Selector -->
{{#extend 'code-example'}}
  {{#content 'section-id'}}selector--detailed{{/content}}

  {{#content 'section-title'}}Detailed Selector{{/content}}

  {{#content 'HTML'}}
<div class="container-fluid container-800">
  <div class="row">     
    <div class="col-xs-12">

      <!-- Component starts here -->
      {{#extend 'o-selector'}}

          {{#content 'items'}}

              <!-- First item -->
              {{#extend 'o-selector__item'}}
                  {{#content 'content'}}
                      <p class="text-small">
                        <span class="c-selector__title text-bold">1397 Timothy Ridge Dr.</span><br>
                        St Charles, MO, 63304
                      </P>
                  {{/content}}
              {{/extend}}
          {{/content}}
      {{/extend}}
      <!-- end component -->

    </div>
  </div>
</div>
  {{/content}}
{{/extend}}