---
title: SVG Assets
category: Common
breadcrumbs:
  type: inline
  list:
  - name: Common
    link: index.html
  - name: SVG Assets
---

<h1>SVG Assets</h1>

<!-- Example: SVG Logos -->
{{#extend 'code-example'}}
  {{#content 'section-id'}}svg-logos{{/content}}

  {{#content 'section-title'}}SVG Logos{{/content}}

  {{#content 'HTML'}}
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-md-3">
      <div class="logo-container">
        {{> logo-ameren }}
      </div>
    </div>

    <div class="col-xs-12 col-sm-6 col-md-3">
      <div class="logo-container">
        {{> logo-ameren--missouri }}
      </div>
    </div>

    <div class="col-xs-12 col-sm-6 col-md-3">
      <div class="logo-container">
        {{> logo-ameren--illinois }}
      </div>
    </div>

    <div class="col-xs-12 col-sm-6 col-md-3">
      <div class="logo-container" style="background-color:#24933c;">
        {{> logo-ameren--white }}
      </div>
    </div>
  </div>
  {{/content}}
{{/extend}}

<style>
  .col-sm-2 p {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
</style>
<!-- Example: SVG Icons -->
{{#extend 'code-example'}}
  {{#content 'section-id'}}svg-icons{{/content}}

  {{#content 'section-title'}}Common SVG Icons{{/content}}

  {{#content 'HTML'}}

  <div class="row">
    <div class="col-xs-4 col-sm-2">

      {{>  icon-account--default }}

      <p><em>icon-account--default</em></p>
    </div>
  
    <div class="col-xs-4 col-sm-2">

      {{>  icon-account--disabled }}

      <p><em>icon-account--disabled</em></p>
    </div>
  
    <div class="col-xs-4 col-sm-2">

      {{>  icon-account--logged-in }}

      <p><em>icon-account--logged-in</em></p>
    </div>
  
    <div class="col-xs-4 col-sm-2">

      {{>  icon-account--manage }}

      <p><em>icon-account--manage</em></p>
    </div>
  
    <div class="col-xs-4 col-sm-2">

      {{>  icon-alert--default }}

      <p><em>icon-alert--default</em></p>
    </div>
  
    <div class="col-xs-4 col-sm-2">

      {{>  icon-alert--info }}

      <p><em>icon-alert--info</em></p>
    </div>
  
    <div class="col-xs-4 col-sm-2">

      {{>  icon-alert--success }}

      <p><em>icon-alert--success</em></p>
    </div>
  
    <div class="col-xs-4 col-sm-2">

      {{>  icon-alerts }}

      <p><em>icon-alerts</em></p>
    </div>
  
    <div class="col-xs-4 col-sm-2">

      {{>  icon-arrow }}

      <p><em>icon-arrow</em></p>
    </div>
  
    <div class="col-xs-4 col-sm-2">

      {{>  icon-calendar }}

      <p><em>icon-calendar</em></p>
    </div>
  
    <div class="col-xs-4 col-sm-2">

      {{>  icon-cart }}

      <p><em>icon-cart</em></p>
    </div>
  
    <div class="col-xs-4 col-sm-2">

      {{>  icon-check }}

      <p><em>icon-check</em></p>
    </div>
  
    <div class="col-xs-4 col-sm-2">

      {{>  icon-chevron }}

      <p><em>icon-chevron</em></p>
    </div>
  
    <div class="col-xs-4 col-sm-2">

      {{>  icon-clock }}

      <p><em>icon-clock</em></p>
    </div>
  
    <div class="col-xs-4 col-sm-2">

      {{>  icon-close }}

      <p><em>icon-close</em></p>
    </div>
  
    <div class="col-xs-4 col-sm-2">

      {{>  icon-code }}

      <p><em>icon-code</em></p>
    </div>
  
    <div class="col-xs-4 col-sm-2">

      {{>  icon-contact-phone }}

      <p><em>icon-contact-phone</em></p>
    </div>
  
    <div class="col-xs-4 col-sm-2">

      {{>  icon-dashboard }}

      <p><em>icon-dashboard</em></p>
    </div>
  
    <div class="col-xs-4 col-sm-2">

      {{>  icon-downed-line }}

      <p><em>icon-downed-line</em></p>
    </div>
  
    <div class="col-xs-4 col-sm-2">

      {{>  icon-download }}

      <p><em>icon-download</em></p>
    </div>
  
    <div class="col-xs-4 col-sm-2">

      {{>  icon-electric }}

      <p><em>icon-electric</em></p>
    </div>
  
    <div class="col-xs-4 col-sm-2">

      {{>  icon-fan }}

      <p><em>icon-fan</em></p>
    </div>
  
    <div class="col-xs-4 col-sm-2">

      {{>  icon-gas }}

      <p><em>icon-gas</em></p>
    </div>
  
    <div class="col-xs-4 col-sm-2">

      {{>  icon-home--default }}

      <p><em>icon-home--default</em></p>
    </div>
  
    <div class="col-xs-4 col-sm-2">

      {{>  icon-home--location }}

      <p><em>icon-home--location</em></p>
    </div>
  
    <div class="col-xs-4 col-sm-2">

      {{>  icon-locked }}

      <p><em>icon-locked</em></p>
    </div>
  
    <div class="col-xs-4 col-sm-2">

      {{>  icon-map }}

      <p><em>icon-map</em></p>
    </div>
  
    <div class="col-xs-4 col-sm-2">

      {{>  icon-minus }}

      <p><em>icon-minus</em></p>
    </div>
  
    <div class="col-xs-4 col-sm-2">

      {{>  icon-outage--1 }}

      <p><em>icon-outage--1</em></p>
    </div>
  
    <div class="col-xs-4 col-sm-2">

      {{>  icon-outage--2 }}

      <p><em>icon-outage--2</em></p>
    </div>
  
    <div class="col-xs-4 col-sm-2">

      {{>  icon-paybill--1 }}

      <p><em>icon-paybill--1</em></p>
    </div>
  
    <div class="col-xs-4 col-sm-2">

      {{>  icon-paybill--2 }}

      <p><em>icon-paybill--2</em></p>
    </div>
  
    <div class="col-xs-4 col-sm-2">

      {{>  icon-payment-agreement }}

      <p><em>icon-payment-agreement</em></p>
    </div>
  
    <div class="col-xs-4 col-sm-2">

      {{>  icon-pdf }}

      <p><em>icon-pdf</em></p>
    </div>
  
    <div class="col-xs-4 col-sm-2">

      {{>  icon-plus }}

      <p><em>icon-plus</em></p>
    </div>
  
    <div class="col-xs-4 col-sm-2">

      {{>  icon-power }}

      <p><em>icon-power</em></p>
    </div>

    <div class="col-xs-4 col-sm-2">

      {{>  icon-report-outage }}

      <p><em>icon-report-outage</em></p>
    </div>
  
    <div class="col-xs-4 col-sm-2">

      {{>  icon-search }}

      <p><em>icon-search</em></p>
    </div>
  
    <div class="col-xs-4 col-sm-2">

      {{>  icon-streetlight }}

      <p><em>icon-streetlight</em></p>
    </div>
    <div class="col-xs-4 col-sm-2">

      {{>  icon-support }}

      <p><em>icon-support</em></p>
    </div>

    <div class="col-xs-4 col-sm-2">

      {{>  icon-switch }}

      <p><em>icon-switch</em></p>
    </div>

    <div class="col-xs-4 col-sm-2">

      {{>  icon-usage }}

      <p><em>icon-usage</em></p>
    </div>

    <div class="col-xs-4 col-sm-2">

      {{>  icon-usage--billing }}

      <p><em>icon-usage--billing</em></p>
    </div>
  </div>

  {{/content}}
{{/extend}}


<!-- Example: Buttons with SVG Icons -->
{{#extend 'code-example'}}
  {{#content 'section-id'}}svg-icons-program{{/content}}

  {{#content 'section-title'}}Program SVG Icons{{/content}}

  {{#content 'HTML'}}
  <div class="row">
    <div class="col-xs-4 col-sm-2">

      {{>  icon-autopay }}

      <p><em>icon-autopay</em></p>
    </div>
  
    <div class="col-xs-4 col-sm-2">

      {{>  icon-budget-billing }}

      <p><em>icon-budget-billing</em></p>
    </div>
  
    <div class="col-xs-4 col-sm-2">

      {{>  icon-dollar-more }}

      <p><em>icon-dollar-more</em></p>
    </div>
  
    <div class="col-xs-4 col-sm-2">

      {{>  icon-home-network }}

      <p><em>icon-home-network</em></p>
    </div>
  
    <div class="col-xs-4 col-sm-2">

      {{>  icon-neighbors-friends }}

      <p><em>icon-neighbors-friends</em></p>
    </div>
  
    <div class="col-xs-4 col-sm-2">

      {{>  icon-paperless }}

      <p><em>icon-paperless</em></p>
    </div>
  
    <div class="col-xs-4 col-sm-2">

      {{>  icon-peaktime }}

      <p><em>icon-peaktime</em></p>
    </div>
  
    <div class="col-xs-4 col-sm-2">

      {{>  icon-pure-power }}

      <p><em>icon-pure-power</em></p>
    </div>
  
    <div class="col-xs-4 col-sm-2">

      {{>  icon-share }}

      <p><em>icon-share</em></p>
    </div>
  
    <div class="col-xs-4 col-sm-2">

      {{>  icon-solar }}

      <p><em>icon-solar</em></p>
    </div>
  </div>
  {{/content}}
{{/extend}}


<!-- Example: Buttons with SVG Icons -->
{{#extend 'code-example'}}
  {{#content 'section-id'}}svg-utilities-direction{{/content}}

  {{#content 'section-title'}}Directional Utility Classes for SVG Icons{{/content}}

  {{#content 'HTML'}}
  <p>All of these utility classes require that a &lt;div class="u-icon"&gt; tag be wrapped around the &lt;svg&gt; element. For the desired effect, also include the following classes:</p>

  <div class="row">
    <div class="col-xs-4 col-sm-2">

      <div class="u-icon u-icon--left">
        {{>  icon-arrow }}
      </div>

      <p><em>u-icon--left</em></p>
    </div>
  
    <div class="col-xs-4 col-sm-2">

      <div class="u-icon u-icon--down">
        {{>  icon-chevron }}
      </div>
      

      <p><em>u-icon--down</em></p>
    </div>
    <div class="col-xs-4 col-sm-2">

      <div class="u-icon u-icon--up">
        {{>  icon-chevron }}
      </div>

      <p><em>u-icon--up</em></p>
    </div>
  </div>
  {{/content}}
{{/extend}}

<!-- Example: Buttons with SVG Icons -->
{{#extend 'code-example'}}
  {{#content 'section-id'}}svg-badges{{/content}}

  {{#content 'section-title'}}Badge Utility Classes for SVG Icons{{/content}}

  {{#content 'HTML'}}
  <p>All of these utility classes require that a &lt;div class="u-icon"&gt; tag be wrapped around the &lt;svg&gt; element. For the desired effect, also include the following classes:</p>

  <div class="row">
    <div class="col-xs-4 col-sm-2" style="background-color: #1b6cb5;padding:15px;">

      <div class="u-icon u-icon--badge--primary">
        {{>  icon-close }}
      </div>

      <p style="color:white;"><em>u-icon--badge--primary</em></p>
    </div>

    <div class="col-xs-4 col-sm-2" style="padding: 15px;">

      <div class="u-icon u-icon--badge--secondary-a">
        {{>  icon-close }}
      </div>

      <p><em>u-icon--badge--secondary-a</em></p>
    </div>
  </div>
  {{/content}}
{{/extend}}


<!-- Example: Green Check -->
{{#extend 'code-example'}}
  {{#content 'section-id'}}svg-green-check{{/content}}

  {{#content 'section-title'}}Green Check Icon{{/content}}

  {{#content 'HTML'}}
  <p>Adjust the `font-size` to change the icon's width and height.</p>

  <div class="row">
    <div class="col-xs-4 col-sm-2">

      <div class="u-icon green-check">
        {{>  icon-check }}
      </div>

      <p><em>green-check</em></p>
    </div>
  </div>
  {{/content}}
{{/extend}}