---
title: Tables
category: Common
breadcrumbs:
  type: inline
  list:
  - name: Common
    link: index.html
  - name: Tables
---

<h1>Tables</h1>

<!-- Example: Account Selector -->
{{#extend 'code-example'}}
  {{#content 'section-id'}}selector--base{{/content}}

  {{#content 'section-title'}}Default Table{{/content}}

  {{#content 'HTML'}}

<table>
    <thead>
        <tr>
            <th></th>
            <th>Column Heading</th>
            <th>Column Heading</th>
            <th>Column Heading</th>
            <th>Column Heading</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th>Row</th>
            <td>Apply output from a qualifying renewable energy source to offset the usage on your energy bill</td>
            <td>Receive compensation on a qualifying generator’s output based on Midwest wholesale electric market prices</td>
            <td>Subscribe to solar output from a Generator/Owner and use that offset the usage on your energy bill</td>
            <td>Source your energy from a Retail Electric Supplier	</td>
        </tr>
        <tr>
            <th>Row</th>
            <td>On-Site Generation</td>
            <td>On-Site Generation</td>
            <td>Subscription to solar output from Solar Generator/ Owner</td>
            <td>Source depends on Retail Electric Supplier</td>
        </tr>
        <tr>
            <th>Row</th>
            <td>No cost to participant</td>
            <td>No cost to participant</td>
            <td>Subscription fee paid to Solar Generator/Owner per individual contract terms</td>
            <td>Subscription fee paid to Third Party Supplier per individual contract terms</td>
        </tr>
    </tbody>
</table>

  {{/content}}
{{/extend}}