---
title: Tabs
category: Common
breadcrumbs:
  type: inline
  list:
  - name: Common
    link: Common/index.html
  - name: Tabs
---

<h1>Tabs</h1>


<!-- Example: Tabs - Link -->
{{#extend 'code-example'}}
    {{#content 'section-id'}}tabs-link{{/content}}
    {{#content 'section-title'}}Tabs - Link{{/content}}
    {{#content 'HTML'}}

<p>This version of the component is used not as tabs, but as sub-navigation links for landing pages. Each "tab" will link the user to a new page.</p>

<p>Example 1</p>
<ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active">
        <a href="#">Billing</a>
    </li>
    <li role="presentation">
        <a href="#">Payments</a>
    </li>
</ul>

<br><br>
<p>Example 2</p>

<ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active">
        <a href="#">Page Link</a>
    </li>
    <li role="presentation">
        <a href="#">Another</a>
    </li>
    <li role="presentation">
        <a href="#">Link to Page</a>
    </li>
    <li role="presentation">
        <a href="#">External</a>
    </li>
</ul>

    {{/content}}
{{/extend}}


<!-- Example: Tabs - Toggle -->
{{#extend 'code-example'}}
    {{#content 'section-id'}}tabs-toggle{{/content}}
    {{#content 'section-title'}}Tabs - Toggle{{/content}}
    {{#content 'HTML'}}

{{! Include Tabbed Nav component }}
{{#extend 'o-tabbed-nav'}}
    {{#content 'tabs'}}

        {{! Include first tab }}
        {{#extend 'o-tabbed-nav__tab'}}
            {{#content 'class'}}active{{/content}}
            {{#content 'id'}}lorem{{/content}}
            {{#content 'label'}}Lorem{{/content}}
        {{/extend}}

        {{! Include second tab }}
        {{#extend 'o-tabbed-nav__tab'}}
            {{#content 'class'}}{{/content}}
            {{#content 'id'}}ipsum{{/content}}
            {{#content 'label'}}Ipsum{{/content}}
        {{/extend}}

        {{! Include second tab }}
        {{#extend 'o-tabbed-nav__tab'}}
            {{#content 'class'}}{{/content}}
            {{#content 'id'}}dolor-sit{{/content}}
            {{#content 'label'}}Dolor Sit{{/content}}
        {{/extend}}

        {{! Include fourth tab }}
        {{#extend 'o-tabbed-nav__tab'}}
            {{#content 'class'}}{{/content}}
            {{#content 'id'}}amet{{/content}}
            {{#content 'label'}}Amet{{/content}}
        {{/extend}}

        {{! Include fifth tab }}
        {{#extend 'o-tabbed-nav__tab'}}
            {{#content 'class'}}{{/content}}
            {{#content 'id'}}consectetur{{/content}}
            {{#content 'label'}}Consectetur{{/content}}
        {{/extend}}

        {{! Include sixth tab }}
        {{#extend 'o-tabbed-nav__tab'}}
            {{#content 'class'}}{{/content}}
            {{#content 'id'}}adipisicing{{/content}}
            {{#content 'label'}}Adipisicing{{/content}}
        {{/extend}}
    {{/content}}

    {{#content 'tab-contents'}}
        
        {{! Include first tab content }}
        {{#extend 'o-tabbed-nav__content'}}
            {{#content 'class'}}active{{/content}}
            {{#content 'id'}}lorem{{/content}}
            {{#content 'content'}}
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Inventore provident dolores possimus, maiores nam impedit corporis consequuntur ullam temporibus quo molestiae voluptatum dolore sed fugit nihil rerum illum asperiores cupiditate.</p>
            {{/content}}
        {{/extend}}

        {{! Include second tab content }}
        {{#extend 'o-tabbed-nav__content'}}
            {{#content 'class'}}{{/content}}
            {{#content 'id'}}ipsum{{/content}}
            {{#content 'content'}}
            <p>Ipsum te esse deleniti, tempor appetere pericula vel ne, pro erant maiorum no. Pro at erant splendide, vix omnesque suavitate id, noster iisque dolorem quo te. An sed sonet aperiam dolores, his iudico mandamus philosophia in. In vix alii tritani. Usu te dicta scripta, mei omittam voluptua te. Tale docendi dolores no per.</p>
            {{/content}}
        {{/extend}}

        {{! Include third tab content }}
        {{#extend 'o-tabbed-nav__content'}}
            {{#content 'class'}}{{/content}}
            {{#content 'id'}}dolor-sit{{/content}}
            {{#content 'content'}}
            <p>Dolor sit amet propriae his te, te invidunt insolens vel. Possim iudicabit consetetur et eos. Dicta eripuit laoreet ius ei, ius et fabellas necessitatibus. No fugit aeque pri, soleat corpora omittam ne cum, mei discere urbanitas ad.</p>
            {{/content}}
        {{/extend}}

        {{! Include fourth tab content }}
        {{#extend 'o-tabbed-nav__content'}}
            {{#content 'class'}}{{/content}}
            {{#content 'id'}}amet{{/content}}
            {{#content 'content'}}
            <p>Amet eos in illum labores lobortis. An sea graecis omittantur, his ipsum incorrupte cotidieque ex. Eu eos ancillae honestatis, cu his quod modus utinam, in cum oratio meliore. Facer quidam te vel, ad mel appareat molestiae. Vitae minimum conceptam no vis.</p>
            {{/content}}
        {{/extend}}

        {{! Include fifth tab content }}
        {{#extend 'o-tabbed-nav__content'}}
            {{#content 'class'}}{{/content}}
            {{#content 'id'}}consectetur{{/content}}
            {{#content 'content'}}
            <p>Consectetur ad mea erroribus adversarium. Eruditi lobortis moderatius eu mea, amet cibo cu quo. Has ad oblique similique, ne quas propriae vis. Ne vim veritus senserit honestatis, ei est dico putent eligendi. Usu dolorum maluisset te, ea choro honestatis eos, aperiri corrumpit dissentiunt ea vim. Per adhuc salutatus ea, ne dico fugit mea. Vim cibo accusamus eu, an consul cetero recusabo cum.</p>
            {{/content}}
        {{/extend}}

        {{! Include sixth tab content }}
        {{#extend 'o-tabbed-nav__content'}}
            {{#content 'class'}}{{/content}}
            {{#content 'id'}}adipisicing{{/content}}
            {{#content 'content'}}
            <p>Adipisicing ex vel affert eligendi intellegebat. In nam iuvaret voluptua, petentium voluptatibus sed te, eam wisi iusto ne. Id dico meliore ceteros sed, essent cetero singulis ne vim. Ius harum praesent vulputate te, ut vel mucius intellegebat, ne mei nibh nonumy accumsan. Est dolor dolore dissentiet cu, et alia solum eos.</p>
            {{/content}}
        {{/extend}}
    {{/content}}
{{/extend}}

    {{/content}}
{{/extend}}

