---
title: Typography
category: Common
breadcrumbs:
  type: inline
  list:
  - name: Common
    link: Common/index.html
  - name: Typography
---

<h1>Typography</h1>

<!-- Example: Headings -->
{{#extend 'code-example'}}
  {{#content 'section-id'}}font-families{{/content}}

  {{#content 'section-title'}}Font Families / Weights{{/content}}

  {{#content 'HTML'}}
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-4" style="margin-top: 2rem;">
          <p class="lead text-light">Roboto Light</p>
          <p class="text-light">ABCDEFGHIJKLMNOPQRSTUVWXYZ<br>
            abcdefghijklmnopqrstuvwxyz<br>
            1234567890</p>
        </div>
        <div class="col-sm-4" style="margin-top: 2rem;">
          <p class="lead text-regular">Roboto Regular</p>
          <p class="text-regular">ABCDEFGHIJKLMNOPQRSTUVWXYZ<br>
            abcdefghijklmnopqrstuvwxyz<br>
            1234567890</p>
        </div>
        <div class="col-sm-4" style="margin-top: 2rem;">
          <p class="lead text-bold">Roboto Bold</p>
          <p class="text-bold">ABCDEFGHIJKLMNOPQRSTUVWXYZ<br>
            abcdefghijklmnopqrstuvwxyz<br>
            1234567890</p>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-offset-4 col-sm-4" style="margin-top: 2rem;">
          <p class="lead text-regular text-condensed">Roboto Condensed Regular</p>
          <p class="text-regular text-condensed">ABCDEFGHIJKLMNOPQRSTUVWXYZ<br>
            abcdefghijklmnopqrstuvwxyz<br>
            1234567890</p>
        </div>
        <div class="col-sm-4" style="margin-top: 2rem;">
          <p class="lead text-bold text-condensed">Roboto Condensed Bold</p>
          <p class="text-bold text-condensed">ABCDEFGHIJKLMNOPQRSTUVWXYZ<br>
            abcdefghijklmnopqrstuvwxyz<br>
            1234567890</p>
        </div>
      </div>
    </div>
  {{/content}}
{{/extend}}

<!-- Example: Headings -->
{{#extend 'code-example'}}
  {{#content 'section-id'}}typography{{/content}}

  {{#content 'section-title'}}Headings{{/content}}

  {{#content 'HTML'}}
    <h1>H1 / .h1-like – The Hatter opened his eyes very wide.</h1>
    <h2>H2 / .h2-like – Why is a raven like a writing-desk?</h2>
    <h3>H3 / .h3-like – I'm glad they've begun asking riddles.</h3>
    <h4>H4 / .h4-like – Do you mean that you think you can find out the answer to it?</h4>
    <h5>H5 / .h5-like – Then you should say what you mean.</h5>
    <h6>H6 / .h6-like – "Then it wasn't very civil of you to offer it," said Alice.</h6>
  {{/content}}
{{/extend}}

<!-- Example: Paragraph -->
{{#extend 'code-example'}}
  {{#content 'section-id'}}paragraph{{/content}}

  {{#content 'section-title'}}Paragraph (16px){{/content}}

  {{#content 'HTML'}}
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
  {{/content}}
{{/extend}}

<!-- Example: Lead -->
{{#extend 'code-example'}}
  {{#content 'section-id'}}lead{{/content}}

  {{#content 'section-title'}}Lead Text (24px){{/content}}

  {{#content 'HTML'}}
    <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
  {{/content}}
{{/extend}}

<!-- Example: Large -->
{{#extend 'code-example'}}
  {{#content 'section-id'}}large-text{{/content}}

  {{#content 'section-title'}}Large Text (18px){{/content}}

  {{#content 'HTML'}}
    <p class="large-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
  {{/content}}
{{/extend}}

<!-- Example: Small -->
{{#extend 'code-example'}}
  {{#content 'section-id'}}small-text{{/content}}

  {{#content 'section-title'}}Small Text (14px){{/content}}

  {{#content 'HTML'}}
    <p class="text-small">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
  {{/content}}
{{/extend}}

<!-- Example: Extra Small -->
{{#extend 'code-example'}}
  {{#content 'section-id'}}small-text{{/content}}

  {{#content 'section-title'}}Extra Small Text (12px){{/content}}

  {{#content 'HTML'}}
    <p><small>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</small></p>
    <p class="text-x-small">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
  {{/content}}
{{/extend}}

<h1>Theming Classes</h1>



{{!-- 

.text-small

.text-x-small  --}}


<!-- Example: Color Primary A -->
{{#extend 'code-example'}}
  {{#content 'section-id'}}color-primary-a{{/content}}

  {{#content 'section-title'}}Color Primary A{{/content}}

  {{#content 'HTML'}}
    <p class="color-primary-a">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt.</p>
  {{/content}}
{{/extend}}

<!-- Example: Color Primary B -->
{{#extend 'code-example'}}
  {{#content 'section-id'}}color-primary-b{{/content}}

  {{#content 'section-title'}}Color Primary B{{/content}}

  {{#content 'HTML'}}
    <p class="color-primary-b">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt.</p>
  {{/content}}
{{/extend}}

<!-- Example: Color Danger -->
{{#extend 'code-example'}}
  {{#content 'section-id'}}color-grayscale-a{{/content}}

  {{#content 'section-title'}}Color Grayscale A{{/content}}

  {{#content 'HTML'}}
    <p class="color-grayscale-a">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt.</p>
  {{/content}}
{{/extend}}

<!-- Example: Color Danger -->
{{#extend 'code-example'}}
  {{#content 'section-id'}}danger-text{{/content}}

  {{#content 'section-title'}}Warning / Error / Callout Text{{/content}}

  {{#content 'HTML'}}
    <p class="color-danger">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt.</p>
  {{/content}}
{{/extend}}
