﻿.login-links {
    font-size: 1.4rem;
    font-weight: 500;
    color: $primary-swatch-b;
}

.login-header {
    background-color: rgba($white, 0.9);
    border-radius: 10px;
    margin: 20px auto;
    padding: 20px;
}

.form-auth-response {
    a {
        color: $primary-swatch-b;
    }

    .access-blocked-body {
        display: inline;
        font-size: 2rem;
    }

    .access-blocked-left {
        border-top: 1px solid $grayscale-swatch-c;
        border-bottom: 1px solid $grayscale-swatch-c;

        svg {
            * {
                stroke: $primary-swatch-c;
                fill: none;
            }
        }
    }

    .btn {
        font-size: 2rem;
    }

    .note-text {
        font-size: 1.6rem;
    }

    .c-back-login {
        .navtext {
            vertical-align: top;
        }

        svg {
            * {
                stroke: $primary-swatch-b;
            }
        }
    }

    svg {
        margin-right: 0.5rem;
    }
}

.form-forgotuserid-response {
    text-align: center;

    .access-blocked-body {
        display: inline;
        font-size: 2rem;
    }
}

.success-message {
    color: $primary-swatch-a;
    text-align: center;
    border-bottom: 1px solid $grayscale-swatch-c;
}


.c-hero__login-form.hide {
    display: none !important;
}

@media (max-width: $screen-sm-min) {

    .c-hero {
        .c-hero__login-form.hide {
            display: block !important;
            background-color: white;
            margin: 0 -20px;
            padding: 20px;
        }

        .login.login-header {
            display: none !important;
        }
    }
}

