//** MIXINS
//
//## Adds dotted border to list
@mixin dotted-border($position: bottom) {
    background-image: linear-gradient(to right, $gray-20 33%, rgba(255, 255, 255, 0) 0%);
    background-repeat: repeat-x;
    background-position: $position;
    background-size: 4px 1px;
}


//## Mixin to remove list-style
@mixin unstyle-list() {
    > li::before {
        content: '';
    }
}