// Typography

$base-font-family: $font-stack-roboto;
$heading-font-family: $font-stack-roboto;

// Font Sizes
$base-font-size: 1.6rem;
$h1-font-size: 3.6rem;
$h2-font-size: 2.6rem;
$h3-font-size: 2.4rem;
$h4-font-size: 2rem;
$h5-font-size: 1.6rem;
$h6-font-size: 1.4rem;


// Font Weights
$heading-font-weight: 300;


// Line height
$base-line-height: 1.5;
$heading-line-height: 1.2;


// Other Sizes
$base-border-radius: 3px;
$base-spacing: floor(($base-font-size * $base-line-height)) !default; // 20px;
$small-spacing: $base-spacing / 2;
$base-z-index: 0;


//== Grid system
//
//## Define your custom responsive grid.

// Navbar collapse
//** Point at which the navbar becomes uncollapsed.
$grid-float-breakpoint:     1200px;


//== Colors
//
//## All colors definitions 

// Green
$green-050: #f7fff2;
$green-300: #2bb348;
$green-500: #218737; // Ameren Green
$green-700: #175e26;
$green-900: #124a1e;

// Blue
$blue-050: #e8f1fa;
$blue-300: #4c97d9;
$blue-500: #1b6cb5; // Ameren Blue
$blue-700: #145289;
$blue-900: #114472;

// Gray
$gray-05: #f4f4f4;
$gray-10: #e3e3e3;
$gray-20: #c6c6c6;
$gray-40: #959595;
$gray-60: #636363; // Ameren Gray
$gray-80: #363636;

// Red
$red-050: #f4e2e2;
$red-300: #ff4d4d;
$red-500: #d2332f;
$red-700: #8c1207;
$red-900: #520606; 

// Yellow
$yellow-050: #fdf9e7;
$yellow-300: #faea91;
$yellow-500: #f0d22b;
$yellow-700: #d49100;
$yellow-900: #8c540a;

// Digital Blue
$digital-blue-500: #1a53ff;

// Purple
$purple-500: #4a1de1;

// Black and White
$black: #08060d;
$white: #fff;


$dark-green: $green-700;
$border-green: $green-900;

// Swatches
$primary-swatch-a: $green-500;
$primary-swatch-b: $blue-500;
$primary-swatch-c: $red-500;
$primary-swatch-d: $black;

$accent-swatch-a: $purple-500;
$accent-swatch-b: $yellow-500;

$grayscale-swatch-a: $gray-80;
$grayscale-swatch-b: $gray-60;
$grayscale-swatch-c: $gray-10;
$grayscale-swatch-d: $gray-05;


// Font Colors
$base-font-color: $grayscale-swatch-b;
$action-color: $primary-swatch-b;
$form-input-color: $grayscale-swatch-b;


// Bootstrap Colors
$brand-primary: $primary-swatch-a;
$brand-success: $primary-swatch-a;
$brand-info: $primary-swatch-b;
$brand-warning: $accent-swatch-b;
$brand-danger: $primary-swatch-c;


//== Form states and alerts
//
//## Define colors for form feedback states and, by default, alerts.

$state-success-text:             $green-900;
$state-success-bg:               $green-050;
$state-success-border:           rgba($green-300, 0.5);
$state-success-icon:             $green-500;

$state-info-text:                $blue-900;
$state-info-bg:                  rgba($blue-050, 0.4);
$state-info-border:              rgba($blue-300, 0.5);
$state-info-icon:                $blue-300;

$state-warning-text:             $yellow-900;
$state-warning-bg:               $yellow-050;
$state-warning-border:           rgba($yellow-300, 1);
$state-warning-icon:             $yellow-700;

$state-danger-text:              $red-900;
$state-danger-bg:                rgba($red-050, 0.4);
$state-danger-border:            rgba($red-300, 0.5);
$state-danger-icon:              $red-500;


// Border
$base-border-color: $white;
$base-border: 2px solid $base-border-color;
$btn-border-radius-base: 2rem;

//** Border color for inputs on focus
// $input-border-focus:             $primary-swatch-a !default;

// Box Shadow
$box-shadow-default: 0 0 0.5rem rgba($black, 0.16);

// Background Colors
$base-background-color: #fff;
$secondary-background-color: tint($base-border-color, 75%);

// Padding
$padding-base-vertical:     10px;
$padding-base-horizontal:   40px;

// Buttons
$btn-default-color: $primary-swatch-b;
$btn-font-weight: bold;


// Forms
$input-color:                    $form-input-color;
$input-border:                   $gray-20;
$input-border-radius:            1rem;
$input-border-focus:             #66afe9 !default;
$input-color-placeholder:        $gray-20;
$form-group-margin-bottom:       3rem;
$input-group-addon-bg:           transparent;
$input-group-addon-border-color: $gray-20;


// Forms
$form-box-shadow: inset 0 1px 3px rgba($black, 0.06);
// $form-box-shadow-focus: $form-box-shadow, 0 0 5px adjust-color($action-color, $lightness: -5%, $alpha: -0.3);
$form-box-shadow-focus: inset 1px 2px 6px rgba($black, 0.06);

// Animations
$base-duration: 150ms;
$base-timing: ease;

//gradiant

$textured-background: repeating-linear-gradient(-45deg, transparent 0, rgba(0, 0, 0, 0.2) 2px, rgba(0, 0, 0, 0.2) 2px, transparent 4px);
