﻿.carousel {
    .item {
        padding: 30px 15%;
        background-color: transparent;
        font-style: italic;
    }

    .carousel-control.carousel-control.carousel-control {
        background: none;
        text-shadow: none;
        color: $black;
    }

    .carousel-indicators.carousel-indicators {
        bottom: 0px;
    }

    .carousel-indicators.carousel-indicators li {
        height: .8rem;
        width: .8rem;
        background-color: $grayscale-swatch-c;
    }

    .carousel-indicators.carousel-indicators li.active {
        background-color: $primary-swatch-b;
    }

    .carousel-caption {
        color: $primary-swatch-a;
        position: static;
        text-shadow: none;
    }
}
    .dots {
        font-size: 14px;
        border-bottom: dotted 2px #bbb;
        width: 30%;
        display: block;
        margin: 20px auto;
        height: 0px;
    }
